<div class="overviewContainer">
    <div class="title">
        <div>
            <span>{{'_rides_overview_title' | translate}}</span>
        </div>
        <div>
            <p>
                {{'_rides_overview_description' | translate}}
            </p>
        </div>
    </div>
</div>