.overviewContainer{
    width: 100%;
    display: flex;
    padding-top: 100px;
    .title{
        width: 83%;
        display: block;
        margin: auto;
        div{
            display: flex;
            width: 100%;
           span{
                font-size: 55px;
                font-family: Lato Black;
                color: white;
                margin: auto;
                text-align: center
           }
    }
    div{
        display: flex;
        p{
            color: white;
            text-align: center;
            margin: auto;
            font-size: 24px;
            font-family: Lato Light;

        }
    }
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .overviewContainer{
        .title{
            width: 100% !important
        }
    }
}


@media only screen and (min-width: 375px) and (max-width: 768px) {
    .overviewContainer{
        .title{
            width: 99.5% !important
        }
    }
}
@media only screen and (min-width: 0) and (max-width: 375px) {

    .overviewContainer{
       
        .title{
            width: 100% !important;
            div{
               span{
                    font-size: 28px !important;
                    
               }
        }
        div{
          
            p{
           
                font-size: 16px !important;
               
    
            }
        }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 468px) {
    .overviewContainer{
       
        .title{
            width: 100% !important;
            div{
               span{
                    font-size: 45px !important;
                    
               }
        }
        div{
          
            p{
           
                font-size: 20px !important;
               
    
            }
        }
        }
    }
        
}