<div class="start_trip_to">
    <div class="start_trip_to_container">
        <div class="start_trip_to_title"><span *ngIf="informationAboutCity">{{'_start_trip_to_title' | translate}}{{' ' + informationAboutCity.city.key}}</span></div>
        <div class="start_trip_to_subtitle"><span>{{'_start_trip_to_subtitle' | translate}}</span></div>
        <div class="auction">
            <auction-actions [isInCitiesView]="false"></auction-actions>
        </div>

    </div>
</div>