.start_trip_to {
    min-height: 778px;
    background: rgb(255, 255, 255);
    display: flex;
    &_container {
        width: 75%;
        margin: auto;
        .start_trip_to_title {
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
            span {
                font-family: Lato Black;
                font-size: 55px;
                line-height: 75px;
                letter-spacing: 0.45px;
                color: rgb(18, 28, 39);
            }
        }
        .start_trip_to_subtitle {
            width: 100%;
            text-align: center;
            margin-bottom: 75px;
            span {
                font-family: Lato Light;
                font-size: 24px;
                line-height: 35px;
                color: rgb(18, 28, 39);
            }
        }
        .auction {
            width: 49.16%;
            margin: 0 auto;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .start_trip_to {
        min-height: 760px !important;
    }
    .start_trip_to_container {
        width: 89.75% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .start_trip_to {
        min-height: 592px !important;
    }
    .start_trip_to_container {
        width: 91.13% !important;
    }
    .auction {
        width: 65.80% !important;
    }
    .start_trip_to_title {
        span {
            font-size: 36px !important;
            line-height: 46px !important;
            letter-spacing: 0.3px !important;
        }
    }
    .start_trip_to_subtitle {
        span {
            font-size: 18px !important;
            line-height: 28px !important;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .start_trip_to {
        min-height: 461px !important;
    }
    .start_trip_to_container {
        width: 88.02% !important;
    }
    .auction {
        width: 82.73% !important;
    }
    .start_trip_to_title {
        display: none !important;
    }
    .start_trip_to_subtitle {
        display: none !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .start_trip_to {
        min-height: 592px !important;
    }
    .start_trip_to_container {
        width: 89.33% !important;
    }
    .auction {
        width: 100% !important;
    }
    .start_trip_to_title {
        display: none !important;
    }
    .start_trip_to_subtitle {
        display: none !important;
    }
}