<!-- <div style="height: 50px;width: 100%;background: red"></div> -->
<div class="sign_up">
    <div class="sign_up_container">
        <form class="sign_up_form" [formGroup]="signUpForm">
            <div class="destination__container">
                <div class="firstAndLastNames">
                    <div class="form-group first">
                        <label for="firstName">{{'_sign_up_first_name' | translate}}
                            <span class="text-danger" >*</span>
                        </label>

                        <input formControlName="firstName" class="form-control" id="firstName" placeholder="{{'_sign_up_first_name' | translate}}" />

                    </div>
                    <div class="form-group last">
                        <label for="lastName">{{'_sign_up_last_name' | translate}}
                            <span class="text-danger">*</span>
                        </label>

                        <input formControlName="lastName" class="form-control" id="lastName" placeholder="{{'_sign_up_last_name' | translate}}" />

                    </div>
                </div>

                <div class="form-group email">
                    <label for="password">{{'_sign_in_email' | translate}}</label>
                    <input formControlName="email" class="form-control" id="email" placeholder="{{'_sign_in_email' | translate}}" />
                </div>
                <div class="chooseAndConfirmPasswords">
                    <div class="form-group choose">
                        <label for="password">{{'_sign_up_choose_password' | translate}} 
                            <span class="text-danger" >*</span>
                        </label>

                        <input formControlName="password" type="password" class="form-control" id="choosePassword" placeholder="{{'_sign_up_choose_password' | translate}} " />

                    </div>
                    <div class="form-group confirm">
                        <label for="confirmPassword">{{'_sign_up_confirm_password' | translate}}
                            <span class="text-danger" >*</span>
                        </label>

                        <input [ngClass]="{'red___border': matchPasswords == true}" formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="{{'_sign_up_confirm_password' | translate}}" />

                    </div>
                </div>
                <!-- <div class="birthDateAndGender">
                    <div class="form-group birthDate">
                        <label for="birthDate">{{'_sign_up_date_of_birth' | translate}}
                                <span class="text-danger">*</span>
                        </label>
                        <input formControlName="dateOfBirth" class="form-control" id="birthDate" placeholder="DD/MM/YYYY" />
                    </div>
                    <div class="form-group gender">
                        <label for="gender">{{'_sign_up_gender' | translate}}</label>
                        <div id="gender">
                            <mat-radio-group formControlName="gender">
                                <mat-radio-button value="male">{{'_sign_up_gender_male' | translate}}</mat-radio-button>
                                <mat-radio-button value="female">{{'_sign_up_gender_female' | translate}}</mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </div>

                </div> -->
                <div class="phoneNumAndReferalId">
                    <div class="form-group phoneNum">
                        <label for="phoneNum">{{'_sign_up_mobile_phone' | translate}}
                                    <span class="text-danger" >*</span>
                            </label>
                        <int-phone-prefix defaultCountry='fr' #internationalPhone formControlName="phoneNumber"></int-phone-prefix>
                        <!-- <input formControlName="phoneNumber" class="form-control" id="phoneNum" placeholder="{{'_sign_up_mobile_phone' | translate}}" /> -->
                    </div>
                    <div class="form-group referalId">
                        <label for="referalId">{{'_sign_up_referal_id' | translate}}
                                        <span class="text-danger" ></span>
                                </label>
                        <input formControlName="referalCode" class="form-control" id="referalId" placeholder="{{'_sign_up_referal_id' | translate}}" />
                    </div>

                </div>
            </div>
            <div class=" privacy_policy">
                <label><input  formControlName="privacyPolicy" class="" type="checkbox" />
                    <span [innerHtml]="'_privacy_policy' | translate">
                          
                        </span>
                </label>
            </div>
            <div class="buttonContinue">
                <button class="btn start_button" (click)="onRiderSignUp()" [disabled]="signUpForm.invalid">{{'signUp' | translate}}</button>
            </div>

        </form>
    </div>
</div>
<div *ngIf="showOverlay" class="spinner"></div>