.sign_up {
    width: 100%;
    height: 832px;
    .sign_up_container {
        width: 50%;
        margin: auto;
        .sign_up_form {
            margin-top: 100px;
            .firstAndLastNames {
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                justify-content: space-between;
                .first {
                    width: 48%
                }
                .last {
                    width: 48%
                }
            }
            .email {
                margin-bottom: 30px;
            }
            .chooseAndConfirmPasswords {
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                justify-content: space-between;
                .choose {
                    width: 48%
                }
                .confirm {
                    width: 48%
                }
            }
            .birthDateAndGender {
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                justify-content: space-between;
                .birthDate {
                    width: 48%
                }
                .gender {
                    width: 48%;
                    display: block;
                    #gender {
                        height: 40px;
                        display: flex;
                        mat-radio-group {
                            margin: 8px 0;
                            color: white;
                        }
                    }
                }
            }
            .phoneNumAndReferalId {
                width: 100%;
                display: flex;
                margin-bottom: 30px;
                justify-content: space-between;
                .phoneNum {
                    width: 48%
                }
                .referalId {
                    width: 48%
                }
            }
            .privacy_policy {
                margin-top: 20px;
                margin-bottom: 20px;
                label {
                    display: block;
                    font-family: Lato Regular;
                    font-size: 14px;
                    line-height: 20px;
                    padding-left: 0px;
                    color: #ffffff;
                    white-space: nowrap;
                    span {
                        font-family: Lato Regular;
                        font-size: 14px;
                        line-height: 20px;
                        color: rgb(255, 255, 255);
                        &.und_line {
                            color: rgb(255, 255, 255);
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                input {
                    width: 13px;
                    height: 13px;
                    padding: 0;
                    margin: 0;
                    vertical-align: middle;
                    position: relative;
                    top: -1px;
                    *overflow: hidden;
                }
            }
            input {
                border: 1px solid rgba(0, 0, 0, 0.05);
                font-family: Lato Regular;
                height: 40px;
                color: rgba(255, 255, 255, 0.5);
                background: #484b50;
            }
            label {
                font-family: Lato Regular;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.12px;
                padding-left: 13px;
                color: #ffffff;
                .text-danger {
                    font-size: 14px;
                }
            }
            .start_button {
                font-family: Lato Bold;
                color: rgb(255, 255, 255);
                background: rgb(47, 204, 113);
                line-height: 19px;
                font-size: 16px;
                height: 40px;
                width: 73%;
            }
            .buttonContinue {
                width: 48%
            }
        }
    }
}

::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-family: Lato Regular
}

:host /deep/ .dropdown {
    .dropbtn {
        background: transparent !important;
        outline: none;
    }
    background: rgb( 72, 75, 80) !important;
}

:host /deep/ input {
    background: rgb(72, 75, 80) !important;
    border: none;
    height: 2.25rem;
    color: rgb(255, 255, 255) !important
}

.red___border {
    border-color: red !important;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .sign_up {
        .sign_up_container {
            width: 48.9% !important;
            .sign_up_form {
                margin-top: 99px !important;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .sign_up {
        height: 742px !important;
        .sign_up_container {
            width: 65.9% !important;
            .sign_up_form {
                margin-top: 79px !important;
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .sign_up {
        height: 712px !important;
        .sign_up_container {
            width: 82% !important;
            .sign_up_form {
                .birthDateAndGender {
                    .gender {
                        #gender {
                            mat-radio-group {
                                display: flex !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .sign_up {
        height: 1060px !important;
        .sign_up_container {
            width: 100% !important;
            .sign_up_form {
                margin-top: 49px;
                .firstAndLastNames {
                    display: block !important;
                    justify-content: none !important;
                    .first {
                        width: 100% !important
                    }
                    .last {
                        width: 100% !important
                    }
                }
                .chooseAndConfirmPasswords {
                    display: block !important;
                    justify-content: none !important;
                    .choose {
                        width: 100% !important
                    }
                    .confirm {
                        width: 100% !important
                    }
                }
                .birthDateAndGender {
                    display: block !important;
                    justify-content: none !important;
                    .birthDate {
                        width: 100%
                    }
                    .gender {
                        width: 100% !important;
                        display: block !important;
                        #gender {
                            height: 40px;
                            display: flex;
                            mat-radio-group {
                                margin: 8px 0;
                                color: white;
                            }
                        }
                    }
                }
                .phoneNumAndReferalId {
                    display: block !important;
                    justify-content: none !important;
                    .phoneNum {
                        width: 100% !important
                    }
                    .referalId {
                        width: 100% !important
                    }
                }
                .start_button {
                    width: 100% !important;
                }
                .buttonContinue {
                    width: 100% !important
                }
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 520px) {
    .sign_up {
        height: 1060px !important;
        .sign_up_container {
            width: 100% !important;
            .sign_up_form {
                margin-top: 49px;
                .firstAndLastNames {
                    display: block !important;
                    justify-content: none !important;
                    .first {
                        width: 100% !important
                    }
                    .last {
                        width: 100% !important
                    }
                }
                .chooseAndConfirmPasswords {
                    display: block !important;
                    justify-content: none !important;
                    .choose {
                        width: 100% !important
                    }
                    .confirm {
                        width: 100% !important
                    }
                }
                .birthDateAndGender {
                    display: block !important;
                    justify-content: none !important;
                    .birthDate {
                        width: 100%
                    }
                    .gender {
                        width: 100% !important;
                        display: block !important;
                        #gender {
                            height: 40px;
                            display: flex;
                            mat-radio-group {
                                margin: 8px 0;
                                color: white;
                            }
                        }
                    }
                }
                .phoneNumAndReferalId {
                    display: block !important;
                    justify-content: none !important;
                    .phoneNum {
                        width: 100% !important
                    }
                    .referalId {
                        width: 100% !important
                    }
                }
                .start_button {
                    width: 100% !important;
                }
                .buttonContinue {
                    width: 100% !important
                }
            }
        }
    }
}

 :host ::ng-deep .mat-radio-outer-circle {
    height: 16px;
    width: 16px;
    border: none;
    background: white;
}

 :host ::ng-deep .mat-radio-inner-circle {
    height: 6px !important;
    left: 5px !important;
    top: 5px !important;
    width: 6px !important;
}

 :host ::ng-deep .mat-radio-checked .mat-radio-inner-circle {
    transform: scale(1.5) !important;
}

 :host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: rgb(47, 204, 113) !important;
}

 :host ::ng-deep .mat-radio-label {
    margin-left: 15px !important;
    margin-right: 20px !important;
    font-size: 16px !important;
    font-family: Lato Regular !important;
}