<div class="sign_up">
    <img class="close_dialog" (click)="onCloseDialog()" src="assets/sign-in-up/close.png" alt="">
    <div class="sign_up_container">
        <div class="sign_up_description">
            <div class="sign_up_description_container">
                <div class="sign_up_description_title" [innerHtml]="'_sign_in_description_title' | translate">

                </div>
                <div class="sign_up_description_subtitle">
                    <span [innerHtml]="'_sign_in_description_subtitle' | translate"></span>
                </div>
            </div>
        </div>
        <div class="sign_up_form">
            <div class="sign_up_form_container">
                <mat-tab-group mat-stretch-tabs class="stretched-tabs">
                    <mat-tab label="{{'_sign_up_to_ride' | translate}}">
                        <form [formGroup]="rideForm" class="form-horizontal ride_form">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="first_name">{{'_sign_up_first_name' | translate}} <span>*</span></label>
                                    <input formControlName="firstName" type="text" id="first_name" class="form-control"
                                        placeholder="{{'_sign_up_first_name' | translate}}">
                                </div>
                                <div class="col-6">
                                    <label for="last_name">{{'_sign_up_last_name' | translate}} <span>*</span></label>
                                    <input formControlName="lastName" type="text" id="last_name" class="form-control"
                                        placeholder="{{'_sign_up_last_name' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="email_address">{{'_sign_in_email' | translate}} <span>*</span></label>
                                    <input formControlName="email" type="text" id="email_address" class="form-control"
                                        placeholder="{{'_sign_in_email' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="choose_password">{{'_sign_up_choose_password' | translate}}
                                        <span>*</span></label>
                                    <input formControlName="password" type="password" id="choose_password"
                                        class="form-control" placeholder="{{'_sign_up_choose_password' | translate}}">
                                </div>
                                <div class="col-6">
                                    <label
                                        for="confirm_password">{{'_sign_up_confirm_password' | translate}}<span>*</span></label>
                                    <input [ngClass]="{'red___border': matchPasswords == true}"
                                        formControlName="confirmPassword" type="password" id="confirm_password"
                                        class="form-control" placeholder="{{'_sign_up_confirm_password' | translate}}">
                                </div>
                            </div>
                            <!-- <div class="form-group row">
                                <div class="col-6">
                                    <label for="date_of_birth">{{'_sign_up_date_of_birth' | translate}} </label>
                                    <input formControlName="dateOfBirth" [matDatepicker]="picker" (click)="picker.open()" id="date_of_birth" class="form-control" placeholder="DD/MM/YYYY">
                                    <mat-datepicker #picker></mat-datepicker>
                                </div>
                                <div class="col-6 gender">
                                    <span for="">{{'_sign_up_gender' | translate}}</span><br>
                                    <div style="margin-top: 15px" class="custom-control custom-radio custom-control-inline">
                                        <input formControlName="gender" type="radio" class="custom-control-input" id="male" name="gender" value="male">
                                        <label class="custom-control-label" for="male">{{'_sign_up_gender_male' | translate}}</label>
                                    </div>
                                    <div style="margin-top: 15px" class="custom-control custom-radio custom-control-inline">
                                        <input formControlName="gender" type="radio" class="custom-control-input" id="female" name="gender" value="female">
                                        <label class="custom-control-label" for="female">{{'_sign_up_gender_female' | translate}}</label>
                                    </div>
                                </div>
                            </div> -->
                            <div class="form-group row">
                                <div class="col-6 international_phone">
                                    <label for="mobile_number">{{'_sign_up_mobile_phone' | translate}}</label>
                                    <int-phone-prefix defaultCountry='fr' #internationalPhone
                                        formControlName="phoneNumber"></int-phone-prefix>
                                    <!-- <input formControlName="mobileNumber" type="password" id="mobile_number" class="form-control" placeholder="Choose Password"> -->
                                </div>
                                <div class="col-6">
                                    <label for="referal_id">{{'_sign_up_referal_id' | translate}}</label>
                                    <input formControlName="referalCode" type="password" id="referal_id"
                                        class="form-control" placeholder="{{'_sign_up_referal_id' | translate}}">
                                </div>
                            </div>
                            <div class="form-group privacy_policy ">
                                <label><input formControlName="privacyPolicy" class="" type="checkbox" />
                                    <span [innerHtml]="'_privacy_policy' | translate">

                                    </span>
                                </label>
                            </div>
                            <div class="form-group get_started">
                                <button (click)="onRiderSignUp()" class="btn">{{'signUp' | translate}}</button>
                            </div>
                            <div class="have_account"><span>{{'_already_have_an_account' | translate}} </span> <span
                                    (click)="closeDialog(false)">{{'signIn' | translate}}</span></div>
                        </form>
                    </mat-tab>
                    <mat-tab label="{{'_sign_up_to_drive' | translate}}">
                        <form [formGroup]="companyForm" class="form-horizontal ride_form">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="first_name">{{'_sign_up_first_name' | translate}} <span>*</span></label>
                                    <input formControlName="firstName" type="text" id="first_name" class="form-control"
                                        placeholder="{{'_sign_up_first_name' | translate}}">
                                </div>
                                <div class="col-6">
                                    <label for="last_name">{{'_sign_up_last_name' | translate}} <span>*</span></label>
                                    <input formControlName="lastName" type="text" id="last_name" class="form-control"
                                        placeholder="{{'_sign_up_last_name' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="company_name">{{'_sign_up_company_name' | translate}}
                                        <span>*</span></label>
                                    <input formControlName="companyName" type="text" id="company_name"
                                        class="form-control" placeholder="{{'_sign_up_company_name' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label for="company_adress">{{'_sign_up_company_address' | translate}}</label>
                                    <input formControlName="address" type="text" id="company_adress"
                                        class="form-control" placeholder="{{'_sign_up_company_address' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label
                                        for="email_addres_drive">{{'_sign_in_email' | translate}}<span>*</span></label>
                                    <input formControlName="email" type="text" id="email_addres_drive"
                                        class="form-control" placeholder="{{'_sign_in_email' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="choose_password_drive">{{'_sign_up_choose_password' | translate}}
                                        <span>*</span></label>
                                    <input formControlName="password" type="password" id="choose_password_drive"
                                        class="form-control" placeholder="{{'_sign_up_choose_password' | translate}}">
                                </div>
                                <div class="col-6">
                                    <label for="confirm_password_drive">{{'_sign_up_confirm_password' | translate}}
                                        <span>*</span></label>
                                    <input [ngClass]="{'red___border': matchPasswordsCompany == true}"
                                        formControlName="confirmPassword" type="password" id="confirm_password_drive"
                                        class="form-control" placeholder="{{'_sign_up_confirm_password' | translate}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6 international_phone">
                                    <label for="date_of_birth">{{'_sign_up_mobile_phone' | translate}}</label>
                                    <int-phone-prefix defaultCountry='fr' #internationalPhone formControlName="phone">
                                    </int-phone-prefix>
                                </div>
                            </div>

                            <div class="form-group privacy_policy">
                                <label><input formControlName="privacyPolicy" class="" type="checkbox" />
                                    <span [innerHtml]="'_privacy_policy' | translate">

                                    </span>
                                </label>
                            </div>
                            <div class="form-group get_started">
                                <button [disabled]="companyForm.invalid" (click)="onCompanySignUp()"
                                    class="btn">{{'signUp' | translate}}</button>
                            </div>
                            <div class="have_account"><span>{{'_already_have_an_account' | translate}} </span> <span
                                    (click)="onCloseDialog(false)">{{'signIn' | translate}}</span></div>
                        </form>

                    </mat-tab>
                </mat-tab-group>

            </div>
        </div>
    </div>
</div>
<div *ngIf="showOverlay" class="spinner"></div>