:host ::ng-deep {
    .mat-tab-label {
        height: 37px !important;
    }
    .mat-tab-label-content {
        font-family: Lato Bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.15px;
        color: rgb(72, 75, 80) !important;
    }
    .mat-ink-bar {
        background-color: rgb(72, 75, 80) !important;
    }
    .country-name {
        font-family: Lato Light;
    }
}

:host /deep/ {
    .sign_up {
        position: relative;
        .close_dialog {
            position: absolute;
            top: 25px;
            right: 25px;
            height: 20px;
            width: 20px;
            cursor: pointer;
        }
        .sign_up_container {
            width: 100%;
            height: 100vh;
            display: flex;
            align-items: center;
            .sign_up_description {
                width: 44%;
                height: 100%;
                background: url("/assets/sign-in-up/sign-in-background.png");
                background-position: bottom left;
                background-size: contain;
                background-repeat: no-repeat;
                .sign_up_description_container {
                    width: 85.45%;
                    height: calc(100% - 177px);
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .sign_up_description_title {
                        margin-bottom: 15px;
                        span {
                            &:first-child {
                                font-family: Lato Bold;
                                font-size: 40px;
                                line-height: 48px;
                                letter-spacing: 0.33px;
                                color: rgb(255, 255, 255);
                            }
                            &:last-child {
                                font-family: Lato Regular;
                                font-size: 18px;
                                line-height: 22px;
                                color: rgb(255, 255, 255);
                                padding-left: 10px;
                            }
                        }
                    }
                    .sign_up_description_subtitle {
                        span {
                            font-family: Lato Light;
                            font-size: 18px;
                            line-height: 28px;
                            color: rgb(255, 255, 255);
                        }
                    }
                }
            }
            .sign_up_form {
                width: 56%;
                height: 100%;
                display: flex;
                .sign_up_form_container {
                    width: 50%;
                    min-height: 80.5%;
                    height: auto;
                    margin: auto;
                    .ride_form {
                        margin-top: 40px;
                        .privacy_policy {
                            margin-top: 20px;
                            margin-bottom: 20px;
                            label {
                                display: block;
                                padding-left: 15px;
                                font-family: Lato Regular;
                                font-size: 14px;
                                line-height: 20px;
                                color: rgb(14, 24, 35);
                                span {
                                    font-family: Lato Regular;
                                    font-size: 14px;
                                    line-height: 20px;
                                    color: rgb(14, 24, 35);
                                    &.und_line {
                                        color: rgb(14, 24, 35);
                                        text-decoration: underline;
                                        cursor: pointer;
                                    }
                                }
                            }
                            input {
                                width: 13px;
                                height: 13px;
                                padding: 0;
                                margin: 0;
                                vertical-align: middle;
                                position: relative;
                                top: -1px;
                                *overflow: hidden;
                            }
                        }
                        .get_started {
                            button {
                                background: rgb(47, 204, 113);
                                width: 250px;
                                height: 40px;
                                font-family: Lato Bold;
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: 0.13px;
                                color: rgb(255, 255, 255)
                            }
                        }
                        .form-group {
                            margin-bottom: 30px;
                            .gender {
                                .custom-radio .custom-control-input:checked~.custom-control-label::after {
                                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='rgb(47, 204, 113)'/%3E%3C/svg%3E") !important;
                                    border-radius: 50%;
                                    -webkit-border-radius: 50%;
                                    -moz-border-radius: 50%;
                                    -ms-border-radius: 50%;
                                    -o-border-radius: 50%;
                                    border: 1px solid rgba(0, 0, 0, 0.15);
                                }
                                .custom-radio .custom-control-input:checked~.custom-control-label::before {
                                    background-color: white !important;
                                }
                                .custom-control-label::before {
                                    background-color: transparent !important;
                                    border: 1px solid rgba(0, 0, 0, 0.15);
                                }
                                span {
                                    padding-left: 15px;
                                    font-family: Lato Regular;
                                    font-size: 14px;
                                    line-height: 17px;
                                    letter-spacing: 0.12px;
                                    color: rgb(14, 24, 35);
                                }
                                label {
                                    padding-left: 0;
                                    font-size: 16px;
                                    line-height: 25px;
                                    white-space: nowrap;
                                }
                            }
                        }
                        label {
                            padding-left: 15px;
                            font-family: Lato Regular;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: 0.12px;
                            color: rgb(14, 24, 35);
                            white-space: nowrap;
                            span {
                                color: rgb(255, 59, 89)
                            }
                        }
                        input {
                            font-family: Lato Regular;
                            font-size: 16px;
                            line-height: 19px;
                            color: rgb(14, 24, 35)
                        }
                    }
                    .have_account {
                        margin-top: 120px;
                        span {
                            font-family: Lato Regular;
                            font-size: 18px;
                            line-height: 22px;
                            letter-spacing: 0.15px;
                            color: rgb(14, 24, 35);
                            &:last-child {
                                font-family: Lato Bold;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        .col-6,
        .col-12 {
            padding-left: 7px;
            padding-right: 7px;
        }
    }
    input:active,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
        outline: 0px !important;
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.05)
    }
    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 60px;
        margin: 0px auto;
        z-index: 1;
        -webkit-animation: rotation 1s infinite linear;
        -moz-animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
        animation: rotation 1s infinite linear;
        border-left: 6px solid rgba(47, 204, 113, .15);
        border-right: 6px solid rgba(47, 204, 113, .15);
        border-bottom: 6px solid rgba(47, 204, 113, .15);
        border-top: 6px solid rgba(47, 204, 113, .8);
        border-radius: 100%;
    }
    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    @-moz-keyframes rotation {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
        }
    }
    @-o-keyframes rotation {
        from {
            -o-transform: rotate(0deg);
        }
        to {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    .red___border {
        border-color: red !important;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .sign_up_form_container {
            width: 70.30% !important;
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
        .sign_up_description_container {
            height: calc(100% - 74px) !important;
            min-height: initial !important
        }
        .have_account {
            margin-top: 0 !important
        }
        .sign_up_description {
            position: fixed !important;
        }
        .sign_up_form {
            margin-left: 44% !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .sign_up_description_container {
            display: none !important;
        }
        .sign_up_description {
            width: 42% !important;
            position: fixed !important;
        }
        .have_account {
            margin-top: 0 !important;
        }
        .sign_up_form {
            width: 58% !important;
            margin-left: 42% !important;
        }
        .sign_up_form_container {
            width: 83% !important;
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
    }
    // @media only screen and (min-width: 590px) and (max-width: 768px) {}
    @media only screen and (min-width: 375px) and (max-width: 769px) {
        .sign_up_description {
            display: none;
        }
        .sign_up_form {
            width: 75% !important;
            margin: 0 auto !important
        }
        .sign_up_form_container {
            width: 100% !important;
            padding-top: 40px !important;
            padding-bottom: 40px !important;
        }
        .have_account {
            margin-top: 0 !important
        }
         :host ::ng-deep {
            .mat-tab-label {
                padding: 0 !important
            }
        }
        label {
            white-space: initial !important;
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .sign_up_description {
            display: none;
        }
        .sign_up_form {
            width: 90% !important;
            margin: 0 auto !important
        }
        .sign_up_form_container {
            padding-top: 40px !important;
            width: 100% !important;
            padding-bottom: 40px !important;
        }
        .have_account {
            margin-top: 27px !important;
            margin-bottom: 50px !important;
            text-align: center;
            span {
                font-size: 16px !important;
                line-height: 20px !important;
                letter-spacing: 0.13px !important;
            }
        }
        label {
            white-space: initial !important;
        }
        .col-6 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .get_started {
            margin-top: 30px;
            .btn {
                width: 100% !important;
            }
        }
        .form-group {
            margin-bottom: 0 !important;
        }
        input {
            margin-bottom: 30px;
        }
        .international_phone {
            margin-bottom: 30px;
        }
        .gender {
            margin-bottom: 30px;
        }
         :host ::ng-deep {
            .mat-tab-label {
                padding: 0 !important
            }
            .mat-tab-label-content {
                font-size: 16px !important;
                line-height: 20px !important;
                letter-spacing: 0.13px !important;
            }
        }
        .close_dialog {
            top: 15px !important;
            right: 15px !important;
        }
    }
}