.paginator {
    margin: 50px auto;
    width: fit-content;
    max-width: 100%;
    &_control {
        height: 30px;
        background-color: rgb(14, 24, 35);
        border: 1px solid rgba($color: rgb(255, 255, 255), $alpha: 0.05);
        padding: 0 15px;
        user-select: none;
        &:first-child {
            margin-right: 15px;
        }
        &:last-child {
            margin-left: 15px;
        }
        span {
            font-family: Lato Bold;
            font-size: 12px;
            line-height: 0;
            letter-spacing: 0.1px;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }
    }
    .multiple {
        color: rgb(255, 255, 255);
    }
    .page {
        cursor: pointer;
        user-select: none;
        margin: auto;
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 0;
        letter-spacing: 0.13px;
        color: rgb(255, 255, 255)
    }
    .item {
        width: 30px;
        height: 30px;
        display: flex;
    }
    .active_page {
        background-color: rgb(47, 204, 113);
    }
}

@media only screen and (min-width: 0) and (max-width: 500px) {
    .paginator {
        margin: 40px auto !important;
    }
    .paginator_control {
        padding: 0 10px !important;
        &:first-child {
            margin-right: 5px !important;
        }
        &:last-child {
            margin-left: 5px !important;
        }
    }
    .multiple {
        display: none !important
    }
    .page {
        font-size: 14px !important;
    }
}