<div class="airport_transfers" *ngIf="informationAboutCity">
    <div class="airport_transfers_container">
        <div class="airport_transfers_title"><span>{{informationAboutCity.name}}</span></div>
        <div class="airport_transfers_subtitle"><span [innerHtml]="informationAboutCity.description"></span></div>
        <div class="airport_transfers_learn_more"><button>{{'airports_transfers_button' | translate}}</button></div>
    </div>
</div>