.airport_transfers {
    min-height: 464px;
    background: rgb(18, 28, 39);
    display: flex;
    &_container {
        width: 75%;
        margin: auto;
        .airport_transfers_title {
            margin-bottom: 20px;
            text-align: center;
            span {
                font-family: Lato Black;
                font-size: 55px;
                line-height: 75px;
                letter-spacing: 0.45px;
                color: rgb(255, 255, 255);
            }
        }
        .airport_transfers_subtitle {
            margin-bottom: 30px;
            text-align: center;
            span {
                font-family: Lato Light;
                font-size: 24px;
                line-height: 35px;
                color: rgb(255, 255, 255);
            }
        }
        .airport_transfers_learn_more {
            display: flex;
            justify-content: center;
            button {
                background-color: rgb(47, 204, 113);
                color: rgb(255, 255, 255);
                font-family: Lato Bold;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.15px;
                text-transform: uppercase;
                border-radius: 25px;
                height: 50px;
                padding: 0 30px;
                border: none;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .airport_transfers {
        min-height: 503px !important;
    }
    .airport_transfers_container {
        width: 89.75% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .airport_transfers {
        min-height: 439px !important;
    }
    .airport_transfers_container {
        width: 91.13% !important;
    }
    .airport_transfers_title {
        span {
            font-size: 36px !important;
            line-height: 46px !important;
            letter-spacing: 0.3px !important;
        }
    }
    .airport_transfers_subtitle {
        span {
            font-size: 18px !important;
            line-height: 28px !important;
            color: rgb(255, 255, 255) !important;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .airport_transfers_container {
        width: 88.02% !important;
    }
    .airport_transfers_title {
        span {
            font-size: 36px !important;
            line-height: 46px !important;
            letter-spacing: 0.3px !important;
        }
    }
    .airport_transfers_subtitle {
        span {
            font-size: 18px !important;
            line-height: 28px !important;
            color: rgb(255, 255, 255) !important;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .airport_transfers {
        min-height: 540px !important;
    }
    .airport_transfers_container {
        width: 89.33% !important;
    }
    .airport_transfers_title {
        span {
            font-size: 28px !important;
            line-height: 36px !important;
            letter-spacing: 0.23px !important;
        }
    }
    .airport_transfers_subtitle {
        span {
            font-size: 16px !important;
            line-height: 26px !important;
            color: rgb(255, 255, 255) !important;
        }
    }
}