:host /deep/ {
    .why_drive {
        height: 650px;
        width: 100%;
        display: flex;
        background: rgb(14, 24, 35);
        .why_drive_container {
            width: 75%;
            min-height: 69.23%;
            height: auto;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .why_drive_title {
                text-align: center;
                margin-bottom: 20px;
                span {
                    font-family: Lato Black;
                    font-size: 55px;
                    line-height: 75px;
                    letter-spacing: 0.45px;
                    color: rgb(255, 255, 255)
                }
            }
            .why_drive_subtitle {
                text-align: center;
                width: 100%;
                span {
                    font-family: Lato Light;
                    font-size: 24px;
                    line-height: 35px;
                    color: rgb(255, 255, 255);
                    &.bold {
                        font-family: Lato Bold;
                    }
                }
            }
            .why_drive_reasons {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: start;
                .why_drive_reason {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    width: 32.2%;
                    .why_drive_reason_image {
                        width: 80px;
                        height: 80px;
                    }
                    .why_drive_reason_title {
                        text-align: center;
                        margin-bottom: 20px;
                        margin-top: 30px;
                        span {
                            font-family: Lato Black;
                            font-size: 28px;
                            line-height: 38px;
                            letter-spacing: 0.23px;
                            color: rgb(255, 255, 255);
                        }
                    }
                    .why_drive_reason_subtitle {
                        text-align: center;
                        span {
                            font-family: Lato Light;
                            font-size: 20px;
                            line-height: 30px;
                            color: rgb(255, 255, 255);
                            &.bold {
                                font-family: Lato Bold;
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .why_drive_container {
            width: 89.75% !important;
        }
        .why_drive {
            min-height: 749px !important;
            height: auto !important
        }
        .why_drive_subtitle {
            width: 82.87% !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .why_drive_container {
            width: 90.13% !important;
            min-height: 418px !important;
            margin: 80px auto !important;
        }
        .why_drive {
            min-height: 534px !important;
            height: auto !important
        }
        .why_drive_title {
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .why_drive_subtitle {
            width: 82.3% !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .why_drive_reason_image {
            width: 60px !important;
            height: 60px !important;
        }
        .why_drive_reason_title {
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
            }
        }
        .why_drive_reason_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        .why_drive_container {
            width: 88.02% !important;
            margin: 80px auto !important;
        }
        .why_drive {
            min-height: 600px !important;
            height: auto !important
        }
        .why_drive_title {
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .why_drive_subtitle {
            width: 100% !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .why_drive_reason_image {
            width: 60px !important;
            height: 60px !important;
        }
        .why_drive_reason_title {
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
                white-space: nowrap !important;
            }
        }
        .why_drive_reason_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 600px) {
        .why_drive_container {
            width: 88.02% !important;
            margin: 80px auto !important;
        }
        .why_drive {
            min-height: 918px !important;
            height: auto !important
        }
        .why_drive_reasons {
            flex-direction: column !important;
        }
        .why_drive_reason {
            width: 100% !important;
            margin-bottom: 40px !important;
        }
        .why_drive_title {
            span {
                font-size: 32px !important;
                line-height: 22px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .why_drive_subtitle {
            width: 100% !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
        .why_drive_reason_image {
            width: 60px !important;
            height: 60px !important;
        }
        .why_drive_reason_title {
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
            }
        }
        .why_drive_reason_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
    @media only screen and (min-width: 0) and (max-width: 375px) {
        .why_drive_container {
            width: 89.33% !important;
            margin: 50px auto !important;
        }
        .why_drive {
            min-height: 959px !important;
            height: auto !important
        }
        .why_drive_reasons {
            flex-direction: column !important;
        }
        .why_drive_reason {
            width: 100% !important;
            margin-bottom: 40px !important;
        }
        .why_drive_title {
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .why_drive_subtitle {
            width: 100% !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
        .why_drive_reason_image {
            width: 60px !important;
            height: 60px !important;
        }
        .why_drive_reason_title {
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
            }
        }
        .why_drive_reason_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
}