<div class="why_drive">
    <div class="why_drive_container">
        <div class="why_drive_title"><span>{{'_why_zont_driver_title' | translate}}</span></div>
        <div class="why_drive_subtitle">
            <span [innerHtml]="'_why_zont_driver_subtitle' | translate">
                
            </span>
        </div>
        <div class="why_drive_reasons">
            <div class="why_drive_reason">
                <img class="why_drive_reason_image" src="/assets/drive/why-zont-driver/24-7.png" alt="">
                <div class="why_drive_reason_title">
                    <span [innerHtml]="'_why_zont_driver_item_one_title' | translate">

                    </span>
                </div>
                <div class="why_drive_reason_subtitle">
                    <span [innerHtml]="'_why_zont_driver_item_one_subtitle' | translate">
                       
                    </span>
                </div>
            </div>
            <div class="why_drive_reason">
                <img class="why_drive_reason_image" src="/assets/drive/why-zont-driver/account.png" alt="">
                <div class="why_drive_reason_title">
                    <span [innerHtml]="'_why_zont_driver_item_two_title' | translate">

                    </span>
                </div>
                <div class="why_drive_reason_subtitle">
                    <span [innerHtml]="'_why_zont_driver_item_two_subtitle' | translate">
                        
                    </span>
                </div>
            </div>
            <div class="why_drive_reason">
                <img class="why_drive_reason_image" src="/assets/drive/why-zont-driver/services.png" alt="">
                <div class="why_drive_reason_title">
                    <span [innerHtml]="'_why_zont_driver_item_three_title' | translate">

                    </span>
                </div>
                <div class="why_drive_reason_subtitle">
                    <span [innerHtml]="'_why_zont_driver_item_three_subtitle' | translate">
                       
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>