<div class="welcome_more_than_transfer">
    <div class="welcome_transfer_container">
        <div class="titleAndShortDescription">
            <div class="title">
                <span>{{'_welcome_transfer_title' | translate}}</span>
            </div>
            <div class="shortDescription">
                <span>{{'_welcome_transfer_subtitle' | translate}}</span>
            </div>
        </div>
        <div class="longDescription">
            <div class="leftDescription">
                <div class="text_block" *ngFor="let leftDesc of leftDescription">
                    <div class="checkImage">
                        <img src="assets/cities/check.png">
                    </div>
                    <div class="text">
                        <span>{{leftDesc.text | translate}}</span>
                    </div>
                </div>
            </div>
            <div class="rightDescription">
                <div class="text_block" *ngFor="let rightDesc of rightDescription">
                    <div class="checkImage">
                        <img src="assets/cities/check.png">
                    </div>
                    <div class="text">
                        <span>{{rightDesc.text | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>