.welcome_more_than_transfer {
    width: 100%;
    min-height: 759px;
    display: flex;
    background: #ffffff;
    .welcome_transfer_container {
        width: 75%;
        margin: auto;
        margin-top: 150px;
        height: 100%;
        .titleAndShortDescription {
            width: 100%;
            display: block;
            .title {
                width: 100%;
                display: flex;
                span {
                    text-align: center;
                    margin: auto;
                    font-size: 55px;
                    font-family: Lato Black;
                    line-height: 75px;
                    letter-spacing: 0.45px;
                    color: rgb(18, 28, 39)
                }
            }
            .shortDescription {
                width: 100%;
                display: flex;
                margin-top: 20px;
                span {
                    text-align: center;
                    margin: auto;
                    font-size: 24px;
                    font-family: Lato Light;
                    line-height: 35px;
                    color: rgb(18, 28, 39)
                }
            }
        }
        .longDescription {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            margin: 50px auto;
            .leftDescription {
                width: 49%;
                .text_block {
                    width: 100%;
                    height: fit-Content;
                    margin-bottom: 40px;
                    display: flex !important;
                    // justify-content: space-between !important;
                    .checkImage {
                        margin-right: 15px;
                        img {
                            height: 24px;
                            width: 24px
                        }
                    }
                    .text {
                        span {
                            font-size: 20px;
                            font-family: Lato Regular;
                            line-height: 30px;
                            letter-spacing: 0.17px;
                            color: rgb(18, 28, 39)
                        }
                    }
                }
            }
            .rightDescription {
                width: 49%;
                .text_block {
                    width: 100%;
                    height: fit-Content;
                    margin-bottom: 40px;
                    display: flex !important;
                    .checkImage {
                        margin-right: 15px;
                        img {
                            height: 24px;
                            width: 24px
                        }
                    }
                    .text {
                        span {
                            font-size: 20px;
                            font-family: Lato Regular;
                            line-height: 30px;
                            letter-spacing: 0.17px;
                            color: rgb(18, 28, 39)
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .welcome_transfer_container {
        width: 89.75% !important;
        margin-top: 80px !important;
    }
    .longDescription {
        width: 100% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .welcome_more_than_transfer {
        min-height: 585px !important;
    }
    .welcome_transfer_container {
        width: 91.13% !important;
        margin-top: 66px !important;
    }
    .longDescription {
        width: 100% !important;
    }
    .title {
        span {
            font-size: 36px !important;
            line-height: 46px !important;
            letter-spacing: 0.3px !important;
        }
    }
    .shortDescription {
        span {
            font-size: 18px !important;
            line-height: 28px !important;
        }
    }
    .checkImage {
        img {
            height: 20px !important;
            width: 20px !important
        }
    }
    .text {
        span {
            font-size: 16px !important;
            line-height: 26px !important;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .welcome_more_than_transfer {
        min-height: 712px !important;
    }
    .welcome_transfer_container {
        width: 88.02% !important;
        margin-top: 66px !important;
    }
    .longDescription {
        width: 100% !important;
    }
    .title {
        span {
            font-size: 36px !important;
            line-height: 46px !important;
            letter-spacing: 0.3px !important;
        }
    }
    .shortDescription {
        span {
            font-size: 18px !important;
            line-height: 28px !important;
        }
    }
    .checkImage {
        img {
            height: 20px !important;
            width: 20px !important
        }
    }
    .text {
        span {
            font-size: 16px !important;
            line-height: 26px !important;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
    .welcome_more_than_transfer {
        min-height: 1003px !important;
    }
    .welcome_transfer_container {
        width: 89.33% !important;
        margin-top: 50px !important;
    }
    .longDescription {
        width: 100% !important;
    }
    .title {
        span {
            font-size: 28px !important;
            line-height: 36px !important;
            letter-spacing: 0.23px !important;
        }
    }
    .shortDescription {
        span {
            font-size: 16px !important;
            line-height: 26px !important;
        }
    }
    .checkImage {
        img {
            height: 20px !important;
            width: 20px !important
        }
    }
    .text {
        span {
            font-size: 16px !important;
            line-height: 26px !important;
        }
    }
    .longDescription {
        flex-direction: column !important;
    }
    .leftDescription,
    .rightDescription {
        width: 100% !important;
    }
}