.car_classes {
  width: 100%;
  height: 365px;
  border-bottom: 1px solid rgba($color: rgb(255, 255, 255), $alpha: 0.1);
  flex-wrap: wrap;
  .small_car_view {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 215px;
    height: 124px;
    margin: 10px auto 20px auto;
    background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.2);
    flex-basis: 100%;
    border-radius: 5px;
    div {
      text-align: center;
      span {
        white-space: nowrap;
        font-family: Lato Bold;
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.15px;
        color: rgb(255, 255, 255);
      }
    }
    img {
      height: 42.6px;
    }
  }
  .car_classes_container {
    display: flex;
    justify-content: space-between;
    .car_classes_item {
      margin: 100px auto 80px auto;
      width: 23.75%;
      height: 186px;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.2);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      cursor: pointer;
      &.active {
        background-color: rgb(255, 255, 255);
        transition: all 0.2s ease-out;
      }
      div {
        text-align: center;
        span {
          white-space: nowrap;
          font-family: Lato Bold;
          font-size: 28.8px;
          line-height: 36px;
          letter-spacing: 0.25px;
          color: rgb(255, 255, 255);
          &.active {
            color: rgb(14, 24, 35);
            transition: all 0.2s ease-out;
          }
        }
      }
      img {
        height: 70px;
        &.small {
          height: 57.1px;
        }
      }
    }
  }
}

.choosen_class {
  width: 100%;
  min-height: 295px;
  border-bottom: 1px solid rgba($color: rgb(255, 255, 255), $alpha: 0.1);
  &_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .choosen_class_left {
      margin: 50px 0 54px 0;
      &_title {
        text-align: left;
        margin-bottom: 20px;
        span {
          font-family: Lato Black;
          font-size: 55px;
          line-height: 75px;
          letter-spacing: 0.45px;
          color: rgb(255, 255, 255);
        }
      }
      &_subtitle {
        text-align: left;
        margin: 20px 0 35px 0;
        span {
          font-family: Lato Light;
          font-size: 20px;
          line-height: 34px;
          color: rgb(255, 255, 255);
        }
      }
      &_info {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
          display: flex;
          align-items: center;
          img {
            height: 40px;
            margin-right: 20px;
          }
          span {
            white-space: nowrap;
            font-family: Lato Black;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.17px;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
    .choosen_class_right {
      margin: 50px 0 54px 0;
      &_title {
        text-align: right;
        span {
          font-family: Lato Black;
          font-size: 55px;
          line-height: 75px;
          letter-spacing: 0.45px;
          color: rgb(255, 255, 255);
          &.small {
            font-family: Lato Light;
          }
        }
      }
      &_subtitle {
        text-align: right;
        margin: 20px 0 40px 0;
        span {
          font-size: 24px;
          line-height: 34px;
          color: rgba($color: rgb(255, 255, 255), $alpha: 0.5);
          font-family: Lato Light;
        }
      }
      &_continue {
        text-align: right;
        cursor: pointer;
        span {
          font-size: 26px;
          line-height: 34px;
          letter-spacing: 0.21px;
          color: rgb(47, 204, 113);
          font-family: Lato Bold;
        }
      }
    }
  }
}

.choosen_class_description {
  width: 100%;
  height: 439px;
  &_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    &_left {
      .choosen_class_description_item {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          height: 40px;
          margin-right: 20px;
        }
        div {
          span {
            font-family: Lato Light;
            font-size: 24px;
            line-height: 34px;
            color: rgb(255, 255, 255);
          }
        }
      }
    }
    &_right {
      height: 239px;
      width: 586px;
      background-color: rgba($color: rgb(255, 255, 255), $alpha: 0.2);
      border-radius: 10px;
      display: flex;
      img {
        max-width: 70%;
        height: auto;
        margin: auto;
      }
    }
  }
}

.choosen_class_description_small {
  display: none;
  &_title {
    text-align: center;
    margin-bottom: 10px;
    span {
      font-family: Lato Light;
      font-size: 16px;
      line-height: 26px;
      color: rgb(255, 255, 255);
    }
  }
  &_item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    img {
      height: 30px;
      margin-right: 20px;
    }
    div {
      span {
        font-family: Lato Light;
        font-size: 16px;
        line-height: 26px;
        color: rgb(255, 255, 255);
      }
    }
  }
  &_info {
    display: flex;
    align-items: center;
    justify-content: center;
    div:first-child {
      margin-right: 45px;
    }
    div {
      display: flex;
      align-items: center;
      img {
        height: 30px;
        margin-right: 10px;
      }
      span {
        font-family: Lato Black;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.13px;
        color: rgb(255, 255, 255);
      }
    }
  }
  &_border {
    border-bottom: 1px solid rgba($color: rgb(255, 255, 255), $alpha: 0.1);
    margin: 30px 0;
    width: 100%;
  }
  &_rtitle {
    text-align: center;
    span {
      font-family: Lato Black;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: 0.23px;
      color: rgb(255, 255, 255);
      &.small {
        font-family: Lato Light;
      }
    }
  }
  &_rsubtitle {
    text-align: center;
    margin: 10px 0 20px 0;
    span {
      font-size: 16px;
      line-height: 26px;
      color: rgba($color: rgb(255, 255, 255), $alpha: 0.5);
      font-family: Lato Light;
    }
  }
  &_rcontinue {
    padding-bottom: 35px;
    button {
      border-radius: 5px;
      width: 100%;
      height: 46px;
      background-color: rgb(47, 204, 113);
      color: rgb(255, 255, 255);
      font-family: Lato Bold;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.15px;
    }
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1750px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .car_classes {
    height: 337px !important;
    .car_classes_item {
      width: 23.8% !important;
      height: 157px !important;
      div {
        span {
          font-size: 22px !important;
          line-height: 27px !important;
          letter-spacing: 0.18px !important;
        }
      }
      img {
        height: 66px !important;
        &.small {
          height: 45.1px !important;
        }
      }
    }
  }
  .choosen_class_right_subtitle,
  .choosen_class_right_continue {
    span {
      white-space: nowrap !important;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .car_classes {
    height: 246px !important;
    .car_classes_item {
      margin: 80px auto 50px auto !important;
      width: 23.05% !important;
      height: 116px !important;
      div {
        span {
          font-size: 18px !important;
          line-height: 22px !important;
          letter-spacing: 0.15px !important;
        }
      }
      img {
        height: 53.4px !important;
        &.small {
          height: 36.1px !important;
        }
      }
    }
  }
  .choosen_class {
    height: 235px !important;
    .choosen_class_container {
      align-items: center !important;
    }
    .choosen_class_left {
      &_title {
        span {
          font-size: 36px !important;
          line-height: 46px !important;
          letter-spacing: 0.3px !important;
        }
      }
      &_subtitle {
        margin: 15px 0 20px 0 !important;
        span {
          font-size: 16px !important;
          line-height: 26px !important;
        }
      }
      &_info {
        div {
          img {
            height: 30px;
          }
          span {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.13px;
          }
        }
      }
    }
    .choosen_class_right {
      &_title {
        span {
          font-size: 36px !important;
          line-height: 46px !important;
          letter-spacing: 0.3px !important;
        }
      }
      &_subtitle {
        margin: 15px 0 20px 0 !important;
        span {
          font-size: 16px !important;
          line-height: 26px !important;
        }
      }
      &_continue {
        span {
          font-size: 22px !important;
          line-height: 32px !important;
          letter-spacing: 0.18px !important;
        }
      }
    }
  }
  .choosen_class_description {
    height: 310px !important;
    &_container {
      &_left {
        .choosen_class_description_item {
          margin-bottom: 30px !important;
          img {
            height: 30px !important;
          }
          div {
            span {
              font-size: 16px !important;
              line-height: 26px !important;
            }
          }
        }
      }
      &_right {
        height: 180px !important;
        width: 450px !important;
        img {
          max-width: 70% !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
  .car_classes {
    height: 180px !important;
    .car_classes_item {
      margin: 50px auto 50px auto !important;
      width: 22.32% !important;
      height: 80px !important;
      div {
        span {
          white-space: initial !important;
          font-size: 15px !important;
          line-height: 18px !important;
          letter-spacing: 0.12px !important;
        }
      }
      img {
        display: none;
        &.active {
          height: 27px !important;
          display: block;
        }
        &.small {
        }
      }
    }
  }
  .choosen_class {
    height: 259px !important;
    .choosen_class_left {
      margin: auto !important;
      &_title {
        span {
          font-size: 36px !important;
          line-height: 46px !important;
          letter-spacing: 0.3px !important;
        }
      }
      &_subtitle {
        margin: 15px 0 20px 0 !important;
        span {
          font-size: 16px !important;
          line-height: 26px !important;
        }
      }
      &_info {
        width: 80% !important;
        div {
          img {
            height: 30px;
          }
          span {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.13px;
          }
        }
      }
    }
    .choosen_class_right {
      margin: auto !important;
      &_title {
        span {
          font-size: 36px !important;
          line-height: 46px !important;
          letter-spacing: 0.3px !important;
        }
      }
      &_subtitle {
        margin: 15px 0 20px 0 !important;
        span {
          white-space: nowrap !important;
          font-size: 16px !important;
          line-height: 26px !important;
        }
      }
      &_continue {
        span {
          font-size: 22px !important;
          line-height: 32px !important;
          letter-spacing: 0.18px !important;
        }
      }
    }
  }
  .choosen_class_description {
    height: 307px !important;
    &_container {
      &_left {
        .choosen_class_description_item {
          margin-bottom: 30px !important;
          img {
            height: 30px !important;
          }
          div {
            span {
              font-size: 16px !important;
              line-height: 26px !important;
            }
          }
        }
      }
      &_right {
        height: 130px !important;
        width: 324px !important;
        img {
          max-width: 80% !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 551px) {
  .car_classes {
    height: auto !important;
    border-bottom: none !important;
    .small_car_view {
      display: flex !important;
    }
    .car_classes_container {
      max-width: 100%;
      overflow-x: scroll;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar {
        height: 0px;
        background-color: #f5f5f5;
      }
      &::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
        background-color: #555;
      }
      .car_classes_item {
        margin: 20px 15px 20px auto !important;
        width: fit-content !important;
        height: 33px !important;
        div {
          span {
            white-space: nowrap !important;
            font-size: 14px !important;
            line-height: 18px !important;
            letter-spacing: 0.12px !important;
            padding: 0 10px !important;
          }
        }
        img {
          display: none;
        }
      }
    }
  }
  .choosen_class,
  .choosen_class_description {
    display: none !important;
  }
  .choosen_class_description_small {
    display: block !important;
  }
}
