<div *ngIf="activeTripType && auctionInfo">
    <div class="car_classes">
        <div class="car_classes_container">
            <div (click)="onCarClassClick(car)" class="car_classes_item"
                [class.active]="car.tripType == activeTripType.tripType" *ngFor="let car of tripTypes">
                <div><span [class.active]="car.tripType == activeTripType.tripType">{{car.tripType}}</span></div>
                <img [class.active]="car.tripType == activeTripType.tripType"
                    src="{{'https://api.zont.cab:8633/api/file/'+ car.imagePath}}">
            </div>
        </div>
        <div class="small_car_view">
            <div><span>{{activeTripType.tripType}}</span></div>
            <img src="{{'https://api.zont.cab:8633/api/file/'+activeTripType.imagePath}}">
        </div>
    </div>
    <div class="choosen_class">
        <div class="choosen_class_container">
            <div class="choosen_class_left">
                <div class="choosen_class_left_title"><span>{{activeTripType.tripType}}</span></div>
                <!-- <div class="choosen_class_left_subtitle"><span>Mercedes-Benz E-Class, BMW 5 Series, Cadillac XTS or similar</span></div> -->
                <div class="choosen_class_left_info">
                    <div><img src="assets/auction/car-classes/group.png"><span>Max 1</span></div>
                    <div><img src="assets/auction/car-classes/case.png"><span>Max 2</span></div>
                </div>
            </div>
            <div class="choosen_class_right">
                <div class="choosen_class_right_title">
                    <span>{{activeTripType.maxAmount || ((activeTripType.perMinuteForTime * auctionInfo.hours * 60) + activeTripType.baseFare)}}<span
                            class="small">EUR</span></span>
                </div>
                <div class="choosen_class_right_subtitle"><span> {{'_preorder_car_amount' | translate}}</span></div>
                <div class="choosen_class_right_continue"><span
                        (click)="continueTab()">{{'_preorder_choose_and_continue' | translate}}</span></div>
            </div>
        </div>
    </div>
    <div class="choosen_class_description">
        <div class="choosen_class_description_container">
            <div class="choosen_class_description_container_left">
                <div class="choosen_class_description_item" *ngFor="let classDescription of classDescriptions">
                    <img src="{{classDescription.image}}">
                    <div><span>{{classDescription.label | translate}}</span></div>
                </div>
            </div>
            <div class="choosen_class_description_container_right">
                <img src="assets/auction/car-classes/business.png">
            </div>
        </div>
    </div>
    <div class="choosen_class_description_small">
        <div class="choosen_class_description_small_title"><span>Mercedes-Benz E-Class, BMW 5 Series, Cadillac XTS or
                similar</span></div>
        <div class="choosen_class_description_small_item" *ngFor="let classDescription of classDescriptions">
            <img src="{{classDescription.image}}">
            <div><span>{{classDescription.label | translate}}</span></div>
        </div>
        <div class="choosen_class_description_small_info">
            <div><img src="assets/auction/car-classes/group.png"><span>Max 1</span></div>
            <div><img src="assets/auction/car-classes/case.png"><span>Max 2</span></div>
        </div>
        <div class="choosen_class_description_small_border"></div>
        <div class="choosen_class_description_small_rtitle"><span>{{activeTripType.maxAmount}} <span
                    class="small">EUR</span></span>
        </div>
        <div class="choosen_class_description_small_rsubtitle"><span>{{'_preorder_car_amount' | translate}}</span></div>
        <div class="choosen_class_description_small_rcontinue"><button class="btn"
                (click)="continueTab()">{{'_preorder_choose_and_continue' | translate}}</button></div>
    </div>
</div>