:host /deep/ {
    .sign_in {
        height: 600px;
        position: relative;
        .close_dialog {
            position: absolute;
            top: 25px;
            right: 25px;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
        .sign_in_container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            .sign_in_description {
                width: 50%;
                height: 100%;
                background: url("/assets/sign-in-up/sign-in-background.png");
                background-position: bottom;
                background-size: contain;
                background-repeat: no-repeat;
                .sign_in_description_container {
                    width: 85.45%;
                    height: calc(100% - 68px);
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    .sign_in_description_title {
                        margin-bottom: 15px;
                        span {
                            &:first-child {
                                font-family: Lato Bold;
                                font-size: 40px;
                                line-height: 48px;
                                letter-spacing: 0.33px;
                                color: rgb(255, 255, 255);
                            }
                            &:last-child {
                                font-family: Lato Regular;
                                font-size: 18px;
                                line-height: 22px;
                                color: rgb(255, 255, 255);
                                padding-left: 10px;
                            }
                        }
                    }
                    .sign_in_description_subtitle {
                        span {
                            font-family: Lato Light;
                            font-size: 18px;
                            line-height: 28px;
                            color: rgb(255, 255, 255);
                            &.bold {
                                font-family: Lato Bold;
                            }
                        }
                    }
                }
            }
            .sign_in_form {
                width: 50%;
                height: 100%;
                display: flex;
                .sign_in_form_container {
                    width: 85.75%;
                    min-height: 80.5%;
                    height: auto;
                    margin: auto;
                    .sign_in_title {
                        font-family: Lato Bold;
                        font-size: 40px;
                        line-height: 48px;
                        letter-spacing: 0.33px;
                        color: rgb(72, 75, 80);
                    }
                }
                .sign_form {
                    margin-top: 40px;
                    .form-group {
                        &:first-child {
                            margin-bottom: 30px;
                        }
                        label {
                            padding-left: 15px;
                            font-family: Lato Regular;
                            font-size: 14px;
                            line-height: 17px;
                            letter-spacing: 0.12px;
                            color: rgb(14, 24, 35);
                            span {
                                color: rgb(255, 59, 89);
                            }
                        }
                        input {
                            font-family: Lato Regular;
                            font-size: 16px;
                            line-height: 19px;
                            color: rgb(14, 24, 35);
                        }
                    }
                    .form_or {
                        text-align: center;
                        margin: 30px 0;
                        span {
                            font-family: Lato Italic;
                            font-size: 14px;
                            line-height: 17px;
                            color: rgb(18, 28, 39)
                        }
                    }
                    .social_login {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-bottom: 40px;
                        img {
                            width: 36px;
                            height: 36px;
                            cursor: pointer;
                            &:first-child {
                                margin-right: 40px;
                            }
                        }
                    }
                    .login_button {
                        button {
                            width: 100%;
                            height: 40px;
                            background: rgb(47, 204, 113);
                            font-family: Lato Bold;
                            line-height: 19px;
                            letter-spacing: 0.13px;
                            color: rgb(255, 255, 255);
                        }
                    }
                    .forgot_password {
                        display: flex;
                        justify-content: flex-end;
                        margin-top: 15px;
                        span {
                            font-family: Lato Bold;
                            font-size: 18px;
                            line-height: 30px;
                            color: rgb(14, 24, 35);
                        }
                    }
                }
            }
        }
    }
    input:hover,
    input:active,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active,
    {
        outline: 0px !important;
        box-shadow: none;
        border-color: rgba(0, 0, 0, 0.05)
    }
    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 60px;
        margin: 0px auto;
        z-index: 1;
        -webkit-animation: rotation 1s infinite linear;
        -moz-animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
        animation: rotation 1s infinite linear;
        border-left: 6px solid rgba(47, 204, 113, .15);
        border-right: 6px solid rgba(47, 204, 113, .15);
        border-bottom: 6px solid rgba(47, 204, 113, .15);
        border-top: 6px solid rgba(47, 204, 113, .8);
        border-radius: 100%;
    }
    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    @-moz-keyframes rotation {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
        }
    }
    @-o-keyframes rotation {
        from {
            -o-transform: rotate(0deg);
        }
        to {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .sign_in_description_container {
            height: calc(100% - 50px) !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .sign_in_description_container {
            display: none !important;
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .sign_in_description {
            display: none !important;
        }
        .sign_in_form {
            width: 100% !important;
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .sign_in_description {
            display: none !important;
        }
        .sign_in_form {
            width: 100% !important;
        }
        .close_dialog {
            top: 35px !important;
            right: 15px !important;
        }
    }
}