<div class="sign_in">
    <img class="close_dialog" (click)="onClickCloseDialog()" src="assets/sign-in-up/close.png">
    <div class="sign_in_container">
        <div class="sign_in_description">
            <div class="sign_in_description_container">
                <div class="sign_in_description_title" [innerHtml]="'_sign_in_description_title' | translate">
                </div>
                <div class="sign_in_description_subtitle">
                    <span [innerHtml]="'_sign_in_description_subtitle' | translate">

                    </span>
                </div>
            </div>
        </div>
        <div class="sign_in_form">
            <div class="sign_in_form_container">
                <div class="sign_in_title">
                    <span>{{'signIn' | translate}}</span>
                </div>
                <form [formGroup]="loginForm" class="sign_form">
                    <div class="form-group">
                        <label for="forEmail">{{'_sign_in_email' | translate}}<span> *</span></label>
                        <input type="email" class="form-control" formControlName="username" id="forEmail"
                            placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <label for="forPassword">{{'_sign_in_password' | translate}}<span>*</span></label>
                        <input type="password" class="form-control" formControlName="password" id="forPassword"
                            placeholder="Type Password">
                    </div>
                    <div class="form_or">
                        <span>{{'_sign_in_or' | translate}}</span>
                    </div>
                    <div class="social_login">
                        <img (click)="signInWithFB()" src="assets/sign-in-up/fb.png">
                        <img (click)="signInWithGoogle()" src="assets/sign-in-up/g+.png">
                    </div>
                    <div class="login_button">
                        <button (click)="onClickLogin()" [disabled]="loginForm.invalid"
                            class="btn">{{'signIn' | translate}}</button>
                    </div>
                    <div class="forgot_password">
                        <span>{{'forgot_password?' | translate}}</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showOverlay" class="spinner"></div>