<div class="why_zont">
    <div class="why_zont_container">
        <div class="why_zont_title"><span>{{'_why_zont_title' | translate}}</span></div>
        <div class="why_zont_subtitle">
            <span [innerHtml]="'_why_zont_description' | translate">

            </span>
        </div>
        <div class="why_zont_reasons">
            <div class="why_zont_reason" *ngFor="let advantage of zontAdvantages">
                <img class="why_zont_reason_image" src="{{advantage.image}}" alt="">
                <div class="why_zont_reason_title">
                    <span>{{advantage.title | translate}}</span>
                </div>
                <div class="why_zont_reason_subtitle">
                    <span>
                           {{advantage.subtitle | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>