<div class="bottom_bar">
    <div class="bottom_bar_container">
        <div class="bottom_mobile_add">
            <img src="assets/top-navigation-bar/zont-logo.png">
            <div class="mobile_add_description">
                <span>{{'bottom_bar_description' | translate}}</span>
            </div>
        </div>
        <div class="about_us_drive about_us">
            <ul>
                {{'_about_us' | translate}}
                <li>Terms of Use</li>
                <li>Privacy Policy</li>

            </ul>
        </div>
        <div class="about_us_drive drive">
            <ul>
                {{'top_cities' | translate}}
                <li>New York</li>
                <li>London</li>
                <li>Berlin </li>
                <li>Los Angeles</li>
                <li>Paris</li>
            </ul>
        </div>
        <div class="about_us_drive">
            <ul>
                {{'_community' | translate}}
                <li>Twitter </li>
                <li>Facebook</li>
                <li>Instagram</li>
            </ul>
        </div>
    </div>
    <div class="our-destinations-content">
        <div class="our-destinations" *ngIf="allCities">
            <div class="our-destinations-title">
                <span>{{'_our_destinations' | translate}}</span>
            </div>
            <ul class="our-destinations-list">
                <li *ngFor="let city of allCities" (click)="navigateTo(city)">{{city.name}}</li>
            </ul>
            <ng-select (change)="navigateTo($event)" class="decorated" [items]="allCities" bindLabel="name" placeholder="{{'_find_city_select_placeholder' | translate}}" [(ngModel)]="selectedCity">
            </ng-select>
        </div>
    </div>

    <div class="about_zont">
        <div class="about_zont_container">
            <div class="about_us_social_pages">
                <div class="about_zont_social_pages_container">
                    <a href="">
                        <img src="assets/bottom-navigation-bar/twitter.png">
                    </a>
                </div>

                <div class="about_zont_social_pages_container">
                    <a href="https://www.facebook.com/Zontcab-390761701681460/">
                        <img src="assets/bottom-navigation-bar/fb.png">
                    </a>
                </div>

                <div class="about_zont_social_pages_container">
                    <a href="https://www.instagram.com/zont.cab/?hl=en">
                        <img src="assets/bottom-navigation-bar/insta.png">
                    </a>
                </div>
            </div>
            <div class="about_us_subtitle"><span> {{'_zont_technologies' | translate}}</span></div>
        </div>
    </div>
</div>