.bottom_bar {
    min-height: 895px;
    width: 100%;
    background-color: rgb(18, 28, 39);
    .about_zont {
        width: 100%;
        height: 220px;
        background: rgb(14, 24, 35);
        .about_zont_container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about_us_social_pages {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                .about_zont_social_pages_container {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    background: white;
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                    img {
                        margin: auto;
                    }
                }
            }
            .about_us_subtitle {
                span {
                    font-family: Lato Light;
                    font-size: 16px;
                    line-height: 24px;
                    color: rgba(255, 255, 255, 0.5)
                }
            }
        }
    }
    .bottom_bar_container {
        width: 75%;
        height: calc(100% - 40px);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        .bottom_mobile_add {
            width: 23.75%;
            height: calc(100% - 62px);
            margin-top: 17px;
            display: flex;
            flex-direction: column;
            img {
                width: 104px;
                height: 40px;
            }
            .mobile_add_description {
                margin-top: 19px;
                span {
                    font-family: Lato light;
                    font-size: 16px;
                    line-height: 26px;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
        .about_us_drive,
        .about_us_drive {
            width: 17.94%;
            height: 100%;
        }
        .drive {
            margin-right: auto;
        }
        .about_us {
            margin-left: auto;
        }
        .about_us_drive {
            height: calc(100% - 69px);
            margin-top: 25px;
            ul {
                list-style: none;
                padding: 0;
                font-family: Lato Bold;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: rgb(255, 255, 255);
                li {
                    &:first-child {
                        margin-top: 27px;
                    }
                    font-family: Lato Light;
                    font-size: 14px;
                    line-height: 18px;
                    letter-spacing: 0.13px;
                    color: rgba(255, 255, 255, 0.5);
                    margin-bottom: 15px;
                    cursor: pointer;
                }
            }
        }
        .zont_subscribe {
            width: 23.75%;
            height: 100%;
            height: calc(100% - 62px);
            margin-top: 25px;
            .zont_subscribe_title {
                margin-bottom: 38px;
                span {
                    font-family: Lato Bold;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    color: rgb(255, 255, 255);
                    white-space: nowrap;
                }
            }
            .zont_subscribe_subtitle {
                margin-bottom: 15px;
                span {
                    font-family: Lato Light;
                    font-size: 16px;
                    line-height: 26px;
                    color: rgba(255, 255, 255, 0.5);
                    white-space: nowrap;
                }
            }
            .zont_subscribe_input {
                input {
                    background: rgb(18, 28, 39);
                    color: rgb(255, 255, 255);
                    font-family: Lato Regular;
                    font-size: 16px;
                    line-height: 19px;
                    border: 1px solid rgba(255, 255, 255, 0.05);
                }
                button {
                    border-radius: 0px;
                    background: rgb(72, 75, 80);
                    font-family: Lato Regular;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.12px;
                    color: rgb(255, 255, 255);
                    width: 98px;
                    height: 100%;
                    border: 1px solid rgba(255, 255, 255, 0.05);
                    border-radius: 3px;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
            .zont_social_pages {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                margin-top: 34px;
                div {
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    background: rgb(72, 75, 80);
                    margin-left: 20px;
                    display: flex;
                    cursor: pointer;
                    &:first-child {
                        margin-left: 0;
                    }
                    img {
                        margin: auto;
                        height: 16px;
                        width: 16px;
                    }
                }
            }
        }
    }
}

input:hover,
input:active,
input:focus,
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active,
{
    outline: 0px !important;
    box-shadow: none;
}

a {
    margin: auto;
}

.our-destinations-content {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    background: #0E1823;
    width: 100%;
    .our-destinations {
        width: 75%;
        margin: 0 auto;
        &-title {
            margin: 24px 0;
            span {
                font-family: Lato Bold;
                font-size: 18px;
                line-height: 24px;
                color: #ffffff;
            }
        }
        &-list {
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
            padding: 0;
            li {
                list-style: none;
                font-family: Lato Light;
                font-size: 18px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.5);
                margin-bottom: 15px;
                cursor: pointer;
            }
        }
    }
}

.ng-select.decorated {
    display: none;
    margin-bottom: 50px;
    margin-top: 40px;
}

.ng-select.decorated .ng-select-container {
    border: 0px solid;
    background: rgb(72, 75, 80);
    color: rgb(255, 255, 255);
}

.ng-select.decorated .ng-option {
    background: rgb(72, 75, 80);
    color: rgba(255, 255, 255, 0.5);
    font-family: Lato Regular;
    font-size: 16px;
    line-height: 19px;
    &.ng-option-marked {
        color: black;
    }
}

.ng-select.decorated .ng-dropdown-panel {
    background-color: transparent;
    border: none;
}

.ng-select.decorated .ng-dropdown-panel-items.scroll-host {
    margin-top: 6px;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .bottom_bar_container,
    .about_zont_container,
    .our-destinations {
        width: 89.75% !important;
    }
    .zont_subscribe_input {
        input {
            font-size: 14px !important;
        }
    }
    .mobile_applications {
        img {
            width: calc(100% - 9vw) !important;
            height: calc(100% - 3vw) !important;
        }
    }
    .zont_subscribe_subtitle {
        span {
            font-size: 14px !important;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .bottom_bar_container,
    .about_zont_container,
    .our-destinations {
        width: 90.13% !important;
    }
    // .bottom_bar_container,
    // .about_zont_container {
    //     display: none !important;
    // }
    .bottom_bar {
        // min-height: 282px !important;
    }
}

@media only screen and (min-width: 630px) and (max-width: 768px) {
    .bottom_bar_container,
    .about_zont_container,
    .our-destinations {
        width: 88.02% !important;
    }
    // .bottom_bar_container,
    // .about_zont {
    //     display: none !important;
    // }
    .bottom_bar {
        // min-height: 279px !important;
    }
    .our-destinations-list {
        li {
            font-size: 16px !important;
        }
    }
    .drive {
        margin-right: 0 !important;
    }
    .about_us {
        margin-left: 0 !important;
    }
    .bottom_bar_container {
        justify-content: space-evenly !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 600px) {
    .bottom_bar_container {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .about_us_drive {
        width: fit-content !important;
        text-align: center !important;
    }
    .mobile_add_description {
        display: none !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 630px) {
    .bottom_bar_container,
    .about_zont_container,
    .our-destinations {
        width: 89.33% !important;
    }
    .bottom_bar {
        min-height: unset !important;
    }
    .our-destinations-list {
        display: none !important;
        li {
            font-size: 16px !important;
        }
    }
    .ng-select.decorated {
        display: block !important;
    }
    .our-destinations-title {
        display: none !important
    }
    .our-destinations-content {
        border-top: none !important;
    }
    .drive {
        margin-right: 0 !important;
    }
    .about_us {
        margin-left: 0 !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 375px) {
    .bottom_bar_container,
    .about_zont_container,
    .our-destinations {
        width: 89.33% !important;
    }
    .our-destinations-list {
        li {
            font-size: 16px !important;
        }
    }
}