<personal-area-header [client]="client"></personal-area-header>
<div class="personal_area">
    <div class="personal_area_container">
        <div class="controls">
            <personal-area-controls></personal-area-controls>
        </div>
        <div class="actions">
            <div inViewport [inViewportOptions]="{ threshold: [111] }" (inViewportAction)="onIntersection($event,'contactDetail')" id="contactDetail" class="actions_item">
                <contact-detail (updateClientInfo)="handleUpdateClientInfo()" *ngIf="client" [client]="client"></contact-detail>
            </div>
            <div inViewport [inViewportOptions]="{ threshold: [111] }" (inViewportAction)="onIntersection($event,'changePassword')" id="changePassword" class="actions_item">
                <change-password></change-password>
            </div>
            <div inViewport [inViewportOptions]="{ threshold: [111] }" (inViewportAction)="onIntersection($event,'payment')" id="payment" class="actions_item">
                <app-payment></app-payment>
            </div>
            <div inViewport [inViewportOptions]="{ threshold: [111] }" (inViewportAction)="onIntersection($event,'notifications')" id="notifications" class="actions_item">
                <notifications></notifications>
            </div>
        </div>
    </div>
</div>