.personal_area {
    width: 100%;
    background: rgb(18, 28, 39);
    &_container {
        width: 75%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .controls {
            width: 32.22%;
        }
        .actions {
            width: 66.11%;
            &_item {
                margin-bottom: 30px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .personal_area {
        &_container {
            width: 89.75% !important;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .personal_area {
        &_container {
            width: 90.13% !important;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .personal_area {
        &_container {
            width: 88.02% !important;
            .controls {
                display: none !important;
            }
            .actions {
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .personal_area {
        &_container {
            width: 89.33% !important;
            .controls {
                display: none !important;
            }
            .actions {
                width: 100%;
            }
        }
    }
}