<looking-for-driving></looking-for-driving>
<why-become-driver></why-become-driver>
<how-become-partner [howBecomeData]="howBecomeData"></how-become-partner>
<zont-incomes></zont-incomes>
<driver-get-started [getStartedInformation]="getStartedInformation"></driver-get-started>