<div class="zont_incomes">
    <div class="zont_incomes_container">
        <div class="zont_incomes_description">
            <div class="zont_incomes_title"><span>{{'_zont_incomes_title' | translate}}</span></div>
            <div class="zont_incomes_subtitle">
                <span [innerHtml]="'_zont_incomes_subtitle' | translate">
               
                </span>
            </div>
        </div>
        <div class="zont_incomes_chart">
            <div class="chart_title"><span>{{'_zont_incomes_chart_title' | translate}}</span></div>
            <div class="incomes_statistic_contnainer">
                <div class="incomes_statistic">
                    <img class="profit_photo" src="assets/drive/zont-incomes/profit.png">
                    <div>
                        <span [innerHtml]="'_zont_incomes_chart_profits' | translate">
                       
                        </span>
                    </div>
                </div>
                <div class="incomes_statistic">
                    <img class="order_photo" src="assets/drive/zont-incomes/order.png">
                    <div>
                        <span [innerHtml]="'_zont_incomes_chart_orders' | translate">
                        
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>