:host /deep/ {
    .zont_incomes {
        min-height: 500px;
        height: auto;
        width: 100%;
        display: flex;
        background: rgb(14, 24, 35);
        .zont_incomes_container {
            width: 75%;
            min-height: 60%;
            height: auto;
            margin: auto;
            display: flex;
            justify-content: space-between;
            .zont_incomes_description {
                width: 49.16%;
                height: 100%;
                .zont_incomes_title {
                    margin-bottom: 20px;
                    span {
                        font-family: Lato Black;
                        font-size: 55px;
                        line-height: 75px;
                        letter-spacing: 0.45px;
                        color: rgb(255, 255, 255)
                    }
                }
                .zont_incomes_subtitle {
                    span {
                        font-family: Lato Light;
                        font-size: 24px;
                        line-height: 35px;
                        color: rgb(255, 255, 255);
                        &.bold {
                            font-family: Lato Bold;
                        }
                    }
                }
            }
            .zont_incomes_chart {
                width: 40%;
                min-height: 275px;
                height: auto;
                .chart_title {
                    span {
                        font-size: 24px;
                        line-height: 42px;
                        color: rgb(255, 255, 255);
                    }
                }
                .incomes_statistic_contnainer {
                    margin-top: 30px;
                    .incomes_statistic {
                        &:first-child {
                            margin-bottom: 60px;
                        }
                        .profit_photo {
                            height: 30px;
                            width: 100%;
                        }
                        .order_photo {
                            height: 30px;
                            width: 77%;
                        }
                        div {
                            span {
                                font-family: Lato Light;
                                font-size: 18px;
                                line-height: 36px;
                                color: rgba(255, 255, 255, 0.5);
                                white-space: nowrap;
                                &.bold {
                                    font-family: Lato Bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .zont_incomes_container {
            width: 89.75% !important;
            align-items: center !important;
        }
        .zont_incomes {
            height: 608px !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .zont_incomes_container {
            width: 90.13% !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
        }
        .zont_incomes {
            height: 474px !important;
        }
        .zont_incomes_description {
            width: 100% !important;
            margin-bottom: 50px !important;
        }
        .zont_incomes_chart {
            width: 100% !important;
            min-height: initial !important
        }
        .chart_title {
            text-align: center !important;
            span {
                font-size: 20px !important;
                line-height: 30px !important;
            }
        }
        .zont_incomes_title {
            text-align: center !important;
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3 !important;
            }
        }
        .zont_incomes_subtitle {
            width: 65% !important;
            margin: 0 auto !important;
            text-align: center !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .incomes_statistic_contnainer {
            width: 100% !important;
            margin: 30px auto 0 auto !important;
            display: flex;
            justify-content: space-between !important;
        }
        .incomes_statistic {
            margin-bottom: 0px !important;
            &:first-child {
                margin-right: 24px !important;
            }
            img {
                margin-bottom: 15px !important;
            }
            div {
                span {
                    font-size: 16px !important;
                    line-height: 26px !important;
                }
            }
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        .zont_incomes_container {
            width: 88.02% !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
        }
        .zont_incomes {
            height: 590px !important;
        }
        .zont_incomes_description {
            width: 100% !important;
            margin-bottom: 40px !important;
        }
        .zont_incomes_chart {
            width: 100% !important;
            min-height: initial !important
        }
        .chart_title {
            text-align: center !important;
            span {
                font-size: 20px !important;
                line-height: 30px !important;
            }
        }
        .zont_incomes_title {
            text-align: center !important;
            margin-bottom: 10px !important;
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .zont_incomes_subtitle {
            width: 100% !important;
            text-align: center !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
        .incomes_statistic_contnainer {
            width: 100% !important;
            margin: 20px auto 0 auto !important;
            display: flex;
            flex-direction: column !important;
            justify-content: space-between !important;
        }
        .incomes_statistic {
            margin-bottom: 0px !important;
            &:first-child {
                margin-right: 24px !important;
            }
            img {
                margin-bottom: 15px !important;
            }
            .profit_photo {
                width: 100% !important;
            }
            .order_photo {
                width: 85% !important;
            }
            div {
                span {
                    font-size: 15px !important;
                    line-height: 26px !important;
                    white-space: initial !important;
                }
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 600px) {
        .zont_incomes_container {
            width: 89.33% !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
        }
        .zont_incomes {
            height: 590px !important;
        }
        .zont_incomes_description {
            width: 100% !important;
            margin-bottom: 40px !important;
        }
        .zont_incomes_chart {
            width: 100% !important;
            min-height: initial !important
        }
        .chart_title {
            text-align: center !important;
            span {
                font-size: 20px !important;
                line-height: 30px !important;
            }
        }
        .zont_incomes_title {
            text-align: center !important;
            margin-bottom: 10px !important;
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .zont_incomes_subtitle {
            width: 100% !important;
            text-align: center !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
        .incomes_statistic_contnainer {
            width: 100% !important;
            margin: 20px auto 0 auto !important;
            display: flex;
            flex-direction: column !important;
            justify-content: space-between !important;
        }
        .incomes_statistic {
            margin-bottom: 0px !important;
            &:first-child {
                margin-bottom: 29px !important;
            }
            img {
                margin-bottom: 15px !important;
            }
            .profit_photo {
                width: 100% !important;
            }
            .order_photo {
                width: 85% !important;
            }
            div {
                span {
                    font-size: 15px !important;
                    line-height: 26px !important;
                    white-space: nowrap !important;
                }
            }
        }
    }
    @media only screen and (min-width: 0) and (max-width: 375px) {
        .zont_incomes_container {
            width: 89.33% !important;
            flex-direction: column !important;
            align-items: center !important;
            justify-content: center !important;
        }
        .zont_incomes {
            height: 590px !important;
        }
        .zont_incomes_description {
            width: 100% !important;
            margin-bottom: 40px !important;
        }
        .zont_incomes_chart {
            width: 100% !important;
            min-height: initial !important
        }
        .chart_title {
            text-align: center !important;
            span {
                font-size: 20px !important;
                line-height: 30px !important;
            }
        }
        .zont_incomes_title {
            text-align: center !important;
            margin-bottom: 10px !important;
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .zont_incomes_subtitle {
            width: 100% !important;
            text-align: center !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
        .incomes_statistic_contnainer {
            width: 100% !important;
            margin: 20px auto 0 auto !important;
            display: flex;
            flex-direction: column !important;
            justify-content: space-between !important;
        }
        .incomes_statistic {
            margin-bottom: 0px !important;
            &:first-child {
                margin-bottom: 29px !important;
            }
            img {
                margin-bottom: 5px !important;
            }
            .profit_photo {
                width: 100% !important;
            }
            .order_photo {
                width: 85% !important;
            }
            div {
                span {
                    font-size: 13px !important;
                    line-height: 26px !important;
                    white-space: initial !important;
                }
            }
        }
    }
}