<div class="notifications">
    <div class="notifications_title"><span>{{'_notifications' | translate}}</span></div>
    <div class="form-group privacy_policy">
        <label><input   type="checkbox" /> <span> {{'_notifications_description' | translate}}</span> </label>
    </div>
</div>