.notifications {
    padding: 28px 20px;
    width: 100%;
    background-color: rgb(14, 24, 35);
    &_title {
        margin-bottom: 28px;
        span {
            font-family: Lato Bold;
            font-size: 24px;
            color: rgb(255, 255, 255);
        }
    }
    .privacy_policy {
        margin-top: 20px;
        margin-bottom: 20px;
        label {
            display: block;
            span {
                font-family: Lato Light;
                font-size: 24px;
                line-height: 35px;
                color: rgb(255, 255, 255);
                cursor: pointer;
            }
        }
        input {
            padding-right: 15px;
            width: 18px;
            height: 18px;
            padding: 0;
            margin: 0;
            vertical-align: middle;
            position: relative;
            top: -1px;
            *overflow: hidden;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 550px) and (max-width: 768px) {}

@media only screen and (min-width: 0px) and (max-width: 550px) {
    .notifications {
        background-color: rgb(18, 28, 39) !important;
        padding: 0 !important;
        &_title {
            text-align: center;
        }
        label {
            span {
                font-size: 16px !important;
                line-height: 24px !important;
            }
        }
    }
}