.navigation_container {
    height: 80px;
    background: #0e1823;
    &.setHeaderFixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 12;
    }
    .big_navigation_content {
        width: 75%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 720px;
        .navigation_left_content {
            width: 130px;
            height: 50px;
            img {
                cursor: pointer;
                height: 100%;
                width: 100%;
            }
        }
        .navigation_middle_content {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .navigation_middle_content_item {
                span {
                    font-family: Lato Bold;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                }
            }
        }
        .navigation_right_content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 297px;
            .navigation_right_sign_in {
                span {
                    font-family: Lato Bold;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    color: rgb(255, 255, 255);
                    cursor: pointer;
                }
            }
        }
    }
    .sm_navigation_content {
        width: 87.5%;
        height: 100%;
        margin: 0 auto;
        display: none;
        justify-content: space-between;
        align-items: center;
        .navigation_right_content {
            display: flex;
            align-items: center;
            .navigation_right_content_unauthorized {
                margin-right: 20px;
            }
            .navigation_right_content_authorized {
                margin-right: 20px;
            }
            span {
                font-family: Lato Bold;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: rgb(255, 255, 255);
                cursor: pointer;
            }
        }
        .navigation_right_content_unauthorized {
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background-image: url("/assets/top-navigation-bar/user.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            cursor: pointer;
        }
        .navigation_left_content {
            img {
                cursor: pointer;
            }
        }
        .navigation_middle_content {
            img {
                cursor: pointer;
            }
        }
    }
}

.logged_data {
    width: 100%;
    text-align: right;
    span {
        font-family: Lato Bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: white;
        cursor: pointer;
    }
}

.example-container {
    position: absolute;
    bottom: 60px;
    width: 100%;
    z-index: 10;
}

.example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background: #0e1823;
    padding: 15px 50px;
    .side-navigation-menu-item {
        height: 75px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        &.language-list-container {
            display: block;
            min-height: 75px;
            height: auto;
            padding: 24px 0;
            width: 100%;
            span {
                font-size: 18px;
            }
            .all_languages_container {
                padding-left: 56px;
                .language-list-item {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    height: 72px;
                    display: flex;
                    align-items: center;
                    &.first {
                        display: none;
                    }
                }
            }
        }
        span {
            font-family: Lato Bold;
            font-size: 20px;
            line-height: 24px;
            color: #ffffff;
            cursor: pointer;
        }
    }
}

.navigation_right_get_started {
    &.in-side-menu {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    button {
        background: rgb(72, 75, 80);
        width: 200px;
        height: 50px;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
        font-family: Lato Bold;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.15px;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .big_navigation_content {
        width: 89.75% !important;
    }
    .navigation_middle_content {
        width: 50% !important;
    }
    .navigation_right_content {
        width: 297px !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .big_navigation_content {
        width: 90.13% !important;
    }
    .sm_navigation_content {
        display: flex !important;
        .navigation_middle_content {
            margin-left: 120px !important;
        }
    }
    .big_navigation_content {
        display: none !important;
    }
    // .navigation_middle_content {
    //     width: 54% !important;
    //     justify-content: space-around !important;
    //     span {
    //         font-size: 15px !important;
    //     }
    // }
    // .navigation_right_get_started {
    //     button {
    //         width: fit-content !important;
    //         padding: 0 30px !important;
    //         font-size: 15px !important
    //     }
    // }
    // .navigation_right_content {
    //     width: 215px !important;
    //     .navigation_right_sign_in {
    //         span {
    //             font-size: 15px !important;
    //         }
    //     }
    // }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .big_navigation_content {
        width: 88.02% !important;
    }
    .sm_navigation_content {
        display: flex !important;
    }
    .big_navigation_content {
        display: none !important;
    }
    .navigation_right_content_unauthorized {
        margin-right: 0 !important;
    }
    .navigation_right_content_authorized {
        margin-right: 0 !important;
    }
    .in-small-content {
        display: none !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .example-sidenav {
        padding: 10px 21px !important;
        .side-navigation-menu-item {
            height: 64px !important;
        }
    }
    .all_languages_container {
        padding-left: 35px !important;
    }
    .big_navigation_content {
        width: 89.33% !important;
    }
    .sm_navigation_content {
        display: flex !important;
    }
    .big_navigation_content {
        display: none !important;
    }
    .in-small-content {
        display: none !important;
    }
}