<div class="navigation_container" [ngClass]="{'setHeaderFixed': sidenav._opened}">
    <div class="big_navigation_content">
        <div class="navigation_left_content" (click)="goHome()"><img src="assets/top-navigation-bar/zont-logo.png">
        </div>
        <div class="navigation_middle_content">
            <div class="navigation_middle_content_item" *ngFor="let item of menuItems.menuItems"
                [routerLink]="[item.routerLink]"><span>{{item.label | translate}}</span></div>
        </div>
        <div class="navigation_right_content">
            <div *ngIf="!apiService.isAuthorized" class="navigation_right_sign_in">
                <span (click)="openSignInDialog()">{{ 'signIn' | translate  }}</span>
            </div>
            <div *ngIf="!apiService.isAuthorized" class="navigation_right_get_started">
                <button (click)="openSignUpDialog()" class="btn">{{'signUp' | translate}}</button>
            </div>

            <div *ngIf="apiService.isAuthorized" class="logged_data">
                <!-- <span [routerLink]="['/rides']">{{'_rides' | translate}}</span>
                <span [routerLink]="['/personal-area']">asdas</span> -->
                <span (click)="logOutFromSystem()"> {{'log_out' | translate}}</span>
            </div>
        </div>
    </div>
    <div class="sm_navigation_content">
        <div class="navigation_left_content">
            <img src="{{sidenavState ? 'assets/top-navigation-bar/close.png' : 'assets/top-navigation-bar/burger.png'}}"
                (click)="sidenav.toggle()"></div>
        <div class="navigation_middle_content">
            <img (click)="goHome()" src="assets/top-navigation-bar/zont-logo.png">
        </div>
        <div class="navigation_right_content">
            <div *ngIf="!apiService.isAuthorized" class="navigation_right_content_authorized">
                <span (click)="openSignInDialog()">{{ 'signIn' | translate  }}</span>
            </div>
            <div [routerLink]="['/personal-area']" *ngIf="apiService.isAuthorized"
                class="navigation_right_content_unauthorized">

            </div>
            <div *ngIf="!apiService.isAuthorized" class="navigation_right_get_started in-small-content ">
                <button (click)="openSignUpDialog()" class="btn">{{'signUp' | translate}}</button>
            </div>
        </div>

    </div>
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" class="example-sidenav" [fixedInViewport]="options.value.fixed"
            [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom"
            (openedChange)="handleSidenavStateChange()">
            <div *ngIf="!apiService.isAuthorized">
                <div (click)="navigateTo('become-driver')" class="side-navigation-menu-item">
                    <span>{{'_drive' | translate}}</span>
                </div>
                <div (click)="navigateTo('how-it-works')" class="side-navigation-menu-item">
                    <span>{{'_rides' | translate}}</span>
                </div>
                <!-- <div (click)="navigateTo('about-us')" class="side-navigation-menu-item">
                    <span>About</span>
                </div> -->
                <div (click)="navigateTo('about-us')" class="side-navigation-menu-item">
                    <span>{{'_help' | translate}}</span>
                </div>
            </div>
            <div *ngIf="apiService.isAuthorized">
                <div (click)="navigateTo('personal-area')" class="side-navigation-menu-item">
                    <span>{{'_account' | translate}}</span>
                </div>
                <div (click)="navigateTo('rides')" class="side-navigation-menu-item">
                    <span>{{'_rides_authorized' | translate}}</span>
                </div>
                <div (click)="navigateTo('')" class="side-navigation-menu-item">
                    <span>{{'countries' | translate}}</span>
                </div>
                <div (click)="navigateTo('hotels-b2b-tours-operators')" class="side-navigation-menu-item">
                    <span>{{'_help' | translate}}</span>
                </div>
            </div>
            <div class="side-navigation-menu-item language-list-container" *ngIf="languages">
                <div class="current-used-language" (click)="toggleShowLanguage()">
                    <span>{{languages[0].languageKey}}</span></div>
                <div class="all_languages_container">
                    <div class="language-list-item" (click)="changeLanguage(language.languageKey)"
                        *ngFor="let language of languages;let first = first;" [ngClass]="{ 'first': first }">
                        <span>{{language.languageKey}}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="!apiService.isAuthorized" class="navigation_right_get_started in-side-menu">
                <button (click)="openSignUpDialog()" class="btn">{{'signUp' | translate}}</button>
            </div>
        </mat-sidenav>
    </mat-sidenav-container>
</div>