.account_tab{
    width: 100%;
    background-color: rgb(14, 24, 35);
    &_header{
        width: 100%;
        background-color: rgb(18, 28, 39);
        height: 75px;
        .account_tab_header_container{
            width: 75%;
            height: 100%;
            margin: 0 auto;
            .tab_links{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                &_item{
                    &.active{
                        transition: border-width 0.2s ease-out;
                        border-bottom: 3px solid rgb(47, 204, 113);
                    }
                    display: flex;
                    width: 25%;
                    height: 100%;
                    cursor: pointer;
                    span{
                        white-space: nowrap;
                        margin: auto;
                        font-family: Lato Bold;
                        font-size: 24px;
                        line-height: 29px;
                        color: rgba($color: rgb(255,255,255), $alpha: 0.8);
                        &.active{
                            color: rgb(47, 204, 113)
                        }
                    }
                }
            }
        }
    }
    &_body{
        width: 100%;
        &_container{
            width: 75%;
            margin: 0 auto;
        }
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .account_tab_header_container,
    .account_tab_body_container {
        width: 89.75% !important;
    }
    .account_tab {
    }
  
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .account_tab_header_container,
    .account_tab_body_container {
        width: 90.13% !important;
    }
    .account_tab {
    }
    .tab_links_item{
        span{
            font-size: 20px !important;
            line-height: 24px !important;
        }
    }
    .account_tab_header{
        height: 65px !important;
    }

}

@media only screen and (min-width: 376px) and (max-width: 768px) {
    .account_tab_header_container,
    .account_tab_body_container {
        width: 88.02% !important;
    }
    .account_tab {
    }
    .tab_links_item{
        span{
            font-size: 16px !important;
            line-height: 18px !important;
        }
    }
    .account_tab_header{
        height: 65px !important;
    }
  
}

@media only screen and (min-width: 0) and (max-width: 375px) {
    .account_tab_header_container,
    .account_tab_body_container {
        width: 89.33% !important;
    }
    .account_tab {
    }
    .tab_links_item{
        span{
            font-size: 14px !important;
            line-height: 16px !important;
        }
    }
    .account_tab_header{
        height: 50px !important;
    }
   
}