<div class="account_tab">
    <div class="account_tab_header">
        <div class="account_tab_header_container">
            <div class="tab_links">
                <div (click)="onTabLinkClick(link)" class="tab_links_item" [class.active]="link === activeLink"
                    *ngFor="let link of tabLinks">
                    <span [class.active]="link === activeLink">{{link}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="account_tab_body">
        <div class="account_tab_body_container">
            <sign-in-page *ngIf="activeLink == 'Sign In'"></sign-in-page>
            <sign-up-to-rides *ngIf="activeLink == 'Sign Up to Ride' ||  activeLink == 'Sign Up' "> </sign-up-to-rides>
            <!-- <checkout-page *ngIf = "activeLink == 'Checkout' "></checkout-page> -->
        </div>
    </div>
</div>