:host /deep/ {
    .mobile_add {
        min-height: 624px;
        width: 100%;
        background: rgb(14, 24, 35);
        display: flex;
        .mobile_add_container {
            width: 75%;
            padding: 24px 0;
            height: 100%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .mobile_application_info {
                width: 826px;
                .mobile_application_info_title {
                    span {
                        font-family: Lato Black;
                        font-size: 122px;
                        line-height: 140px;
                        letter-spacing: 1.01px;
                        color: rgb(255, 255, 255);
                    }
                }
                .small_title {
                    display: none;
                }
                .mobile_application_info_subtitle {
                    div {
                        span {
                            font-family: Lato Light;
                            font-size: 28px;
                            line-height: 40px;
                            color: rgb(255, 255, 255);
                        }
                        .bold {
                            font-family: Lato Bold;
                        }
                    }
                }
                .mobile_applications_links {
                    display: flex;
                    align-items: center;
                    margin-top: 30px;
                    img:first-child {
                        margin-right: 24px;
                    }
                }
            }
            .small_application {
                display: none;
                position: absolute;
                right: 0;
            }
            .mobile_application_overview {
                position: absolute;
                width: 340px;
                height: 680px;
                right: 0;
                bottom: -109px;
                .iphone {
                    position: absolute;
                    z-index: 1;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
                .content {
                    position: absolute;
                    z-index: 2;
                    right: 0;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .mobile_add_container {
            width: 89.75% !important;
        }
        .mobile_application_info_title {
            span {
                font-size: 95px !important;
            }
        }
        .mobile_application_info_subtitle {
            div {
                span {
                    font-size: 25px !important;
                }
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .mobile_add_container {
            width: 90.13% !important;
        }
        .mobile_add {
            min-height: 430px !important;
        }
        .mobile_application_overview {
            display: none !important;
        }
        .small_application {
            display: initial !important;
        }
        .mobile_application_info_title.small_title {
            display: initial !important;
            span {
                font-size: 45px !important;
                line-height: initial !important;
                letter-spacing: 0.37px !important;
            }
        }
        .mobile_application_info_subtitle {
            div {
                span {
                    font-size: 23px !important;
                    line-height: 35px !important;
                }
            }
        }
        .mobile_application_info_title {
            display: none !important;
        }
        .mobile_applications_links {
            img {
                width: 189px !important;
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .mobile_add_container {
            width: 88.02% !important;
        }
        .mobile_application_overview {
            display: none !important;
        }
        .mobile_application_info_subtitle {
            div {
                span {
                    font-size: 24px !important;
                    line-height: 35px !important;
                }
            }
        }
        .mobile_application_info_title {
            span {
                font-size: 45px !important;
                line-height: initial !important;
                letter-spacing: 0.37px !important;
            }
        }
        .mobile_application_info_title {
            display: none !important;
        }
        .mobile_application_info_title.small_title {
            display: initial !important;
            span {
                font-size: 45px !important;
                line-height: initial !important;
                letter-spacing: 0.37px !important;
            }
        }
        .mobile_add {
            min-height: 430px !important;
        }
        .mobile_application_info {
            text-align: center;
        }
        .mobile_applications_links {
            justify-content: center !important;
            img {
                width: calc(100% - 61vw);
                min-width: 150px !important
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .mobile_add_container {
            width: 89.33% !important;
            margin: 20px auto !important;
        }
        .mobile_application_info_subtitle {
            div {
                span {
                    font-size: 16px !important;
                    line-height: 26px !important;
                }
            }
        }
        .mobile_application_info_title.small_title {
            display: initial !important;
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.37px !important;
            }
        }
        .mobile_application_info_title {
            display: none !important;
        }
        .mobile_add {
            min-height: 410px !important;
        }
        .mobile_application_overview {
            display: none !important;
        }
        .mobile_application_info {
            text-align: center;
        }
        .mobile_applications_links {
            justify-content: center !important;
            img {
                width: calc(100% - 61vw);
                min-width: 120px !important
            }
        }
    }
}