<div class="mobile_add">
    <div class="mobile_add_container">
        <div class="mobile_application_info">
            <div class="mobile_application_info_title">
                <span [innerHtml]="'_mobile_app_add_title' | translate"></span>
            </div>
            <div class="mobile_application_info_title small_title">
                <span [innerHtml]="'_mobile_app_add_title_small' | translate"></span>
            </div>
            <div class="mobile_application_info_subtitle">
                <div>
                    <span [innerHtml]="'_mobile_app_description' | translate">

                    </span>
                </div>
                <!-- <div> <span> <span class="bold">Zont</span> is the smartest way to move around in your city</span>
                </div>
                <div><span>Get the app for <span class="bold">IPhone</span> and <span class="bold">Android</span> </span>
                </div> -->
            </div>
            <div class="mobile_applications_links">
                <img src="assets/initial/mobile-app/ios.png" alt="">
                <a href="https://play.google.com/store/apps/details?id=com.zont.rider"><img src="assets/initial/mobile-app/android.png" alt=""></a>
            </div>
        </div>
        <div class="mobile_application_overview">
            <img class="iphone" src="assets/initial/mobile-app/iphone.png" alt="">
            <img class="content" src="assets/initial/mobile-app/application.png" alt="">
        </div>
        <img class="small_application" src="assets/initial/mobile-app/application-small.png" alt="">

    </div>
</div>