<div class="find_city">
    <div class="find_city_container">
        <div class="find_city_search">
            <div class="find_city_title">
                <span>{{'_find_city_title' | translate}}</span>
            </div>
            <div class="find_city_subtitle">
                <span [innerHtml]="'_find_city_description' | translate">

                </span>
            </div>
            <div class="find_city_select" *ngIf="cities">
                <div class="form-group">
                    <label for="inputState">{{'_find_city_select_label' | translate}}</label>
                    <ng-select (change)="navigateToCity($event)" class="decorated" [items]="cities" bindLabel="name" placeholder="{{'_find_city_select_placeholder' | translate}}" [(ngModel)]="selectedCity">
                    </ng-select>
                    <!-- <select id="inputState" class="form-control decorated">
                      <option selected>Cities</option>
                      <option>Cities</option>
                      <option>Cities</option>
                      <option>Cities</option>
                    </select> -->
                </div>
            </div>
        </div>
        <div class="find_city_background"><img src="assets/initial/find-city/background.png"></div>
    </div>
</div>