:host /deep/ {
    .find_city {
        min-height: 618px;
        width: 100%;
        background: rgb(18, 28, 39);
        display: flex;
        .find_city_container {
            width: 75%;
            min-height: 439px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .find_city_search {
                width: 32%;
                height: 100%;
                .find_city_title {
                    font-family: Lato Bold;
                    text-align: left;
                    span {
                        font-size: 55px;
                        line-height: 75px;
                        letter-spacing: 0.45px;
                        color: rgb(255, 255, 255);
                    }
                }
                .find_city_subtitle {
                    span {
                        font-family: Lato Light;
                        font-size: 24px;
                        line-height: 35px;
                        text-align: left;
                        color: rgb(255, 255, 255);
                    }
                    span.bold {
                        font-family: Lato Bold;
                    }
                }
                .find_city_select {
                    margin-top: 50px;
                    .form-group {
                        label {
                            color: rgb(255, 255, 255);
                            padding-left: 15px;
                        }
                        select {
                            border: 0px solid;
                            background: rgb(72, 75, 80) !important;
                            color: rgb(255, 255, 255) !important;
                        }
                    }
                }
            }
            .find_city_background {
                height: 100%;
                width: 57.63%;
                display: flex;
                img {
                    // margin: auto;
                    max-width: 100%;
                    height: 27vw;
                }
            }
        }
    }
    select:focus,
    select:active,
    {
        outline: 0px !important;
        box-shadow: none;
    }
    .ng-select.decorated .ng-select-container {
        border: 0px solid;
        background: rgb(72, 75, 80);
        color: rgb(255, 255, 255);
    }
    .ng-select.decorated .ng-option {
        background: rgb(72, 75, 80);
        color: rgba(255, 255, 255, 0.5);
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
        &.ng-option-marked {
            color: black;
        }
    }
    .ng-select.decorated .ng-dropdown-panel {
        background-color: transparent;
        border: none;
    }
    .ng-select.decorated .ng-dropdown-panel-items.scroll-host {
        margin-top: 6px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .find_city_container {
            width: 89.75% !important;
        }
        .find_city_search {
            width: 40.45% !important;
        }
        .find_city_background {
            width: 63.21% !important;
        }
        .find_city_select {
            margin-top: 40px !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .find_city_container {
            width: 90.13% !important;
            height: 100% !important;
        }
        .find_city {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/initial/find-city/background.png") !important;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            height: 328px !important;
        }
        .find_city_background {
            display: none !important;
            img {
                display: none;
            }
        }
        .find_city_search {
            width: 65.87% !important;
            margin: 0 auto !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
        }
        .find_city_title {
            text-align: center !important;
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
                // white-space: nowrap !important;
            }
        }
        .find_city_subtitle {
            text-align: center !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .find_city_select {
            width: 75.37% !important;
            margin: 40px auto 0 auto !important;
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .find_city_container {
            width: 88.02% !important;
        }
        .find_city {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/initial/find-city/background.png") !important;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 328px !important;
            height: auto !important;
        }
        .find_city_background {
            display: none !important;
            img {
                display: none;
            }
        }
        .find_city_search {
            width: 100% !important;
            margin: 0 auto !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
        }
        .find_city_title {
            text-align: center !important;
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
                white-space: wrap !important;
            }
        }
        .find_city_subtitle {
            text-align: center !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .find_city_select {
            width: 75.37% !important;
            margin: 40px auto 0 auto !important;
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .find_city_container {
            width: 89.33% !important;
        }
        .find_city {
            background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/assets/initial/find-city/background.png") !important;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 393px !important;
            height: auto !important;
        }
        .find_city_background {
            display: none !important;
            img {
                display: none;
            }
        }
        .find_city_search {
            width: 100% !important;
            margin: 0 auto !important;
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
        }
        .find_city_title {
            text-align: center !important;
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
                white-space: wrap !important;
            }
        }
        .find_city_subtitle {
            text-align: center !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .find_city_select {
            width: 75.37% !important;
            margin: 40px auto 0 auto !important;
        }
    }
}