<div class="full_content">
    <div class="top_content">
        <top-navigation-bar></top-navigation-bar>
    </div>

    <div class="middle_content">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>

    <div class="bottom_content">
        <bottom-navigation-bar></bottom-navigation-bar>
    </div>
</div>