<div class="controls">
    <div class="controls_container">
        <div [class.active]="'contactDetail' === scrollService.activeLink" (click)="scrollTo('contactDetail')" class="control_item"><span [class.active]="'contactDetail' === scrollService.activeLink">{{'_notifications' | translate}}</span></div>
        <div [class.active]="'changePassword' === scrollService.activeLink" (click)="scrollTo('changePassword')" class="control_item"><span [class.active]="'contactDetail' === scrollService.activeLink">{{'_change_password' | translate}}</span></div>
        <div [class.active]="'payment' === scrollService.activeLink" (click)="scrollTo('payment')" class="control_item"><span [class.active]="'contactDetail' === scrollService.activeLink">{{'_payment' | translate}}</span></div>
        <div [class.active]="'notifications' === scrollService.activeLink" (click)="scrollTo('notifications')" class="control_item"><span [class.active]="'contactDetail' === scrollService.activeLink">{{'_notifications' | translate}}</span></div>
    </div>
</div>