.controls {
    width: 100%;
    &_container {
        .control_item {
            height: 64px;
            background: rgb(14, 24, 35);
            display: flex;
            cursor: pointer;
            margin-bottom: 1.5px;
            &.active {
                border-left: 3px solid rgb(47, 204, 113);
            }
            span {
                margin: auto auto auto 20px;
                font-family: Lato Bold;
                font-size: 20px;
                color: rgba($color: rgb(255, 255, 255), $alpha: 0.5);
                &.active {
                    color: rgb(255, 255, 255)
                }
            }
        }
    }
}