.partners {
    &__container {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 42px 0 0 0;
        .partner {
            img {
                height: 83px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .partners__container {
        width: 89.75% !important;
    }
    .partner {
        img {
            height: 70px !important;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .partners__container {
        width: 90.13% !important;
    }
    .partner {
        img {
            height: 51px !important;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .partners__container {
        width: 88.02% !important;
    }
    .partner {
        img {
            height: 57px !important;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .partners__container {
        width: 89.33% !important;
    }
    .partner {
        img {
            height: 55px !important;
        }
    }
}