:host /deep/ {
    .auctions {
        min-height: 698px;
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        .auctions_container {
            overflow: hidden;
            margin: 100px auto;
            width: 75%;
            height: 57%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .auction_description {
                width: 49.16%;
                .auction_description_title {
                    text-align: right;
                    span {
                        font-family: Lato Black;
                        font-size: 55px;
                        line-height: 75px;
                        letter-spacing: 0.45px;
                        color: rgb(18, 28, 39);
                    }
                }
                .auction_description_subtitle {
                    text-align: right;
                    span {
                        font-family: Lato Light;
                        font-size: 24px;
                        line-height: 35px;
                        color: rgb(18, 28, 39);
                    }
                    span.bold {
                        font-family: Lato Bold;
                    }
                }
            }
        }
    }
    ::-webkit-input-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
     ::-moz-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
     :-ms-input-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
     :-moz-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active,
    {
        outline: 0px !important;
        box-shadow: none;
    }
    select:focus,
    select:active,
    {
        outline: 0px !important;
        box-shadow: none;
        border-color: #ced4da
    }
    .spinner {
        position: fixed;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 60px;
        margin: 0px auto;
        z-index: 1;
        -webkit-animation: rotation 1s infinite linear;
        -moz-animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
        animation: rotation 1s infinite linear;
        border-left: 6px solid rgba(47, 204, 113, .15);
        border-right: 6px solid rgba(47, 204, 113, .15);
        border-bottom: 6px solid rgba(47, 204, 113, .15);
        border-top: 6px solid rgba(47, 204, 113, .8);
        border-radius: 100%;
    }
    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    @-moz-keyframes rotation {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
        }
    }
    @-o-keyframes rotation {
        from {
            -o-transform: rotate(0deg);
        }
        to {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .auctions_container {
            width: 89.75% !important;
            // margin: auto !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .auctions_container {
            width: 90.13% !important;
        }
        .auctions {
            min-height: 674px !important;
        }
        .auctions_container {
            flex-direction: column-reverse !important;
            justify-content: center !important;
            height: initial !important;
            margin: auto !important;
        }
        .make_auction {
            width: 80% !important;
            margin: 0 auto;
        }
        .auction_description {
            width: 77% !important;
            margin: 0 auto;
        }
        .auction_description_title {
            text-align: center !important;
            margin-bottom: 20px !important;
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .auction_description_subtitle {
            text-align: center !important;
            margin-bottom: 40px !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .auctions_container {
            width: 88.02% !important;
        }
        .auctions {
            min-height: 702px !important;
            height: auto !important;
        }
        .auctions_container {
            flex-direction: column-reverse !important;
            justify-content: center !important;
            height: initial !important;
            margin: 15px auto auto auto !important;
        }
        .make_auction {
            width: 100% !important;
            margin: 0 auto;
        }
        .auction_description {
            width: 100% !important;
            margin: 0 auto;
        }
        .auction_description_title {
            text-align: center !important;
            margin-bottom: 20px !important;
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .auction_description_subtitle {
            text-align: center !important;
            margin-bottom: 40px !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .auctions_container {
            width: 89.33% !important;
        }
        .auctions {
            min-height: 905px !important;
        }
        .auctions_container {
            flex-direction: column-reverse !important;
            justify-content: center !important;
            height: initial !important;
            margin: 15px auto auto auto !important;
        }
        .make_auction {
            width: 100% !important;
            margin: 0 auto;
        }
        .auction_description {
            width: 100% !important;
            margin: 0 auto;
        }
        .auction_description_title {
            text-align: center !important;
            margin-bottom: 20px !important;
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .auction_description_subtitle {
            text-align: center !important;
            margin-bottom: 40px !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
}