<div class="auctions">
    <div class="auctions_container">
        <div class="make_auction">
            <auction-actions></auction-actions>
        </div>

        <div class="auction_description">
            <div class="auction_description_title">
                <span>
                   {{'_preorder_title' | translate}}
                </span>
            </div>

            <div class="auction_description_subtitle">
                <span [innerHTML]="'_preorder_description' | translate ">

                    <!-- Choose from a range of categories and prices.

                    <span class="bold">Zont</span> provides professional ground transportation at

                <span class="bold">the lowest rates</span> across the globe. Mobile application Zont that will help you book an airport transfer or car service in any city worldwide. You can also

                <span class="bold">book online.</span> Our system shows you where the driver is in real time. -->
                </span>
            </div>
        </div>
    </div>
</div>