<div class="content">
    <div *ngIf="!verifyError" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">Verifying your account</h1>
            <p class="lead text-center">Please wait until end of process </p>
        </div>
    </div>
    <div *ngIf="verifyError" class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center">Something went wrong</h1>
            <p class="lead text-center">Sorry the verify code is not valid</p>
        </div>
    </div>
    <div *ngIf="!verifyError" class="loader"></div>
</div>