<div class="contact_detail" *ngIf="client">
    <div class="contact_detail_title">
        <span>{{'_notifications' | translate}}</span>
    </div>

    <form class="form-horizontal contact_form" [formGroup]="contactDetailForm">
        <div class="form-group row">
            <div class="col-6">
                <label for="first_name">{{'_sign_up_first_name' | translate}}<span> *</span></label>
                <input type="text" formControlName="firstName" id="first_name" class="form-control" placeholder="{{'_sign_up_first_name' | translate}}">
            </div>
            <div class="col-6">
                <label for="last_name">{{'_sign_up_last_name' | translate}} <span> *</span></label>
                <input type="text" formControlName="lastName" id="last_name" class="form-control" placeholder="{{'_sign_up_last_name' | translate}}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">
                <label for="email_address">{{'_sign_in_email' | translate}} <span> *</span></label>
                <input formControlName="email" type="text" id="email_address" class="form-control" placeholder="{{'_sign_in_email' | translate}}">
            </div>
            <div class="col-6 international_phone">
                <label for="mobile_number">{{'_sign_up_date_of_birth' | translate}}</label>
                <input formControlName="dateOfBirth" type="text" id="mobile_number" class="form-control" placeholder="DD/MM/YYYY">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">

            </div>
            <div class="col-6 save-btn-container">
                <button (click)="onEditClientAccount()" [disabled]="contactDetailForm.invalid" class="btn save-btn ">{{'_save' | translate}}</button>
            </div>
        </div>

    </form>
</div>
<div *ngIf="showOverlay" class="spinner"></div>