<div class="checkout_page">
    <div class="checkout_container">
        <div class="payment_info">
            <div class="title_of_payment_info">
                <span>{{'_preorder_payment_info' | translate}}</span>
            </div>
            <div class="new_card_form" *ngIf="addNewCard">
                <form class="card_form" [formGroup]="paymentForm">
                    <div class="destination__container">
                        <div class="cardNumberAndCardHolderName">
                            <div class="form-group cardNumber">
                                <label for="cardNumber">{{'_card_number' | translate}}<span class="text-danger">*</span>
                                </label>
                                <input formControlName="cardNumber" class="form-control" id="cardNumber"
                                    placeholder="+3545 4787 8787 8787 8787" />
                            </div>
                            <div class="form-group cardHolderName">
                                <label for="cardHolderName">{{'_card_holder_name' | translate}}<span
                                        class="text-danger">*</span> </label>
                                <input formControlName="cardHolderName" class="form-control" id="cardHolderName"
                                    placeholder="John Smith" />
                            </div>
                        </div>
                        <div class="expDateAndCvv">
                            <div class="form-group">
                                <label for="expDate">{{'_card_expiration_date' | translate}}
                                </label>
                                <div class="form-inline">
                                    <input maxlength="2" digitOnly #month formControlName="expDateMonth"
                                        class="form-control" id="expDate" placeholder="MM" /> <span> / </span><input
                                        digitOnly maxlength="2" #year type="text" placeholder="YY" class="form-control"
                                        formControlName="expDateYear">
                                </div>
                            </div>
                            <div class="form-group cvv">
                                <label for="cvv">{{'_card_cvv' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="password" formControlName="cvv" class="form-control" id="cvv"
                                    placeholder="" />
                            </div>
                        </div>
                    </div>
                    <div class="privacy_policy">
                        <label><input class="" type="checkbox" /> {{'_make_default_payment' | translate}} </label>
                    </div>
                    <div class="cancelAndDoneButtons">
                        <div class="buttonCancel">
                            <button (click)="toggleAddCardValue()"
                                class="btn start_button">{{'_cancel' | translate}}</button>
                        </div>
                        <div class="buttonDone">
                            <button (click)="toggleAddCardValue(true)" class="btn start_button"
                                [disabled]="paymentForm.invalid">{{ '_done' | translate }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="payment_info_form">
                <div *ngIf="allCards?.length > 0 && !addNewCard">
                    <bank-card (cardWasDeleted)="handleCardDeleteEvent()" *ngFor="let card of allCards;let ind=index"
                        [setValue]="value" [card]="card" [value]="card.id" (getValue)="getValue($event)"></bank-card>
                    <div (click)="toggleAddCardValue()" class="add_bank_card">
                        <img src="assets/auction/add.png" alt="">
                        <span>{{'_add_new_card' | translate}}</span>
                    </div>
                </div>
                <form autocomplete="off" class="payment_form" [formGroup]="paymentForm"
                    *ngIf="allCards?.length == 0  && !addNewCard">
                    <div class="destination__container">
                        <div class="cardNumberAndCardHolderName">
                            <div class="form-group cardNumber">
                                <label for="cardNumber">{{'_card_number' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                                <input autocomplete="off" formControlName="cardNumber" class="form-control"
                                    id="cardNumber" placeholder="3545 4787 8787 8787 8787" />
                            </div>
                            <div class="form-group cardHolderName">
                                <label for="cardHolderName">{{'_card_holder_name' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                                <input autocomplete="off" formControlName="cardHolderName" class="form-control"
                                    id="cardHolderName" placeholder="John Smith" />
                            </div>
                        </div>
                        <div class="expDateAndCvv">
                            <div class="form-group">
                                <label for="expDate">{{'_card_expiration_date' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="form-inline">
                                    <input autocomplete="off" maxlength="2" digitOnly #month
                                        formControlName="expDateMonth" class="form-control" id="expDate"
                                        placeholder="MM" /> <span> / </span><input digitOnly maxlength="2" #year
                                        type="text" placeholder="YY" class="form-control" formControlName="expDateYear">

                                </div>
                            </div>
                            <div class="form-group cvv">
                                <label for="cvv">{{'_card_cvv' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                                <input autocomplete="off" type="password" formControlName="cvv" class="form-control"
                                    id="cvv" placeholder="" />
                            </div>
                        </div>
                    </div>
                </form>
                <div id="map"></div>
            </div>
        </div>
        <div class="order_details">
            <div class="title_of_order_details">
                <span>{{'_preorder_details' | translate}}</span>
            </div>
            <div class="details">
                <div class="price">
                    <div class="title">
                        <span>{{'_price' | translate}}</span>
                    </div>
                    <div class="priceCount">
                        <span>
                            {{selectedTripType.maxAmount || ((selectedTripType.perMinuteForTime * auctionInfo.hours * 60) + selectedTripType.baseFare)}}EUR
                        </span>
                    </div>
                </div>
                <div class="savingAndTotalAmount" *ngIf="voucherCode">
                    <div class="savings">
                        <div class="title">
                            <span>{{'_my_savings' | translate}}</span>
                        </div>
                        <div class="savingCount">
                            <span class="text-danger">
                                -20.00EUR
                            </span>
                        </div>
                    </div>
                    <div class="amount">
                        <div class="totalAmount">
                            <div class="title">
                                <span>{{'_preorder_total_amount' | translate}}</span>
                            </div>
                            <div class="totalAmountCount">
                                <span>
                                    55.65EUR
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inclVatFees">
                    <span> {{'(' + ('_preorder_car_amount' | translate)  +')'}} </span>
                </div>
                <div class="buttonBookNow">
                    <button (click)="bookTaxi()" class="btn start_button">{{'_preorder_book_now' | translate}}</button>
                </div>
                <div class="voucher_code">
                    <div class="title">
                        <span>{{ '_have_voucher_code' | translate}}</span>
                    </div>
                    <form class="voucher_code_form" [formGroup]="voucherForm">
                        <div class="form_container">
                            <div class="form-group voucherCode">
                                <label for="cardNumber">{{'_voucher_code' | translate}}
                                    <span class="text-danger"
                                        *ngIf="voucherForm.get('voucherCode').hasError('required') && voucherForm.get('voucherCode').touched">*</span>
                                </label>
                                <input formControlName="voucherCode" class="form-control" id="voucherCode"
                                    placeholder="Ex.45465754" />
                            </div>
                            <div class="buttonApply">
                                <button class="btn start_button" [disabled]="voucherForm.invalid"
                                    (click)="clickApply()">{{'_apply' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="applyVoucherCode" *ngIf="voucherCode && voucherCodeValue">
                    <div class="code">
                        <span>{{voucherCodeValue}}</span>
                    </div>
                    <div class="countOfVoucherCode">
                        <div class="count">
                            <span>
                                -20.00EUR
                            </span>
                        </div>
                        <div class="cancel">
                            <img src="/assets/auction/Group 3089@2x.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="showOverlay" class="spinner"></div>