:host /deep/ {
    .checkout_page {
        width: 100%;
        // height: 1027px;
        .checkout_container {
            width: 100%;
            margin-top: 100px;
            display: flex;
            justify-content: space-between;
            .payment_info {
                width: 49%;
                #map {
                    width: 100%;
                    height: 400px;
                    border-radius: 10px;
                }
                .title_of_payment_info {
                    span {
                        color: #ffffff;
                        font-size: 30px;
                        line-height: 36px;
                        font-family: Lato Bold
                    }
                }
                .title_of_new_card {
                    span {
                        color: #ffffff;
                        font-size: 30px;
                        line-height: 36px;
                        font-family: Lato Bold
                    }
                }
                .payment_info_form {
                    width: 100%;
                    margin-top: 30px;
                    .cardNumberAndCardHolderName {
                        width: 100%;
                        display: block;
                        .cardNumber {
                            width: 100%
                        }
                        .cardHolderName {
                            width: 100%;
                        }
                    }
                    input {
                        border: 1px solid rgba(0, 0, 0, 0.05);
                        font-family: Lato Regular;
                        height: 40px;
                        color: rgba(255, 255, 255, 0.5);
                        background: #484b50;
                    }
                    label {
                        font-family: Lato Regular;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.12px;
                        padding-left: 13px;
                        color: #ffffff;
                        .text-danger {
                            font-size: 14px;
                        }
                    }
                }
                .new_card_form {
                    width: 100%;
                    margin-top: 30px;
                    .cancelAndDoneButtons {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 50px;
                        .buttonCancel {
                            width: 48%;
                            .start_button {
                                font-family: Lato Bold;
                                color: rgb(18, 28, 39);
                                background: rgb(255, 255, 255);
                                line-height: 19px;
                                font-size: 16px;
                                height: 40px;
                                letter-spacing: 0.13px;
                                width: 100%;
                            }
                        }
                        .buttonDone {
                            width: 48%;
                            .start_button {
                                font-family: Lato Bold;
                                color: rgb(255, 255, 255);
                                background: rgb(47, 204, 113);
                                line-height: 19px;
                                font-size: 16px;
                                height: 40px;
                                letter-spacing: 0.13px;
                                width: 100%;
                            }
                        }
                    }
                    .privacy_policy {
                        margin-bottom: 25px;
                        label {
                            display: block;
                            font-family: Lato Regular;
                            font-size: 14px;
                            line-height: 20px;
                            padding-left: 0px;
                            color: #ffffff;
                            white-space: nowrap;
                        }
                        input {
                            width: 13px;
                            height: 13px;
                            padding: 0;
                            margin: 0;
                            vertical-align: middle;
                            position: relative;
                            top: -1px;
                            *overflow: hidden;
                        }
                    }
                    .cardNumberAndCardHolderName {
                        width: 100%;
                        display: block;
                        .cardNumber {
                            width: 100%
                        }
                        .cardHolderName {
                            width: 100%;
                        }
                    }
                    .expDateAndCvv {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        .expDate {
                            width: 48%
                        }
                        .cvv {
                            width: 48%
                        }
                    }
                    input {
                        border: 1px solid rgba(0, 0, 0, 0.05);
                        font-family: Lato Regular;
                        height: 40px;
                        color: rgba(255, 255, 255, 0.5);
                        background: #484b50;
                    }
                    label {
                        font-family: Lato Regular;
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.12px;
                        padding-left: 13px;
                        color: #ffffff;
                        .text-danger {
                            font-size: 14px;
                        }
                    }
                }
            }
            .order_details {
                width: 40%;
                .title_of_order_details {
                    span {
                        color: #ffffff;
                        font-size: 30px;
                        line-height: 36px;
                        font-family: Lato Bold
                    }
                }
                .details {
                    margin-top: 57px;
                    width: 100%;
                    height: 100px;
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    .price {
                        width: 100%;
                        margin-top: 28px;
                        justify-content: space-between;
                        display: flex;
                        .title {
                            width: fit-content;
                            span {
                                font-size: 24px;
                                font-family: Lato Light;
                                line-height: 29px;
                                letter-spacing: 0.2px;
                                color: #ffffff
                            }
                        }
                        .priceCount {
                            width: fit-content;
                            span {
                                font-size: 24px;
                                font-family: Lato Bold;
                                line-height: 29px;
                                letter-spacing: 0.2px;
                                color: #ffffff
                            }
                        }
                    }
                    .savingAndTotalAmount {
                        width: 100%;
                        .savings {
                            width: 100%;
                            margin-top: 28px;
                            justify-content: space-between;
                            display: flex;
                            .title {
                                width: fit-content;
                                span {
                                    font-size: 24px;
                                    font-family: Lato Light;
                                    line-height: 29px;
                                    letter-spacing: 0.2px;
                                    color: #ffffff
                                }
                            }
                            .savingCount {
                                width: fit-content;
                                span {
                                    font-size: 24px;
                                    font-family: Lato Bold;
                                    line-height: 29px;
                                    letter-spacing: 0.2px;
                                }
                            }
                        }
                        .amount {
                            border-top: 1px solid rgba(255, 255, 255, 0.1);
                            width: 100%;
                            margin-top: 28px;
                            .totalAmount {
                                width: 100%;
                                margin-top: 28px;
                                justify-content: space-between;
                                display: flex;
                                .title {
                                    width: fit-content;
                                    span {
                                        font-size: 24px;
                                        font-family: Lato Light;
                                        line-height: 29px;
                                        letter-spacing: 0.2px;
                                        color: #ffffff
                                    }
                                }
                                .totalAmountCount {
                                    width: fit-content;
                                    span {
                                        font-size: 24px;
                                        font-family: Lato Bold;
                                        line-height: 29px;
                                        letter-spacing: 0.2px;
                                        color: #ffffff
                                    }
                                }
                            }
                        }
                    }
                    .inclVatFees {
                        display: flex;
                        justify-content: flex-end;
                        span {
                            font-size: 18px;
                            font-family: Lato Light;
                            line-height: 34px;
                            color: #ffffff5c;
                        }
                    }
                    .buttonBookNow {
                        width: 100%;
                        margin-top: 30px;
                        .start_button {
                            font-family: Lato Bold;
                            color: rgb(255, 255, 255);
                            background: rgb(47, 204, 113);
                            line-height: 19px;
                            font-size: 16px;
                            height: 40px;
                            letter-spacing: 0.13px;
                            width: 100%;
                        }
                    }
                    .voucher_code {
                        margin-top: 50px;
                        width: 100%;
                        .title {
                            width: 100%;
                            span {
                                font-size: 30px;
                                font-family: Lato Bold;
                                line-height: 36px;
                                color: #ffffff;
                            }
                        }
                        .voucher_code_form {
                            width: 100%;
                            margin-top: 30px;
                            .form_container {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                .voucherCode {
                                    width: 58%;
                                    label {
                                        font-family: Lato Regular;
                                        font-size: 14px;
                                        line-height: 17px;
                                        letter-spacing: 0.12px;
                                        padding-left: 13px;
                                        color: #ffffff;
                                        .text-danger {
                                            font-size: 14px;
                                        }
                                    }
                                    input {
                                        border: 1px solid rgba(0, 0, 0, 0.05);
                                        font-family: Lato Regular;
                                        height: 40px;
                                        color: rgba(255, 255, 255, 0.5);
                                        background: #484b50;
                                    }
                                }
                                .buttonApply {
                                    width: 37%;
                                    margin-top: 31px;
                                    .start_button {
                                        font-family: Lato Bold;
                                        color: rgb(255, 255, 255);
                                        background: rgb(47, 204, 113);
                                        line-height: 19px;
                                        font-size: 16px;
                                        height: 40px;
                                        letter-spacing: 0.13px;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }
                    .applyVoucherCode {
                        width: 100%;
                        margin-top: 28px;
                        justify-content: space-between;
                        display: flex;
                        .code {
                            width: fit-content;
                            span {
                                font-size: 24px;
                                font-family: Lato Bold;
                                line-height: 29px;
                                letter-spacing: 0.2px;
                                color: rgb(47, 204, 113)
                            }
                        }
                        .countOfVoucherCode {
                            width: 158px;
                            display: flex;
                            justify-content: space-between;
                            .count {
                                width: fit-content;
                                span {
                                    font-size: 24px;
                                    font-family: Lato Bold;
                                    line-height: 29px;
                                    letter-spacing: 0.2px;
                                    color: #ffffff
                                }
                            }
                            .cancel {
                                img {
                                    height: 20px;
                                    margin-bottom: 2px;
                                    width: 20px;
                                }
                            }
                            .cancel:hover {
                                cursor: pointer
                            }
                        }
                    }
                }
            }
        }
    }
    .expDateAndCvv {
        width: 100%;
        display: flex;
        margin-bottom: 30px;
        justify-content: space-between;
        .form-inline {
            display: flex;
            align-items: center;
            input {
                width: 40%;
            }
            span {
                font-size: 28px;
                font-family: Lato Bold;
                color: white;
                margin: 0 5px
            }
        }
        .expDate {
            width: 48%;
            display: flex;
            align-items: center;
        }
        .cvv {
            width: 48%
        }
    }
    .labels {
        font-family: Lato Black;
        font-size: 12px;
        line-height: 15px;
        color: rgb(255, 255, 255)
    }
    .add_bank_card {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background-color: rgba(72, 75, 80, 0.42);
        border: 1px solid rgba(255, 255, 255, 0.05);
        margin-bottom: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 10px;
            height: 13.8px;
        }
        span {
            font-family: Lato Regular;
            font-size: 16px;
            line-height: 19px;
            color: rgb(255, 255, 255)
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .checkout_page {
            // height: 967px !important;
            .checkout_container {
                width: 99% !important;
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .checkout_page {
            // height: 834px !important;
            .checkout_container {
                width: 99% !important;
                .order_details {
                    .details {
                        .voucher_code {
                            .voucher_code_form {
                                .form_container {
                                    display: block !important;
                                    justify-content: none !important;
                                    .voucherCode {
                                        width: 100% !important;
                                    }
                                    .buttonApply {
                                        width: 100% !important;
                                        margin-top: 28px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .checkout_page {
            // height: 983px !important;
            .checkout_container {
                display: block !important;
                .payment_info {
                    width: 100% !important;
                    .title_of_payment_info {
                        span {
                            font-size: 26px !important;
                        }
                    }
                    .payment_info_form {
                        .cardNumberAndCardHolderName {
                            display: flex !important;
                            justify-content: space-between;
                            .cardNumber {
                                width: 48% !important;
                            }
                            .cardHolderName {
                                width: 48% !important;
                            }
                        }
                        #map {
                            display: none;
                        }
                    }
                }
                .order_details {
                    width: 100% !important;
                    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
                    .title_of_order_details {
                        display: flex;
                        span {
                            font-size: 26px !important;
                            margin-top: 30px !important;
                        }
                    }
                    .inclVatFees {
                        span {
                            font-size: 18px !important;
                        }
                    }
                    .buttonBookNow {
                        .start_button {
                            font-size: 16px !important;
                        }
                    }
                    .details {
                        border-top: none !important;
                        margin-top: 0px !important;
                        .voucher_code {
                            margin-top: 50px;
                            width: 100%;
                            .title {
                                span {
                                    font-size: 26px !important;
                                }
                            }
                            .voucher_code_form {
                                .form_container {
                                    width: 100%;
                                    display: flex !important;
                                    justify-content: space-between !important;
                                    .voucherCode {
                                        width: 58% !important;
                                    }
                                    .buttonApply {
                                        width: 37% !important;
                                        margin-top: 31px !important;
                                    }
                                }
                            }
                        }
                        .applyVoucherCode {
                            .code {
                                span {
                                    font-size: 20px !important;
                                }
                            }
                            .countOfVoucherCode {
                                width: 130px !important;
                                .count {
                                    span {
                                        font-size: 20px !important;
                                    }
                                }
                                .cancel {
                                    img {
                                        height: 16px !important;
                                        margin-bottom: 2px;
                                        width: 16px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .checkout_page {
            // height: 1057px !important;
            .checkout_container {
                display: block !important;
                .payment_info {
                    width: 100% !important;
                    .title_of_payment_info {
                        text-align: center;
                        span {
                            font-size: 24px !important;
                        }
                    }
                    .payment_info_form {
                        label {
                            font-size: 14px !important;
                        }
                        .cardNumberAndCardHolderName {
                            display: block !important;
                            .cardNumber {
                                width: 100% !important;
                            }
                            .cardHolderName {
                                width: 100% !important;
                            }
                        }
                        #map {
                            display: none;
                        }
                    }
                }
                .order_details {
                    width: 100% !important;
                    border-top: none !important;
                    .title_of_order_details {
                        text-align: center;
                        span {
                            font-size: 24px;
                        }
                    }
                    .details {
                        border-top: none !important;
                        margin-top: 0px !important;
                        .price {
                            .title {
                                span {
                                    font-size: 20px !important;
                                }
                            }
                            .priceCount {
                                span {
                                    font-size: 20px !important;
                                }
                            }
                        }
                        .savingAndTotalAmount {
                            .savings {
                                .title {
                                    span {
                                        font-size: 20px !important;
                                    }
                                }
                                .savingCount {
                                    span {
                                        font-size: 20px !important;
                                    }
                                }
                            }
                            .amount {
                                .totalAmount {
                                    .title {
                                        span {
                                            font-size: 20px !important;
                                        }
                                    }
                                    .totalAmountCount {
                                        span {
                                            font-size: 20px !important;
                                        }
                                    }
                                }
                            }
                        }
                        .inclVatFees {
                            span {
                                font-size: 16px !important;
                            }
                        }
                        .buttonBookNow {
                            .start_button {
                                font-size: 16px !important;
                            }
                        }
                        .voucher_code {
                            margin-top: 50px;
                            width: 100%;
                            .title {
                                text-align: center;
                                span {
                                    font-size: 24px !important;
                                }
                            }
                            .voucher_code_form {
                                .form_container {
                                    display: block !important;
                                    justify-content: none !important;
                                    .voucherCode {
                                        width: 100% !important;
                                    }
                                    .buttonApply {
                                        width: 100% !important;
                                        margin-top: 28px !important;
                                    }
                                }
                            }
                        }
                        .applyVoucherCode {
                            .code {
                                span {
                                    font-size: 16px !important;
                                }
                            }
                            .countOfVoucherCode {
                                width: 110px;
                                .count {
                                    span {
                                        font-size: 16px !important;
                                    }
                                }
                                .cancel {
                                    img {
                                        height: 14px !important;
                                        margin-bottom: 2px;
                                        width: 14px !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}