.account_page {
    background: #121C27;
    height: auto;
    &_container {
        width: 75%;
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .account_page_container {
        width: 89.75% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .account_page_container {
        width: 91.13% !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .account_page_container {
        width: 88.02% !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .account_page_container {
        width: 89.33% !important;
    }
}