<!-- trip cards -->
<div class="account_page">
    <div class="account_page_container">
        <rides-overview></rides-overview>
        <searching (searchEvent)="handleSearchEvent($event)"></searching>
        <trip-card (tripeCanceled)="_getAllPreOrders(0,10,'','','oldestNewest')" *ngFor="let preorder of allPreorders" [preorderInfo]="preorder"></trip-card>
        <paginator [count]="allPreordersCount" [pageLength]="10" (paginate)="handlePreordersPaginate($event)"></paginator>
    </div>
</div>