<mat-tab-group mat-stretch-tabs="mat-stretch-tabs" class="stretched-tabs">
    <mat-tab label="{{'_preorder_one_way_title' | translate}}">
        <form class="auction_form" [formGroup]="auctionForm">
            <div class="destination_container">
                <div class="form-group">
                    <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'"
                        for="pickup">{{'_preorder_picup_label' | translate}}</label>

                    <input *ngIf="isBrowser" [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                        [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                        formControlName="pickUpPoint" ngx-google-places-autocomplete="ngx-google-places-autocomplete"
                        (onAddressChange)="handlePickupChange($event)" class="form-control" id="pickup"
                        placeholder="{{'_preorder_pickup_placeholder' | translate}}" />
                </div>

                <div class="form-group">
                    <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'"
                        for="drop">{{'_preorder_drop_label' | translate}}</label>

                    <input *ngIf="isBrowser" [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                        [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                        formControlName="dropPoint" ngx-google-places-autocomplete="ngx-google-places-autocomplete"
                        (onAddressChange)="handleDropChange($event)" class="form-control" id="drop"
                        placeholder="{{'_preorder_drop_placeholder' | translate}}" />
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-6 date_picker">
                        <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'" for="date"
                            class="control-label">{{'_preorder_when_label' | translate}}</label>

                        <input [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                            [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                            formControlName="startdate" [min]="minDate" [matDatepicker]="picker" (click)="picker.open()"
                            class="form-control" id="date" placeholder="{{'_preorder_when_placeholder' | translate}}" />

                        <mat-datepicker #picker>

                        </mat-datepicker>
                    </div>

                    <div class="col-6 row time_picker">
                        <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'" for="time"
                            class="control-label">{{'_preorder_when_time_label' | translate}}</label>
                        <input *ngIf="isIOS" [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                            [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                            formControlName="startTime" type="time" class="form-control without" min='13:00' max='15:00'
                            id="time" placeholder="{{'_preorder_when_time_placeholder' | translate}}" />
                        <div class="w-100" *ngIf="!isIOS">
                            <input [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                                [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                                formControlName="startTime" [format]='24' [ngxTimepicker]="timePicker"
                                class="form-control" id="time" [min]="minDate"
                                placeholder="{{'_preorder_when_time_placeholder' | translate}}" />
                            <ngx-material-timepicker #timePicker></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button (click)="routeToAuctionDetail(false)" class="btn order_button"
                    [disabled]="auctionForm.invalid">{{'_preorder_search' | translate}}</button>
            </div>
        </form>
    </mat-tab>

    <mat-tab label="{{'_preorder_hourly_title' | translate}}">
        <form class="auction_form" [formGroup]="auctionFormHourly">
            <div class="destination_container">
                <div class="form-group">
                    <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'"
                        for="pickup">{{'_preorder_picup_label' | translate}}</label>

                    <input *ngIf="isBrowser" ngx-google-places-autocomplete="ngx-google-places-autocomplete"
                        (onAddressChange)="handlePickupChange($event,true)"
                        [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                        [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                        class="form-control" id="pickup" placeholder="{{'_preorder_pickup_placeholder' | translate}}" />
                </div>

                <div class="form-group">
                    <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'"
                        for="drop">{{'_preorder_drop_label_hourly' | translate}}</label>
                    <ng-select class="decorated" [items]="hours" bindLabel="name"
                        placeholder="{{'_preorder_drop_placeholder' | translate}}" formControlName="duration">
                    </ng-select>
                    <!-- <input [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'" [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'" formControlName="duration" class="form-control" id="drop" placeholder="{{'_preorder_drop_placeholder' | translate}}"
                    /> -->
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group row">
                    <div class="col-6 date_picker">
                        <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'" for="dateHourly"
                            class="control-label">{{'_preorder_when_label' | translate}}</label>
                        <input [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                            [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                            formControlName="startDate" [min]="minDate" [matDatepicker]="pickerHourly"
                            (click)="pickerHourly.open()" class="form-control" id="dateHourly"
                            placeholder="{{'_preorder_when_placeholder' | translate}}" />
                        <mat-datepicker #pickerHourly>
                        </mat-datepicker>
                    </div>

                    <div class="col-6 row time_picker">
                        <label [style.color]="isInCitiesView ? 'rgb(255,255,255)' : 'black'" for="time"
                            class="control-label">{{'_preorder_when_time_label' | translate}}</label>
                        <input *ngIf="isIOS" [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                            [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                            formControlName="startTime" class="form-control without" min='13:00' max='15:00' id="time"
                            placeholder="{{'_preorder_when_time_placeholder' | translate}}" />
                        <div class="w-100" *ngIf="!isIOS">
                            <input [style.color]="isInCitiesView ? 'rgb(255,255,255)' : '#495057'"
                                [style.backgroundColor]="isInCitiesView ? 'rgb(72,75,80)' : 'rgb(255,255,255)'"
                                formControlName="startTime" [format]='24' [ngxTimepicker]="timePickerHourly"
                                class="form-control" id="time"
                                placeholder="{{'_preorder_when_time_placeholder' | translate}}" />
                            <ngx-material-timepicker #timePickerHourly></ngx-material-timepicker>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button (click)="routeToAuctionDetail(true)" class="btn order_button"
                    [disabled]="auctionFormHourly.invalid">{{'_preorder_search' | translate}}</button>
            </div>
        </form>
    </mat-tab>
</mat-tab-group>
<div *ngIf="showOverlay" class="spinner"></div>