input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}

 :host /deep/ {
    .mat-tab-label {
        height: 37px !important;
    }
    .mat-ink-bar {
        background-color: rgb(72, 75, 80) !important;
    }
    .mat-tab-label-content {
        font-family: Lato Bold;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.15px;
        color: rgb(72, 75, 80) !important;
    }
    .mat-tab-body-content {
        overflow: hidden !important;
    }
    .stretched-tabs {
        width: 100%
    }
    .auction_form {
        overflow: hidden;
        margin-top: 30px;
        .form-group {
            margin-bottom: 30px;
        }
        input {
            border: 1px solid rgba(0, 0, 0, 0.05);
            font-family: Lato Regular;
        }
        label {
            font-family: Lato Regular;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12px;
            padding-left: 15px;
            white-space: nowrap;
        }
        .col-6,
        .col-5,
        .col-1 {
            padding: 0;
        }
        .time_picker {
            padding-left: 24px;
            input {
                margin-top: 4px;
            }
        }
        select {
            font-family: Lato Regular;
            font-size: 16px;
            line-height: 19px;
        }
        .time_colon {
            display: flex;
            span {
                font-family: Lato Bold;
                margin: auto auto 10px auto;
                font-size: 16px;
                line-height: 19px;
            }
        }
        .date_picker {
            input {
                background: url("/assets/auction/calendar.png") no-repeat scroll 10px 10px;
                padding-left: 35px;
            }
        }
        .order_button {
            font-family: Lato Bold;
            color: rgb(255, 255, 255);
            background: rgb(47, 204, 113);
            line-height: 19px;
            font-size: 16px;
            width: 100%;
        }
    }
     ::-webkit-input-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
     ::-moz-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
     :-ms-input-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
     :-moz-placeholder {
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
    }
    textarea:hover,
    input:hover,
    textarea:active,
    input:active,
    textarea:focus,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
        outline: 0px !important;
        box-shadow: none;
    }
    select:focus,
    select:active {
        outline: 0px !important;
        box-shadow: none;
        border-color: #ced4da
    }
    .spinner {
        position: fixed;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 60px;
        margin: 0px auto;
        z-index: 1;
        -webkit-animation: rotation 1s infinite linear;
        -moz-animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
        animation: rotation 1s infinite linear;
        border-left: 6px solid rgba(47, 204, 113, .15);
        border-right: 6px solid rgba(47, 204, 113, .15);
        border-bottom: 6px solid rgba(47, 204, 113, .15);
        border-top: 6px solid rgba(47, 204, 113, .8);
        border-radius: 100%;
    }
    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    @-moz-keyframes rotation {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
        }
    }
    @-o-keyframes rotation {
        from {
            -o-transform: rotate(0deg);
        }
        to {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    .ng-select.decorated .ng-select-container {
        border: 0px solid;
        background: rgb(255, 255, 255);
        color: rgb(18, 28, 39);
    }
    .ng-select.decorated .ng-option {
        background: rgb(255, 255, 255);
        color: rgba(18, 28, 39, 0.5);
        font-family: Lato Regular;
        font-size: 16px;
        line-height: 19px;
        &.ng-option-marked {
            background: rgb(255, 255, 255);
            color: rgb(18, 28, 39);
        }
    }
    .ng-select.decorated .ng-dropdown-panel {
        background-color: transparent;
        border: none;
    }
    .ng-select.decorated .ng-dropdown-panel-items.scroll-host {
        margin-top: 6px;
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {}
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .destination_container {
            display: flex;
            justify-content: space-between;
            .form-group:first-child {
                width: 50%;
            }
            .form-group:last-child {
                width: calc(50% - 10px);
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .destination_container {
            display: flex;
            justify-content: space-between;
            .form-group:first-child {
                width: 50%;
            }
            .form-group:last-child {
                width: calc(50% - 10px);
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .destination_container {
            display: block !important;
        }
        .col-6 {
            flex: initial !important;
            max-width: initial !important;
            width: 100% !important;
            &:first-child {
                margin-bottom: 30px !important;
            }
        }
        .time_picker {
            padding-left: 16px !important;
        }
    }
}