:host /deep/ {
    .partner_sign_up {
        height: 606px;
        position: relative;
        padding: 50px 40px;
        .close_dialog {
            position: absolute;
            top: 25px;
            right: 25px;
            height: 24px;
            width: 24px;
            cursor: pointer;
        }
        .partner_sign_up_container {
            .partner_sign_up_description {
                font-family: Lato Bold;
                font-size: 40px;
                line-height: 48px;
                letter-spacing: 0.33px;
                color: rgb(72, 75, 80);
            }
            .partner_sign_up_form {
                margin-top: 20px;
                .form-group {
                    margin-bottom: 30px;
                }
                label {
                    padding-left: 15px;
                    font-family: Lato Regular;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.12px;
                    color: rgb(14, 24, 35);
                    white-space: nowrap;
                    span {
                        color: rgb(255, 59, 89)
                    }
                }
                input {
                    font-family: Lato Regular;
                    font-size: 16px;
                    line-height: 19px;
                    color: rgb(14, 24, 35)
                }
                .privacy_policy {
                    margin-top: 30px;
                    label {
                        display: block;
                        padding-left: 15px;
                        font-family: Lato Regular;
                        font-size: 14px;
                        line-height: 20px;
                        color: rgb(14, 24, 35);
                        white-space: nowrap;
                        span {
                            font-family: Lato Regular;
                            font-size: 14px;
                            line-height: 20px;
                            color: rgb(14, 24, 35);
                            &.und_line {
                                color: rgb(14, 24, 35);
                                text-decoration: underline;
                                cursor: pointer;
                            }
                        }
                    }
                    input {
                        width: 13px;
                        height: 13px;
                        padding: 0;
                        margin: 0;
                        vertical-align: middle;
                        position: relative;
                        top: -1px;
                        *overflow: hidden;
                        -webkit-appearance: checkbox;
                        outline: none;
                    }
                }
                .get_started {
                    button {
                        background: rgb(47, 204, 113);
                        width: 250px;
                        height: 40px;
                        font-family: Lato Bold;
                        font-size: 16px;
                        line-height: 19px;
                        letter-spacing: 0.13px;
                        color: rgb(255, 255, 255)
                    }
                }
                .have_account {
                    margin-top: 27px;
                    span {
                        font-family: Lato Regular;
                        font-size: 18px;
                        line-height: 22px;
                        letter-spacing: 0.15px;
                        color: rgb(14, 24, 35);
                        &:last-child {
                            font-family: Lato Bold;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    input:hover,
    input:active,
    input:focus,
    button:focus,
    button:active,
    button:hover,
    label:focus,
    .btn:active,
    .btn.active {
        outline: 0px !important;
        box-shadow: none;
        border-color: #EAEBEC
    }
    .spinner {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 60px;
        width: 60px;
        margin: 0px auto;
        z-index: 1;
        -webkit-animation: rotation 1s infinite linear;
        -moz-animation: rotation 1s infinite linear;
        -o-animation: rotation 1s infinite linear;
        animation: rotation 1s infinite linear;
        border-left: 6px solid rgba(47, 204, 113, .15);
        border-right: 6px solid rgba(47, 204, 113, .15);
        border-bottom: 6px solid rgba(47, 204, 113, .15);
        border-top: 6px solid rgba(47, 204, 113, .8);
        border-radius: 100%;
    }
    @-webkit-keyframes rotation {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(359deg);
        }
    }
    @-moz-keyframes rotation {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(359deg);
        }
    }
    @-o-keyframes rotation {
        from {
            -o-transform: rotate(0deg);
        }
        to {
            -o-transform: rotate(359deg);
        }
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {}
    @media only screen and (min-width: 769px) and (max-width: 1024px) {}
    // @media only screen and (min-width: 590px) and (max-width: 768px) {}
    @media only screen and (min-width: 635px) and (max-width: 769px) {}
    @media only screen and (min-width: 0px) and (max-width: 635px) {
        .privacy_policy {
            margin-top: 0 !important;
        }
        .form-group {
            margin-bottom: 0 !important;
        }
        .col-6 {
            margin-bottom: 30px !important;
        }
        .partner_sign_up {
            padding: 50px 20px !important;
        }
        .partner_sign_up_description {
            font-size: 30px !important;
            line-height: 40px !important;
            letter-spacing: 0.25px !important;
        }
        .col-6 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .get_started {
            margin-top: 30px;
            .btn {
                width: 100% !important;
            }
        }
        .close_dialog {
            top: 15px !important;
            right: 15px !important;
        }
        .have_account {
            margin-top: 30px !important;
        }
    }
}