<div class="partner_sign_up">
    <img class="close_dialog" (click)="onCloseDialog()" src="assets/sign-in-up/close.png">
    <div class="partner_sign_up_container">
        <div class="partner_sign_up_description">
            <span>{{'_partner_sign_up_title' | translate}}</span>
        </div>
        <form [formGroup]="partnerSignUpForm" class="form-horizontal partner_sign_up_form">
            <div class="form-group row">
                <div class="col-6">
                    <label for="first_name">{{'_sign_up_first_name' | translate}} <span>*</span></label>
                    <input formControlName="firstName" type="text" id="first_name" class="form-control" placeholder="{{'_sign_up_first_name' | translate}}">
                </div>
                <div class="col-6">
                    <label for="last_name">{{'_sign_up_last_name' | translate}} <span>*</span></label>
                    <input formControlName="lastName" type="text" id="last_name" class="form-control" placeholder="{{'_sign_up_last_name' | translate}}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6">
                    <label for="email_address">{{'_sign_in_email' | translate}}<span>*</span></label>
                    <input formControlName="email" type="text" id="email_address" class="form-control" placeholder="{{'_sign_in_email' | translate}}">
                </div>
                <div class="col-6">
                    <label for="choose_password">{{'_sign_up_choose_password' | translate}}<span>*</span></label>
                    <input formControlName="password" type="text" id="choose_password" class="form-control" placeholder="{{'_sign_up_choose_password' | translate}}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-6 international_phone">
                    <label for="date_of_birth">{{'_sign_up_mobile_phone' | translate}}</label>
                    <int-phone-prefix defaultCountry='fr' #internationalPhone formControlName="phone"></int-phone-prefix>
                </div>
                <div class="col-6">
                    <label for="referal_id">{{'_sign_up_referal_id' | translate}}</label>
                    <input formControlName="referalId" type="text" id="referal_id" class="form-control" placeholder="{{'_sign_up_referal_id' | translate}}">
                </div>
            </div>
            <div class="form-group privacy_policy ">
                <label><input formControlName="privacyPolicy" class="" type="checkbox"/>
                     <span [innerHtml]="'_privacy_policy' | translate">
                          
                     </span>
                   
                </label>
            </div>
            <div class="form-group get_started">
                <button [disabled]="partnerSignUpForm.invalid" (click)="onPartnerSignUp()" class="btn">{{'signUp' | translate}}</button>
            </div>
            <div class="have_account"><span>{{'_already_have_an_account' | translate}} </span> <span (click)="onCloseDialog(false)">{{'signIn' | translate}}</span></div>
        </form>
    </div>

</div>
<div *ngIf="showOverlay" class="spinner"></div>