<auction-destination></auction-destination>
<auction-tab (selectedTripType)="handleSelectedTripType($event)"></auction-tab>
<auction-description></auction-description>
<div *ngIf="showOverlay" class="spinner"></div>