<div class="auction__description">
    <div class="auction__description_container">
        <div class="auction__description_container_title">
            <span>{{'_preorder_description_title' | translate}}</span>
        </div>
        <div class="auction__description_container_subtitle">
            <span [innerHtml]="'_preorder_description_subtitle' | translate">
            </span>
        </div>
        <div class="auction__description_container_small">
            <span>{{'_preorder_description_small' | translate}}</span>
        </div>
        <div class="auction__description_container_applications">
            <img src="assets/auction/app-store.png">
            <a href="https://play.google.com/store/apps/details?id=com.zont.rider"><img src="assets/auction/google-play.png"></a>
        </div>
    </div>
</div>