.auction__description {
    height: 509px;
    width: 100%;
    display: flex;
    background: rgb(14, 24, 35);
    &_container {
        width: 75%;
        margin: auto;
        &_title {
            text-align: center;
            margin-bottom: 20px;
            span {
                font-family: Lato Black;
                font-size: 55px;
                line-height: 75px;
                letter-spacing: 0.45px;
                color: rgb(255, 255, 255);
            }
        }
        &_subtitle {
            width: 83%;
            margin: 0 auto 16px auto;
            text-align: center;
            span {
                font-family: Lato Light;
                font-size: 24px;
                line-height: 35px;
                color: rgb(255, 255, 255);
                &.bold {
                    font-family: Lato Bold;
                }
            }
        }
        &_small {
            text-align: center;
            span {
                font-family: Lato Light;
                font-size: 18px;
                line-height: 22px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
        &_applications {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 51px;
            img {
                &:first-child {
                    margin-right: 24px;
                }
                height: 66px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .auction__description_container {
        width: 89.75% !important;
    }
    .auction__description {
        height: 507px !important;
    }
    .auction__description_container_title {
        span {
            font-size: 53px !important;
        }
    }
    .auction__description_container_subtitle {
        width: 100% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .auction__description_container {
        width: 90.13% !important;
        margin: auto auto 50px auto !important;
    }
    .auction__description {
        height: 445px !important;
    }
    .auction__description_container_title {
        margin-bottom: 10px !important;
        span {
            font-size: 40px !important;
            line-height: 75px !important;
            letter-spacing: 0.37px !important;
        }
    }
    .auction__description_container_subtitle {
        width: 100% !important;
        span {
            font-size: 24px !important;
            line-height: 35px !important;
        }
    }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
    .auction__description_container {
        width: 88.02% !important;
        margin: auto !important;
    }
    .auction__description {
        min-height: 535px !important;
        height: auto !important;
    }
    .auction__description_container_title {
        margin-bottom: 10px !important;
        span {
            font-size: 33px !important;
            line-height: 55px !important;
            letter-spacing: 0.37px !important;
        }
    }
    .auction__description_container_subtitle {
        width: 100% !important;
        span {
            font-size: 23px !important;
            line-height: 33px !important;
        }
    }
    .auction__description_container_applications {
        img {
            width: calc(100% - 61vw) !important;
            height: auto !important;
            min-width: 150px;
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 375px) {
    .auction__description_container {
        width: 89.33% !important;
        margin: auto !important;
    }
    .auction__description {
        height: 409px !important;
    }
    .auction__description_container_title {
        margin-bottom: 10px !important;
        span {
            font-size: 28px !important;
            line-height: 36px !important;
            letter-spacing: 0.23px !important;
        }
    }
    .auction__description_container_subtitle {
        width: 100% !important;
        span {
            font-size: 16px !important;
            line-height: 26px !important;
        }
    }
    .auction__description_container_applications {
        margin-top: 34px !important;
        img {
            width: calc(100% - 61vw) !important;
            height: auto !important;
            min-width: 125px !important;
        }
    }
    .auction__description_container_small {
        span {
            font-size: 16px !important;
            line-height: 19px !important;
        }
    }
}