<best-way-to-arrive [informationAboutCity]="cityInformation"></best-way-to-arrive>
<welcome-transfer></welcome-transfer>
<how-become-partner [howBecomeData]="howBecomeData"></how-become-partner>
<start-trip-to [informationAboutCity]="cityInformation"></start-trip-to>
<airport-transfers [informationAboutCity]="cityInformation"></airport-transfers>