:host /deep/ {
    .ride-steps {
        width: 100%;
        background: url("/assets/ride/ride-steps/background.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        &__container {
            width: 75%;
            margin: 0 auto;
            &--description {
                .ride-heading {
                    &.minimize {
                        display: none;
                    }
                    margin-top: 170px;
                    &__title {
                        width: 100%;
                        span {
                            font-family: Lato Black;
                            font-size: 100px;
                            line-height: 124px;
                            letter-spacing: 0.83px;
                            color: rgb(255, 255, 255);
                        }
                    }
                    &__subtitle {
                        width: 62.63%;
                        span {
                            font-family: Lato Light;
                            font-size: 28px;
                            line-height: 40px;
                            color: rgb(255, 2552, 255);
                            &.bold {
                                font-family: Lato Bold;
                            }
                        }
                    }
                }
                .ride-steps__get-started {
                    margin-top: 30px;
                    button {
                        background-color: rgb(47, 204, 113);
                        text-transform: uppercase;
                        border-radius: 25px;
                        padding: 13px 41px;
                        color: rgb(255, 255, 255);
                        font-family: Lato Bold;
                        line-height: 16px;
                        font-size: 18px;
                        letter-spacing: 0.15px;
                    }
                }
                .ride-steps__item {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-end;
                    margin-top: 150px;
                    &.last {
                        margin-bottom: 150px;
                    }
                    &.left {
                        flex-direction: row-reverse;
                        .ride-steps__item--description {
                            span {
                                text-align: left;
                            }
                        }
                        .ride-steps__item--circle {
                            img {
                                margin: -50px 30px 0 0;
                            }
                        }
                    }
                    &--description {
                        width: 60%;
                        span {
                            color: rgb(255, 255, 255);
                            display: block;
                            text-align: right;
                            &:first-child {
                                font-family: Lato Light;
                                font-size: 55px;
                                line-height: 75px;
                                letter-spacing: 0.45px;
                            }
                            &:nth-child(2) {
                                font-family: Lato Black;
                                font-size: 28px;
                                line-height: 38px;
                                letter-spacing: 0.23px;
                            }
                            &:last-child {
                                font-family: Lato Light;
                                font-size: 24px;
                                line-height: 35px;
                            }
                        }
                    }
                    &--circle {
                        img {
                            margin: -50px 0 0 30px;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .ride-steps {
            &__container {
                width: 89.75% !important;
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .ride-steps {
            &__container {
                width: 90.13% !important;
                height: 100% !important;
            }
        }
        .ride-heading {
            display: none !important;
        }
        .minimize {
            display: inherit !important;
            margin-top: 70px !important;
            .ride-heading__title {
                width: 100%;
                text-align: center;
                span {
                    font-size: 45px !important;
                    line-height: 70px !important;
                    letter-spacing: 0.37px !important;
                }
            }
            .ride-heading__subtitle {
                width: 100%;
                text-align: center;
                span {
                    font-size: 24px !important;
                    line-height: 35px !important;
                }
            }
        }
        .ride-steps__get-started {
            display: flex;
            justify-content: center;
        }
        .ride-steps__item {
            &--description {
                span {
                    &:first-child {
                        font-size: 36px !important;
                        line-height: 46px !important;
                        letter-spacing: 0.3px !important;
                    }
                    &:nth-child(2) {
                        font-size: 20px !important;
                        line-height: 30px !important;
                        letter-spacing: 0.17px !important;
                    }
                    &:last-child {
                        font-family: Lato Light;
                        font-size: 16px !important;
                        line-height: 26px !important;
                    }
                }
            }
            &--circle {
                img {
                    height: 134px !important;
                }
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .ride-steps {
            &__container {
                width: 88.02% !important;
            }
        }
        .ride-heading {
            display: none !important;
        }
        .minimize {
            display: inherit !important;
            margin-top: 70px !important;
            .ride-heading__title {
                width: 100%;
                text-align: center;
                span {
                    font-size: 45px !important;
                    line-height: 70px !important;
                    letter-spacing: 0.37px !important;
                }
            }
            .ride-heading__subtitle {
                width: 100%;
                text-align: center;
                span {
                    font-size: 24px !important;
                    line-height: 35px !important;
                }
            }
        }
        .ride-steps__get-started {
            display: flex;
            justify-content: center;
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        .ride-steps__item {
            align-items: center !important;
            &--description {
                width: 60% !important;
                span {
                    &:first-child {
                        display: none !important;
                    }
                    &:nth-child(2) {
                        font-size: 20px !important;
                        line-height: 30px !important;
                        letter-spacing: 0.17px !important;
                    }
                    &:last-child {
                        font-family: Lato Light;
                        font-size: 16px !important;
                        line-height: 26px !important;
                    }
                }
            }
            &--circle {
                img {
                    height: 92px !important;
                    margin: 0 0 0 24px;
                }
            }
        }
    }
    @media only screen and (min-width: 0) and (max-width: 600px) {
        .ride-steps__item {
            align-items: center !important;
            flex-direction: column-reverse !important;
            margin-top: 50px !important;
            &.last {
                margin-bottom: 50px !important;
            }
            &--description {
                width: 100% !important;
                span {
                    text-align: center !important;
                    &:first-child {
                        display: none !important;
                    }
                    &:nth-child(2) {
                        font-size: 20px !important;
                        line-height: 30px !important;
                        letter-spacing: 0.17px !important;
                        margin-bottom: 10px !important;
                    }
                    &:last-child {
                        font-family: Lato Light;
                        font-size: 16px !important;
                        line-height: 26px !important;
                    }
                }
            }
            &--circle {
                img {
                    height: 92px !important;
                    margin: 0 0 20px 0 !important;
                }
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .ride-steps {
            &__container {
                width: 89.33% !important;
            }
        }
        .ride-heading {
            display: none !important;
        }
        .minimize {
            display: inherit !important;
            margin-top: 87px !important;
            .ride-heading__title {
                width: 100%;
                text-align: center;
                span {
                    font-size: 28px !important;
                    line-height: 36px !important;
                    letter-spacing: 0.23px !important;
                }
            }
            .ride-heading__subtitle {
                width: 100%;
                text-align: center;
                span {
                    font-size: 16px !important;
                    line-height: 26px !important;
                }
            }
        }
        .ride-steps__get-started {
            display: flex;
            justify-content: center;
        }
    }
}