<div class="ride-steps">
    <div class="ride-steps__container">
        <div class="ride-steps__container--description">
            <div class="ride-heading">
                <div class="ride-heading__title">
                    <span [innerHtml]="'_ride_steps_title' | translate"></span>
                </div>
                <div class="ride-heading__subtitle">
                    <span [innerHtml]="'_ride_steps_description' | translate"></span>
                </div>
            </div>
            <div class="ride-heading minimize">
                <div class="ride-heading__title">
                    <span>{{'ride_steps_title_small' | translate}}</span>
                </div>
                <div class="ride-heading__subtitle">
                    <span [innerHtml]="'_ride_steps_description' | translate"></span>
                </div>
            </div>
            <div class="ride-steps__get-started">
                <button (click)="onOpenSignUp()" class="btn">{{'signUp' | translate}}</button>
            </div>
            <div class="ride-steps__item">
                <div class="ride-steps__item--description">
                    <span>{{'_step' | translate}}</span>
                    <span>{{'_step_one_title' | translate}}</span>
                    <span>{{'_step_one_subtitle' | translate}}</span>
                </div>
                <div class="ride-steps__item--circle">
                    <img src="assets/ride/ride-steps/circle1.png">
                </div>
            </div>
            <div class="ride-steps__item left">
                <div class="ride-steps__item--description">
                    <span>{{'_step' | translate}}</span>
                    <span>{{'_step_two_title' | translate}}</span>
                    <span>{{'_step_two_subtitle' | translate}} </span>
                </div>
                <div class="ride-steps__item--circle">
                    <img src="assets/ride/ride-steps/circle2.png">
                </div>
            </div>
            <div class="ride-steps__item">
                <div class="ride-steps__item--description">
                    <span>{{'_step' | translate}}</span>
                    <span>{{'_step_three_title' | translate}}</span>
                    <span>{{'_step_three_subtitle' | translate}}</span>
                </div>
                <div class="ride-steps__item--circle">
                    <img src="assets/ride/ride-steps/circle3.png">
                </div>
            </div>
            <div class="ride-steps__item left last">
                <div class="ride-steps__item--description">
                    <span>{{'_step' | translate}}</span>
                    <span>{{'_step_four_title' | translate}}</span>
                    <span>{{'_step_four_subtitle' | translate}}</span>
                </div>
                <div class="ride-steps__item--circle">
                    <img src="assets/ride/ride-steps/circle4.png">
                </div>
            </div>
        </div>
    </div>
</div>