.content {
    .container {
        p {
            font-size: 23px;
            font-family: Lato Regular;
            cursor: pointer;
        }
        input[type=submit] {
            width: 154px;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .buttons {
            margin-top: 60px;
            font-size: 20px;
            font-family: Lato Regular;
            cursor: pointer;
            .confirm {
                background-color: #2FCC71;
                float: left;
            }
            .reject {
                background-color: #dc3545;
                float: right;
            }
        }
    }
}