<div class="best_way_to_arrive">
    <div class="best_way_container">
        <div class="titleAndDescription">
            <div class="title">
                <span *ngIf="informationAboutCity">
                    {{'_best_way_to_arrive_in_title' | translate}} <span>{{informationAboutCity.city.key}}</span>
                </span>
            </div>
            <div class="description">
                <span>{{'_best_way_to_arrive_in_description' | translate}}</span>
            </div>
            <div class="watchVideo">
                <button class="watchVideoButton">
                    <div class="watchBtn">
                        <div class="play_icon">
                            <img src="assets/cities/play.png" alt="">
                        </div>
                        <div class="button_value">
                            <span>{{'_watch_video' | translate}}</span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="formOfWay">
            <auction-actions [isInCitiesView]="true"></auction-actions>
        </div>
    </div>

</div>