.best_way_to_arrive {
  width: 100%;
  min-height: 658px;
  display: flex;
  background-color: rgb(14, 24, 35);
  .best_way_container {
    width: 75%;
    margin: auto;
    // height: 100%;
    display: flex;
    justify-content: space-between;
    .titleAndDescription {
      width: 50%;
      height: 100%;
      .title {
        width: 100%;
        height: fit-content;
        display: flex;
        span {
          font-size: 45px;
          margin-top: 33px;
          font-family: Lato Light;
          line-height: 60px;
          letter-spacing: 0.37px;
          color: white;
          span {
            font-size: 45px;
            margin-top: 33px;
            font-family: Lato Black;
            line-height: 60px;
            letter-spacing: 0.37px;
            color: white;
          }
        }
      }
      .description {
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        span {
          font-size: 28px;
          font-family: Lato Light;
          line-height: 40px;
          color: white;
        }
      }
      .watchVideo {
        width: 100%;
        height: 50px;
        margin-top: 30px;
        .watchVideoButton {
          width: fit-content;
          height: 100%;
          background: rgb(47, 204, 113);
          border-radius: 25px;
          display: flex;
          border: 1px solid rgba(0, 0, 0, 0.05);
          padding: 14px 20px;
          cursor: pointer;
          .watchBtn {
            display: flex;
            margin: auto;
            .play_icon {
              img {
                height: 20px;
                width: 20px;
                margin-bottom: 5px;
              }
            }
            .button_value {
              margin-left: 15px;
              span {
                font-size: 18px;
                font-family: Lato Bold;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: white;
              }
            }
          }
        }
      }
    }
    .formOfWay {
      width: 40%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .best_way_to_arrive {
    min-height: 673px !important;
    .best_way_container {
      width: 89.75% !important;
      .titleAndDescription {
        width: 50% !important;
      }
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .best_way_to_arrive {
    min-height: 781px !important;
    .best_way_container {
      width: 91.13% !important;
      display: block !important;
      margin-top: 75px !important;
      justify-content: none !important;
      .titleAndDescription {
        width: 100%;
        height: fit-content;
        margin-bottom: 100px;
        .title {
          height: fit-content !important;
          display: flex !important;
          span {
            margin: auto !important;
            span {
              font-size: 45px !important;
              line-height: 60px !important;
              letter-spacing: 0.37px !important;
            }
          }
        }
        .description {
          display: flex !important;
          span {
            margin: auto !important;
            text-align: center !important;
          }
        }
        .watchVideo {
          height: 7%;
          display: flex !important;
          .watchVideoButton {
            margin: auto !important;
          }
        }
      }
      .formOfWay {
        width: 65%;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  .best_way_to_arrive {
    min-height: 795px !important;
    .best_way_container {
      width: 88.02% !important;
      // display: block !important;
      margin-top: 75px !important;
      justify-content: none !important;
      flex-direction: column-reverse;
      .titleAndDescription {
        width: 100%;
        height: fit-content;
        margin-bottom: 80px;
        .title {
          height: fit-content !important;
          display: flex !important;
          span {
            margin: auto !important;
            text-align: center;
            span {
              font-size: 45px;
              margin-top: 33px;
              font-family: Lato Black;
              line-height: 60px;
              letter-spacing: 0.37px;
              color: white;
            }
          }
        }
        .description {
          display: flex !important;
          span {
            font-size: 24px !important;
            margin: auto !important;
            text-align: center;
          }
        }
        .watchVideo {
          height: 7%;
          display: flex !important;
          .watchVideoButton {
            margin: auto !important;
          }
        }
      }
      .formOfWay {
        width: 82.75%;
        margin: 0 auto;
      }
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  .best_way_to_arrive {
    min-height: 949px !important;
    .best_way_container {
      width: 89.33% !important;
      //   display: block !important;
      margin-top: 75px !important;
      justify-content: none !important;
      flex-direction: column-reverse;

      .titleAndDescription {
        width: 100%;
        height: fit-content;
        margin-bottom: 50px;
        .title {
          height: fit-content !important;
          display: flex !important;
          span {
            margin: auto !important;
            text-align: center;
            font-size: 28px !important;
            line-height: 36px !important;
            letter-spacing: 0.23px !important;
            span {
              font-size: 28px !important;
              line-height: 36px !important;
              letter-spacing: 0.23px !important;
            }
          }
        }
        .description {
          display: flex !important;
          span {
            font-size: 16px !important;
            line-height: 26px !important;
            margin: auto !important;
            text-align: center;
          }
        }
        .watchVideo {
          height: 5%;
          display: flex !important;
          .watchVideoButton {
            margin: auto !important;
            padding: 10px 24px !important;
            .watchBtn {
              padding: 0 !important;
              .play_icon {
                display: none !important;
              }
              .button_value {
                margin-left: 0px !important;
                span {
                  font-size: 16px !important;
                  line-height: 22px !important;
                }
              }
            }
          }
        }
      }
      .formOfWay {
        width: 100%;
      }
    }
  }
}
