<div class="bank_card">
    <div class="bank_card_container">
        <input type="radio" id="checkbox+{{value}}" [value]="value" [(ngModel)]="selectedValue" (ngModelChange)="onChange($event)" />
        <label for="checkbox+{{value}}"></label>
        <span style="margin-left: 15px">XXXX - <span> {{card.cardNumber}}</span></span>
        <img src="{{cardTypes[card.type]}}">
        <img class="trash_button" (click)="deleteBankCard(card.id)" src="assets/auction/trash.png">
    </div>
</div>