.bank_card {
    &:hover .trash_button {
        display: block;
        transition: all 0.3s;
    }
    margin-bottom: 25px;
    border-radius: 4px;
    height: 40px;
    width: 100%;
    display: flex;
    background: rgb(72, 75, 80);
    border: 1px solid rgba(255, 255, 255, 0.05);
    &_container {
        padding: 0 15px;
        display: flex;
        align-items: center;
        width: 100%;
        position: relative;
        .trash_button {
            height: 16.1px;
            display: none;
            cursor: pointer;
            margin-left: 16px;
        }
        label {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 50%;
            cursor: pointer;
            height: 16px;
            left: 15px;
            position: absolute;
            top: unset;
            width: 16px;
        }
        label:after {
            border: 2px solid #fff;
            border-top: none;
            border-right: none;
            content: "";
            height: 6px;
            left: 2px;
            opacity: 0;
            position: absolute;
            top: 3px;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            width: 10px;
        }
        input[type="radio"] {
            visibility: hidden;
        }
        input[type="radio"]:checked+label {
            background-color: #66bb6a;
            border-color: #66bb6a;
        }
        input[type="radio"]:checked+label:after {
            opacity: 1;
        }
        span {
            font-family: Lato Regular;
            font-size: 16px;
            line-height: 19px;
            color: rgb(255, 255, 255);
        }
        img {
            margin-left: auto;
            height: 24px;
        }
    }
}