<div class="driver_get_started" [style.background]="getStartedInformation.backgroundColor">
    <div class="driver_get_started_container">
        <div class="get_started_title"><span [style.color]="getStartedInformation.textColor">{{getStartedInformation.title | translate}}</span></div>
        <div class="get_started_subtitle">
            <span [style.color]="getStartedInformation.textColor" [innerHtml]="'_driver_rider_get_started_subtitle' | translate">

            </span>
        </div>
        <div class="get_started_button"><button (click)="onOpenSignUp()" class="btn">{{'signUp' | translate}}</button></div>
    </div>
</div>