:host /deep/ {
    .driver_get_started {
        height: 395px;
        width: 100%;
        display: flex;
        .driver_get_started_container {
            width: 75%;
            margin: auto;
            .get_started_title {
                text-align: center;
                span {
                    font-family: Lato Black;
                    font-size: 55px;
                    line-height: 75px;
                    letter-spacing: 0.45px;
                }
            }
            .get_started_subtitle {
                text-align: center;
                span {
                    font-family: Lato Light;
                    font-size: 28px;
                    line-height: 40px;
                    &.bold {
                        font-family: Lato Bold;
                    }
                }
            }
            .get_started_button {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                button {
                    color: rgb(255, 255, 255);
                    background-color: rgb(47, 204, 113);
                    width: 200px;
                    height: 50px;
                    font-family: Lato Bold;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    border-radius: 25px;
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .driver_get_started_container {
            width: 89.75% !important;
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .driver_get_started_container {
            width: 90.13% !important;
        }
        .driver_get_started {
            height: 320px !important;
        }
        .get_started_title {
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .get_started_subtitle {
            span {
                font-size: 24px !important;
                line-height: 35px !important;
            }
        }
        .get_started_button {
            button {
                font-size: 18px !important;
                line-height: 24px !important;
                letter-spacing: 0.15px !important;
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .driver_get_started_container {
            width: 88.02% !important;
        }
        .driver_get_started {
            height: 320px !important;
        }
        .get_started_title {
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .get_started_subtitle {
            span {
                font-size: 24px !important;
                line-height: 35px !important;
            }
        }
        .get_started_button {
            button {
                font-size: 18px !important;
                line-height: 24px !important;
                letter-spacing: 0.15px !important;
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .driver_get_started_container {
            width: 89.33% !important;
        }
        .driver_get_started {
            height: 230px !important;
        }
        .get_started_title {
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .get_started_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
                &.bold {
                    font-family: Lato Light !important;
                }
            }
        }
        .get_started_button {
            margin-top: 20px !important;
            button {
                width: 160px !important;
                height: 40px !important;
                font-size: 16px !important;
                line-height: 22px !important;
                letter-spacing: 0.13px !important;
            }
        }
    }
}