.card-of-road {
    width: 100%;
    display: flex;
    padding-top: 40px;
    .card-item {
        margin: auto;
        width: 83%;
        height: 100%;
        background-color: #0E1823;
        color: white;
        .date-info {
            width: 100%;
            height: fit-content;
            display: flex;
            padding: 16px 20px 17px 20px;
            justify-content: space-between;
            border-bottom: 1px solid #ffffff17;
            .full-date {
                display: flex;
                .date {
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    span {
                        margin: auto;
                        font-size: 20px;
                        font-family: Lato Bold;
                    }
                    ;
                    .lineAfterDate {
                        height: 20px;
                        border: 1px solid #ffffff17;
                        margin: auto;
                        margin-left: 6px
                    }
                }
                .time {
                    width: fit-content;
                    height: 100%;
                    display: flex;
                    margin-left: 15px;
                    span {
                        margin: auto 0;
                        font-size: 20px;
                        font-family: Lato Bold
                    }
                }
            }
            .money {
                width: fit-content;
                height: 100%;
                display: flex;
                span {
                    margin: auto;
                    font-size: 20px;
                    font-family: Lato Bold;
                    color: #2FCC71
                }
            }
        }
        .info-of-places {
            width: 100%;
            height: 46%;
            padding: 28px 40px 29px 40px;
            border-bottom: 1px solid #ffffff17;
            .placeInfoField {
                height: 100%;
                display: flex;
                .circlesLine {
                    width: 10%;
                    height: 70%;
                    display: block;
                    .circleWithoutBackground {
                        width: 100%;
                        height: 25%;
                        display: flex;
                        .circleWithoutFill {
                            height: 14px;
                            width: 14px;
                            border-radius: 50%;
                            border: 1px solid #2FCC71;
                            margin: auto
                        }
                    }
                    .line {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        .lineStyle {
                            width: 0px;
                            height: 42px;
                            border: 1px solid #2FCC71;
                            margin: auto
                        }
                    }
                    .circleWithBackground {
                        width: 100%;
                        display: flex;
                        height: 25%;
                        .fillCircle {
                            height: 14px;
                            width: 14px;
                            border-radius: 50%;
                            background-color: #2FCC71;
                            margin: auto
                        }
                    }
                }
                .fromTo {
                    width: 10%;
                    height: 70%;
                    display: block;
                    .from {
                        width: 60%;
                        height: 25%;
                        display: flex;
                        span {
                            font-size: 20px;
                            font-family: Lato Light;
                            margin: auto 0;
                            color: #ffffff7a
                        }
                    }
                    .emptyField {
                        width: 50%;
                        height: 50%;
                    }
                    .to {
                        width: 50%;
                        height: 25%;
                        display: flex;
                        span {
                            font-size: 20px;
                            font-family: Lato Light;
                            margin: auto 0;
                            color: #ffffff7a
                        }
                    }
                }
                .nameOfPlaces {
                    width: 70%;
                    height: 100%;
                    .addressOfPlaceOfFrom {
                        height: 35%;
                        width: 100%;
                        display: block;
                        .placeName {
                            height: 50%;
                            span {
                                font-size: 20px;
                                font-family: Lato Bold;
                                margin: auto 0;
                                color: #ffffff;
                            }
                        }
                        .placeAddress {
                            height: 50%;
                            span {
                                font-size: 18px;
                                font-family: Lato Light;
                                margin: auto 0;
                                color: #ffffff;
                            }
                        }
                    }
                    .empty {
                        height: 17%;
                        width: 100%;
                    }
                    .addressOfPlaceOfTo {
                        height: 35%;
                        width: 100%;
                        .placeName {
                            height: 50%;
                            span {
                                font-size: 20px;
                                font-family: Lato Bold;
                                margin: auto 0;
                                color: #ffffff;
                            }
                        }
                        .placeAddress {
                            height: 50%;
                            span {
                                font-size: 18px;
                                font-family: Lato Light;
                                margin: auto 0;
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
        .info-of-distance {
            width: 100%;
            height: 41%;
            .distanceItemGroup {
                width: 100%;
                display: block;
                padding: 23px 20px 24px 20px;
                .distanceItem {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    &:not(:last-child) {
                        margin-bottom: 12px;
                    }
                    .category {
                        width: fit-content;
                        span {
                            font-size: 20px;
                            font-family: Lato Light !important;
                            color: #ffffff7a;
                        }
                    }
                    .value-of-category {
                        width: fit-content;
                        display: flex;
                        .categoryValue {
                            width: fit-content;
                            display: flex;
                            .lineAfterDate {
                                height: 20px;
                                width: 0px;
                                border: 1px solid #ffffff17;
                                margin: auto;
                                margin-left: 15px;
                            }
                            span {
                                margin: auto;
                                font-size: 20px;
                                font-family: Lato Light !important;
                            }
                        }
                        .time {
                            width: fit-content;
                            display: flex;
                            margin-left: 24px;
                            span {
                                font-size: 20px;
                                margin: auto;
                                font-family: Lato Light !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.delete___button {
    margin-top: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        width: 100%;
        height: 100%;
        background: #2FCC71;
        color: white;
        border-radius: 0 0 5px 5px;
        border: none;
        font-size: 20px;
        font-family: Lato Regular;
        cursor: pointer;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .card-item {
        width: 82.9% !important;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .card-item {
        width: 100% !important;
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .card-item {
        width: 99.5% !important;
    }
}

@media only screen and (min-width: 0) and (max-width: 375px) {
    .card-of-road {
        // height: 377px !important;
        padding-top: 30px !important;
        .card-item {
            width: 100% !important;
            .date-info {
                height: 13.8% !important;
                padding: 11px 14px 11px 17px !important;
                .full-date {
                    .date {
                        width: fit-content;
                        span {
                            font-size: 14px !important;
                        }
                        ;
                        .lineAfterDate {
                            height: 12px;
                            margin-left: 4px
                        }
                    }
                    .time {
                        width: fit-content;
                        margin-left: 10px !important;
                        span {
                            font-size: 14px !important;
                        }
                    }
                }
                .money {
                    width: fit-content !important;
                    span {
                        font-size: 14px !important;
                    }
                }
            }
            .info-of-places {
                height: 39.1% !important;
                padding: 14px 18px 14px 18px !important;
                .placeInfoField {
                    .circlesLine {
                        width: 15% !important;
                        .circleWithoutBackground {
                            .circleWithoutFill {
                                height: 5px !important;
                                width: 5px !important;
                            }
                        }
                        .line {
                            .lineStyle {
                                width: 0px !important;
                                height: 27px !important;
                                border: 0.5px solid #2FCC71;
                            }
                        }
                        .circleWithBackground {
                            .fillCircle {
                                height: 5px !important;
                                width: 5px !important;
                            }
                        }
                    }
                    .fromTo {
                        width: 20% !important;
                        .from {
                            height: 35% !important;
                            span {
                                font-size: 13px !important;
                            }
                        }
                        .emptyField {
                            height: 45% !important;
                        }
                        .to {
                            height: 20% !important;
                            span {
                                font-size: 13px !important;
                            }
                        }
                    }
                    .nameOfPlaces {
                        width: 65% !important;
                        .addressOfPlaceOfFrom {
                            .placeName {
                                span {
                                    font-size: 15px !important;
                                }
                            }
                            .placeAddress {
                                span {
                                    font-size: 11px !important;
                                }
                            }
                        }
                        .addressOfPlaceOfTo {
                            .placeName {
                                span {
                                    font-size: 15px !important;
                                }
                            }
                            .placeAddress {
                                span {
                                    font-size: 11px !important;
                                }
                            }
                        }
                    }
                }
            }
            .info-of-distance {
                height: 60% !important;
                .distanceItemGroup {
                    padding: 14px 15px 15px 17px !important;
                    .distanceItem {
                        .category {
                            span {
                                font-size: 13px !important;
                            }
                        }
                        .value-of-category {
                            .categoryValue {
                                .lineAfterDate {
                                    height: 12px;
                                    margin-left: 10px;
                                }
                                ;
                                span {
                                    font-size: 13px !important;
                                }
                            }
                            .time {
                                margin-left: 10px !important;
                                span {
                                    font-size: 13px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 600px) {
    .card-of-road {
        // height: 377px !important;
        padding-top: 30px !important;
        .card-item {
            width: 100% !important;
            .date-info {
                height: 13.8% !important;
                padding: 11px 14px 11px 17px !important;
                .full-date {
                    .date {
                        width: fit-content;
                        span {
                            font-size: 14px !important;
                        }
                        ;
                        .lineAfterDate {
                            height: 12px;
                            margin-left: 4px
                        }
                    }
                    .time {
                        width: fit-content;
                        margin-left: 10px !important;
                        span {
                            font-size: 14px !important;
                        }
                    }
                }
                .money {
                    width: fit-content !important;
                    span {
                        font-size: 14px !important;
                    }
                }
            }
            .info-of-places {
                height: 39.1% !important;
                padding: 14px 18px 14px 18px !important;
                .placeInfoField {
                    .circlesLine {
                        width: 15% !important;
                        .circleWithoutBackground {
                            .circleWithoutFill {
                                height: 5px !important;
                                width: 5px !important;
                            }
                        }
                        .line {
                            .lineStyle {
                                width: 0px !important;
                                height: 27px !important;
                                border: 0.5px solid #2FCC71;
                            }
                        }
                        .circleWithBackground {
                            .fillCircle {
                                height: 5px !important;
                                width: 5px !important;
                            }
                        }
                    }
                    .fromTo {
                        width: 15% !important;
                        .from {
                            height: 35% !important;
                            span {
                                font-size: 13px !important;
                            }
                        }
                        .emptyField {
                            height: 45% !important;
                        }
                        .to {
                            height: 20% !important;
                            span {
                                font-size: 13px !important;
                            }
                        }
                    }
                    .nameOfPlaces {
                        width: 70% !important;
                        .addressOfPlaceOfFrom {
                            .placeName {
                                span {
                                    font-size: 15px !important;
                                }
                            }
                            .placeAddress {
                                span {
                                    font-size: 11px !important;
                                }
                            }
                        }
                        .addressOfPlaceOfTo {
                            .placeName {
                                span {
                                    font-size: 15px !important;
                                }
                            }
                            .placeAddress {
                                span {
                                    font-size: 11px !important;
                                }
                            }
                        }
                    }
                }
            }
            .info-of-distance {
                height: 60% !important;
                .distanceItemGroup {
                    padding: 14px 15px 15px 17px !important;
                    .distanceItem {
                        .category {
                            span {
                                font-size: 13px !important;
                            }
                        }
                        .value-of-category {
                            .categoryValue {
                                .lineAfterDate {
                                    height: 12px;
                                    margin-left: 10px;
                                }
                                ;
                                span {
                                    font-size: 13px !important;
                                }
                            }
                            .time {
                                margin-left: 10px !important;
                                span {
                                    font-size: 13px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}