<div *ngIf="preorderInfo" class="card-of-road">
    <div class="card-item">
        <div class="date-info">
            <div class="full-date">
                <div class="date">
                    <span>{{formatDate(preorderInfo.startDate) | date: 'longDate'}}</span>
                    <div class="lineAfterDate"></div>
                </div>
                <div class="time">
                    <span>{{preorderInfo.startDate.slice(preorderInfo.startDate.length-9,preorderInfo.startDate.length-3)}}</span>

                </div>
            </div>
            <div class="money">
                <span>{{preorderInfo.totalAmount}}EUR</span>

            </div>
        </div>
        <div class="info-of-places">
            <div class="placeInfoField">
                <div class="circlesLine">
                    <div class="circleWithoutBackground">
                        <div class="circleWithoutFill"></div>
                    </div>
                    <div class="line">
                        <div class="lineStyle"></div>
                    </div>
                    <div class="circleWithBackground">
                        <div class="fillCircle"></div>
                    </div>
                </div>
                <div class="fromTo">
                    <div class="from">
                        <span>{{'_preorder_pickup_placeholder' | translate}}</span>
                    </div>
                    <div class="emptyField"></div>
                    <div class="to">
                        <span>{{'_preorder_drop_placeholder' | translate }}</span>
                    </div>
                </div>
                <div class="nameOfPlaces">
                    <div class="addressOfPlaceOfFrom">
                        <div class="placeName">
                            <span>{{preorderInfo.startAddress.split(',')[0]}}</span>
                        </div>
                        <div class="placeAddress">
                            <span>{{preorderInfo.startAddress.split(',')[1]}}</span>
                        </div>
                    </div>
                    <div class="empty"></div>
                    <div class="addressOfPlaceOfTo">
                        <div class="placeName">
                            <span>{{(preorderInfo.endAddress?.split(',')[0])||"TRIP TYPE IS TIMING"}}</span>
                        </div>
                        <div class="placeAddress">
                            <span>{{(preorderInfo.endAddress?.split(',')[1]) || ''}}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="info-of-distance">
            <div class="distanceItemGroup">
                <div class="distanceItem" *ngFor="let item of distanceInfo">
                    <div class="category">
                        <span>{{item.name | translate}}</span>
                    </div>
                    <div class="value-of-category">
                        <div class="categoryValue">
                            <span>{{preorderInfo[item.value]}}</span>
                            <span *ngIf="item.time">{{'not_completed_trip' | translate}}  </span>
                            <span *ngIf="item.value == 'distance'">{{'_preorder_drop_placeholder' | translate}}</span>
                            <div *ngIf="item.time" class="lineAfterDate"></div>
                        </div>
                        <div *ngIf="item.time" class="time">
                            <span>00:00</span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="delete___button">
            <button (click)="cancelOrder(preorderInfo.id)">{{'_cancel' | translate}}</button>
        </div>
    </div>

</div>
<div *ngIf="showOverlay" class="spinner"></div>