<div class="looking_for_driving">
    <div class="looking_for_driving_container">
        <img class="car_image" src="/assets/drive/looking-for-driving/car-with-man.png">
        <div class="looking_for_driving_information">
            <div class="looking_for_driving_title"><span>{{'_looking_for_driving_title' | translate}} </span></div>
            <div class="looking_for_driving_subtitle">
                <span [innerHtml]="'_looking_for_driving_subtitle' | translate">

                </span>
            </div>
            <div class="looking_for_driving_button"><button (click)="onOpenSignUp()" class="btn">{{'signUp' | translate}}</button></div>
        </div>
    </div>
</div>