:host /deep/ {
    .looking_for_driving {
        height: 1000px;
        width: 100%;
        display: flex;
        background: url('/assets/drive/looking-for-driving/background.png');
        background-position: bottom center;
        background-size: cover;
        background-repeat: no-repeat;
        .looking_for_driving_container {
            width: 75%;
            margin: 0 auto;
            position: relative;
            .car_image {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 393pt;
                height: 284pt;
            }
            .looking_for_driving_information {
                margin-top: 170px;
                .looking_for_driving_title {
                    text-align: center;
                    span {
                        font-family: Lato Black;
                        font-size: 100px;
                        line-height: 140px;
                        letter-spacing: 0.83px;
                        color: rgb(18, 28, 39);
                    }
                }
                .looking_for_driving_subtitle {
                    width: 708px;
                    margin: 0 auto;
                    text-align: center;
                    span {
                        font-family: Lato Light;
                        font-size: 28px;
                        line-height: 40px;
                        color: rgb(18, 28, 39);
                    }
                    span.bold {
                        font-family: Lato Bold;
                    }
                }
                .looking_for_driving_button {
                    display: flex;
                    justify-content: center;
                    margin-top: 30px;
                    button {
                        margin: 0 auto;
                        width: 200px;
                        height: 50px;
                        border-radius: 25px;
                        background-color: rgb(47, 204, 113);
                        font-family: Lato Bold;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.15px;
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .looking_for_driving_container {
            width: 89.75% !important;
        }
        .looking_for_driving {
            background-size: contain !important;
            height: 756px !important;
        }
        .looking_for_driving_information {
            margin-top: 120px !important;
        }
        .car_image {
            width: 393px !important;
            height: 284px !important;
        }
        .looking_for_driving_title {
            span {
                font-size: 94px !important;
                white-space: nowrap !important;
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .looking_for_driving_container {
            width: 90.13% !important;
        }
        .looking_for_driving {
            background-size: cover !important;
            height: 547px !important;
        }
        .looking_for_driving_information {
            margin-top: 70px !important;
        }
        .car_image {
            width: 371px !important;
            height: 268px !important;
        }
        .looking_for_driving_title {
            width: 83.2% !important;
            margin: 0 auto;
            span {
                font-size: 45px !important;
                letter-spacing: 0.37px;
                line-height: 46px !important;
                white-space: nowrap !important;
            }
        }
        .looking_for_driving_subtitle {
            width: 83.2% !important;
            margin: 0 auto;
            span {
                font-size: 24px !important;
                line-height: 35px !important;
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .looking_for_driving_container {
            width: 88.02% !important;
        }
        .looking_for_driving {
            background-size: contain !important;
            height: 547px !important;
        }
        .looking_for_driving_information {
            margin-top: 70px !important;
        }
        .car_image {
            width: 264px !important;
            height: 190.7px !important;
        }
        .looking_for_driving_title {
            width: 100% !important;
            margin: 0 auto;
            span {
                font-size: 45px !important;
                letter-spacing: 0.37px;
                line-height: 55px !important;
            }
        }
        .looking_for_driving_subtitle {
            width: 100% !important;
            margin: 0 auto;
            span {
                font-size: 24px !important;
                line-height: 35px !important;
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .looking_for_driving_container {
            width: 89.33% !important;
        }
        .looking_for_driving {
            background: url(/assets/drive/looking-for-driving/background-small.png);
            background-size: cover !important;
            background-position: bottom center;
            background-repeat: no-repeat;
            height: 587px !important;
        }
        .looking_for_driving_information {
            margin-top: 120px !important;
        }
        .car_image {
            display: none !important
        }
        .looking_for_driving_title {
            width: 100% !important;
            margin: 0 auto 10px auto;
            span {
                font-size: 28px !important;
                letter-spacing: 0.23px;
                line-height: 36px !important;
                white-space: nowrap;
            }
        }
        .looking_for_driving_subtitle {
            width: 100% !important;
            margin: 0 auto;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
}