<div class="auction_destination" *ngIf="auctionInfo">
    <div class="auction_destination_container">
        <div class="line"></div>
        <div class="destination_point">
            <div class="destination_point_title"><span>{{'_preorder_destination_from' | translate}}</span></div>
            <div class="destination_point_direction">
                <div><span>{{auctionInfo.addresses.origin}}</span></div>
                <div><span>{{auctionInfo.addresses.origin.split(',')[0]}}</span></div>
            </div>
        </div>
        <div class="destination_point">
            <div class="destination_point_title"><span>{{'_preorder_destination_to' | translate}}</span></div>
            <div class="destination_point_direction">
                <div><span>{{auctionInfo.addresses.destination || ''}}</span></div>
                <div><span>{{auctionInfo.addresses.destination?.split(',')[0] || ''}}</span></div>
            </div>
        </div>
        <div class="destination_description">
            <div class="destination_description_item">
                <div class="trip_description_info"><span class="transparent_key_font">
                        {{'_preorder_duration' | translate}}: </span> <span class="transparent_value_font">
                        {{ auctionInfo.duration | secToDate | date:'HH:mm'}}
                        <!-- {{'_preorder_minutes' | translate}} -->
                    </span></div>
                <div class="separator"> <span>|</span></div>
                <div class="trip_description_info"><span
                        class="transparent_key_font">{{'_preorder_distance' | translate}}: </span> <span
                        class="transparent_value_font">{{auctionInfo.distance}}
                        {{'_preorder_km' | translate}}</span>
                </div>
            </div>
            <div class="destination_description_item">
                <div class="trip_description_info"><span class="transparent_key_font">
                        {{'_preorder_when' | translate}}:
                    </span> <span
                        class="transparent_value_font">{{formatDate(auctionInfo.date) | date: 'longDate'}}</span>
                </div>
                <div class="separator"> <span>|</span></div>
                <div class="trip_description_info"><span class="transparent_key_font">{{'preorder_time' | translate}}:
                    </span> <span class="transparent_value_font">{{auctionInfo.time}}</span> </div>
            </div>
        </div>
    </div>
</div>