.auction_destination {
  height: 231px;
  width: 100%;
  display: flex;
  background: rgb(14, 24, 35);
  &_container {
    width: 75%;
    margin: 50px auto auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    .line {
      position: absolute;
      top: -50px;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
    }
    .destination_point {
      // &:first-child {
      //     margin-right: 100px;
      // }
      display: flex;
      align-items: flex-start;
      .destination_point_title {
        margin-right: 30px;
        span {
          font-family: Lato Light;
          font-size: 26px;
          line-height: 32px;
          color: rgba(255, 255, 255, 0.5);
        }
      }
      &_direction {
        & div:first-child {
          span {
            font-family: Lato Bold;
            font-size: 26px;
            line-height: 32px;
            color: rgb(255, 255, 255);
          }
        }
        & div:last-child {
          margin-top: 20px;
          span {
            font-family: Lato Light;
            font-size: 24px;
            line-height: 29px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
    .destination_description {
      // margin-left: auto;
      &_item {
        &:first-child {
          margin-bottom: 23px;
        }
        display: flex;
        .separator {
          margin: 0 20px;
          span {
            color: rgba(255, 255, 255, 0.15);
          }
        }
        .transparent_key_font {
          font-family: Lato Light;
          font-size: 24px;
          line-height: 29px;
          color: rgba(255, 255, 255, 0.5);
        }
        .transparent_value_font {
          font-family: Lato Light;
          font-size: 24px;
          line-height: 29px;
          color: rgb(255, 255, 255);
        }
      }
    }
  }
}

@media only screen and (min-width: 1594px) and (max-width: 1685px) {
  .destination_point {
    &:first-child {
      margin-right: 35px !important;
    }
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1594px) {
  .destination_point {
    &:first-child {
      margin-right: 0 !important;
    }
  }
  .destination_point_direction {
    white-space: nowrap;
  }
  .destination_description_item {
    white-space: nowrap;
  }
  .separator {
    margin: 0 10px !important;
  }
  .transparent_value_font,
  .transparent_key_font {
    font-size: 22px !important;
  }
  .destination_point_direction {
    & div:first-child {
      span {
        font-size: 24px !important;
      }
    }
    & div:last-child {
      margin-top: 10px !important;
      span {
        font-size: 22px !important;
      }
    }
  }
  .destination_point_title {
    margin-right: 15px !important;
  }
  .destination_description_item {
    &:first-child {
      margin-bottom: 10px !important;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .auction_destination_container {
    width: 89.75% !important;
  }
  .auction_destination {
  }
  .transparent_value_font,
  .transparent_key_font {
    font-size: 21px !important;
  }
  .destination_point_direction {
    & div:first-child {
      span {
        font-size: 21px !important;
      }
    }
    & div:last-child {
      margin-top: 10px !important;
      span {
        font-size: 19px !important;
      }
    }
  }
  .destination_point_direction {
    white-space: nowrap;
  }
  .destination_description_item {
    white-space: nowrap;
  }
  .separator {
    margin: 0 10px !important;
  }
  .destination_point_title {
    margin-right: 15px !important;
  }
  .destination_description_item {
    &:first-child {
      margin-bottom: 10px !important;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .auction_destination_container {
    width: 90.13% !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    margin: auto !important;
    height: 55% !important;
  }
  .auction_destination {
    height: 222px !important;
  }
  .destination_description {
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-45%);
  }
  .transparent_value_font,
  .transparent_key_font {
    font-size: 16px !important;
    line-height: 18px !important;
  }
  .destination_point_direction {
    & div:first-child {
      span {
        font-size: 18px !important;
        line-height: 22px !important;
      }
    }
    & div:last-child {
      margin-top: 5px !important;
      span {
        font-size: 16px !important;
        line-height: 19px !important;
      }
    }
  }
  .destination_point_title {
    width: 3% !important;
    // margin-right: 30px !important;
    span {
      font-size: 16px !important;
      line-height: 19px !important;
    }
  }
  .destination_point {
    width: 100% !important;
  }
  .separator {
    display: none !important;
  }
  .destination_description_item {
    &:first-child {
      margin-bottom: 0 !important;
    }
    text-align: right !important;
    flex-direction: column !important;
    .trip_description_info {
      margin-bottom: 15px !important;
    }
  }
}

@media only screen and (min-width: 575px) and (max-width: 768px) {
  .auction_destination_container {
    width: 88.02% !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    margin: auto !important;
    height: 55% !important;
  }
  .auction_destination {
    height: 222px !important;
  }
  .destination_description {
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translateY(-45%);
  }
  .transparent_value_font,
  .transparent_key_font {
    font-size: 16px !important;
    line-height: 18px !important;
  }
  .destination_point_direction {
    & div:first-child {
      span {
        font-size: 18px !important;
        line-height: 22px !important;
      }
    }
    & div:last-child {
      margin-top: 5px !important;
      span {
        font-size: 16px !important;
        line-height: 19px !important;
      }
    }
  }
  .destination_point_title {
    width: 3% !important;
    // margin-right: 30px !important;
    span {
      font-size: 16px !important;
      line-height: 19px !important;
    }
  }
  .destination_point {
    width: 100% !important;
  }
  .separator {
    display: none !important;
  }
  .destination_description_item {
    &:first-child {
      margin-bottom: 0 !important;
    }
    text-align: right !important;
    flex-direction: column !important;
    .trip_description_info {
      margin-bottom: 15px !important;
    }
  }
}

@media only screen and (min-width: 0) and (max-width: 575px) {
  .auction_destination_container {
    width: 89.33% !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-around !important;
    margin: auto !important;
  }
  .auction_destination {
    height: auto !important;
    min-height: 391px !important;
  }
  .transparent_value_font,
  .transparent_key_font {
    font-size: 16px !important;
    line-height: 18px !important;
  }
  .destination_point_direction {
    & div:first-child {
      span {
        font-size: 18px !important;
        line-height: 22px !important;
      }
    }
    & div:last-child {
      margin-top: 5px !important;
      span {
        font-size: 16px !important;
        line-height: 19px !important;
      }
    }
  }
  .destination_point {
    margin-bottom: 30px !important;
    flex-direction: column !important;
    text-align: center !important;
    align-items: center !important;
  }
  .destination_point_title {
    margin-right: 0px !important;
    margin-bottom: 10px !important;
    span {
      font-size: 16px !important;
      line-height: 19px !important;
    }
  }
  .separator {
    display: none !important;
  }
  .destination_description_item {
    &:first-child {
      margin-bottom: 0 !important;
    }
    text-align: center !important;
    flex-direction: column !important;
    .trip_description_info {
      margin-bottom: 15px !important;
    }
  }
  .line {
    top: -30px !important;
  }
}
