<div class="area_header">
    <div class="area_header_container">
        <div *ngIf="client" class="area_header_title">
            <span>{{'Welcome, ' + client.firstName + ' ' + client.lastName}}</span>
        </div>
        <div class="area_header_subtitle">
            <span>{{ '_personal_area_description' | translate }}</span>
        </div>
    </div>
</div>