.area_header {
    width: 100%;
    display: flex;
    background-color: rgb(18, 28, 39);
    height: 354px;
    &_container {
        width: 75%;
        margin: auto;
        .area_header_title {
            text-align: center;
            span {
                font-family: Lato Black;
                font-size: 55px;
                line-height: 75px;
                letter-spacing: 0.45px;
                color: rgb(255, 255, 255);
            }
        }
        .area_header_subtitle {
            width: 83%;
            margin: 0 auto;
            text-align: center;
            span {
                font-family: Lato Light;
                font-size: 24px;
                line-height: 35px;
                color: rgb(255, 255, 255);
            }
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .area_header {
        &_container {
            width: 89.75% !important;
            .area_header_subtitle {
                width: 100% !important;
            }
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .area_header {
        height: 367px !important;
        &_container {
            width: 90.13% !important;
            .area_header_subtitle {
                width: 100% !important;
            }
        }
    }
}

@media only screen and (min-width: 650px) and (max-width: 768px) {
    .area_header {
        height: 403px !important;
        &_container {
            width: 88.02% !important;
            .area_header_subtitle {
                width: 100% !important;
            }
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 650px) {
    .area_header {
        height: 403px !important;
        &_container {
            width: 88.02% !important;
            .area_header_title {
                span {
                    font-size: 36px !important;
                    line-height: 36px !important;
                    letter-spacing: 0.23px !important;
                }
            }
            .area_header_subtitle {
                width: 100% !important;
                span {
                    font-size: 20px !important;
                    line-height: 32px !important;
                }
            }
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
    .area_header {
        height: 322px;
        &_container {
            width: 89.33% !important;
            .area_header_title {
                span {
                    font-size: 28px !important;
                    line-height: 36px !important;
                    letter-spacing: 0.23px !important;
                }
            }
            .area_header_subtitle {
                width: 100% !important;
                span {
                    font-size: 16px !important;
                    line-height: 26px !important;
                }
            }
        }
    }
}