<div class="improve">
    <div class="improve__container">
        <div class="improve__heading">
            <span class=improve__heading--title>{{'partner_view_title' | translate}}</span>
            <span class=improve__heading--subtitle [innerHtml]="'partner_view_subtitle' | translate"></span>
        </div>
        <div class="become_partner">
            <button class="btn" (click)="openPartnerSignUpDialog()">{{'_become_partner' | translate }}</button>
        </div>
    </div>
</div>