:host /deep/ {
    .improve {
        height: 875px;
        background: rgb(18, 28, 39);
        display: flex;
        &__container {
            width: 75%;
            height: 50%;
            margin: auto auto 304px auto;
            .improve__heading {
                text-align: center;
                color: rgb(255, 255, 255);
                .improve__heading--title {
                    display: block;
                    font-family: Lato Black;
                    font-size: 122px;
                    line-height: 140px;
                    letter-spacing: 1.01px;
                }
                .improve__heading--subtitle {
                    display: block;
                    font-family: Lato Light;
                    font-size: 28px;
                    line-height: 40px;
                    .bold {
                        font-family: Lato Bold;
                    }
                }
            }
            .become_partner {
                display: flex;
                justify-content: center;
                margin-top: 30px;
                button {
                    text-transform: uppercase;
                    border-radius: 25px;
                    background-color: rgb(47, 204, 113);
                    color: white;
                    font-family: Lato Bold;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: 0.15px;
                    padding: 12px 20px;
                }
            }
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1475px) {
        .improve__heading--title {
            font-size: 100px !important;
            line-height: 120px !important;
            letter-spacing: 0.5px !important;
        }
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .improve__container {
            width: 89.75% !important;
        }
        .improve {}
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .improve__container {
            width: 90.13% !important;
            margin: auto auto 255px auto !important;
            height: initial !important;
        }
        .improve {
            height: 637px !important;
        }
        .improve__heading--title {
            font-size: 45px !important;
            line-height: 70px !important;
            letter-spacing: 0.37px !important;
        }
        .improve__heading--subtitle {
            font-size: 24px !important;
            line-height: 35px !important;
        }
    }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
        .improve__container {
            width: 88.02% !important;
            margin: auto !important;
            height: initial !important;
            margin-bottom: 255px !important;
        }
        .improve {
            height: 637px !important;
        }
        .improve__heading--title {
            font-size: 45px !important;
            line-height: 70px !important;
            letter-spacing: 0.37px !important;
        }
        .improve__heading--subtitle {
            font-size: 24px !important;
            line-height: 35px !important;
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 600px) {
        .improve__container {
            width: 88.02% !important;
            margin: auto !important;
            height: initial !important;
            margin-bottom: 200px !important;
        }
        .improve {
            height: 637px !important;
        }
        .improve__heading--title {
            font-size: 35px !important;
            line-height: 55px !important;
            letter-spacing: 0.23px !important;
        }
        .improve__heading--subtitle {
            font-size: 20px !important;
            line-height: 30px !important;
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .improve__container {
            width: 89.33% !important;
            margin: auto !important;
            height: initial !important;
        }
        .improve {
            height: 438px !important;
        }
        .improve__heading--title {
            font-size: 28px !important;
            line-height: 36px !important;
            letter-spacing: 0.23px !important;
        }
        .improve__heading--subtitle {
            font-size: 16px !important;
            line-height: 26px !important;
        }
    }
}