<div class="auction_tab">
    <div class="auction_tab_header">
        <div class="auction_tab_header_container">
            <div class="tab_links">
                <div class="tab_links_item" [class.active]="link === activeLink" *ngFor="let link of tabLinks">
                    <span [class.active]="link === activeLink">{{link | translate}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="auction_tab_body">
        <div class="auction_tab_body_container" [ngSwitch]="activeLink">
            <car-classes *ngSwitchCase="'_preorder_car_class'" (nextTab)="nextTabAfterCarClass()"
                (selectedTripType)="onSelectedTripTypeChange($event)"></car-classes>
            <div *ngSwitchCase="'_preorder_login'" [ngSwitch]="signInOrSignUpActive">
                <div class="tab_links login_switch">
                    <div (click)="onSignInOrSignUpTabLinkClick('signIn')" class="tab_links_item"
                        [class.active]="'signIn' === signInOrSignUpActive">
                        <span [class.active]="'signIn' === signInOrSignUpActive">{{'signIn' | translate}}</span>
                    </div>
                    <div (click)="onSignInOrSignUpTabLinkClick('signUp')" class="tab_links_item"
                        [class.active]="'signUp' === signInOrSignUpActive">
                        <span [class.active]="'signUp' === signInOrSignUpActive">{{'signUp' | translate}}</span>
                    </div>
                </div>
                <sign-in-page *ngSwitchCase="'signIn'" (clientLoggedIn)="nextPageAfterLoggedInOrSignUp()">
                </sign-in-page>
                <sign-up-to-rides (clientSignedUp)="nextPageAfterLoggedInOrSignUp()" *ngSwitchCase="'signUp'">
                </sign-up-to-rides>
            </div>
            <checkout-page [selectedTripType]="tripType" *ngSwitchCase="'_preorder_checkout'"></checkout-page>
        </div>
    </div>
</div>