<div class="change_password">
    <div class="change_password_title">
        <span>{{'_change_password' | translate}}</span>
    </div>

    <form class="change_password_form" [formGroup]="changePasswordForm">
        <div class="form-group row">
            <div class="col-6">
                <label for="current_password">{{'_current_passsword' | translate}}</label>
                <input type="password" formControlName="oldPassword" id="current_password" class="form-control" placeholder="Current Password">
            </div>
            <div class="col-6">
                <label for="new_password">{{'_new_password' | translate}}</label>
                <input type="password" formControlName="newPassword" id="new_password" class="form-control" placeholder="Enter Your Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-6">

            </div>
            <div class="col-6 save-btn-container">
                <button (click)="onChangePassword()" [disabled]="changePasswordForm.invalid" class="btn save-btn ">{{'_save' | translate}}</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf="showOverlay" class="spinner"></div>