.change_password {
    padding: 28px 20px;
    width: 100%;
    background-color: rgb(14, 24, 35);
    &_title {
        margin-bottom: 28px;
        span {
            font-family: Lato Bold;
            font-size: 24px;
            color: rgb(255, 255, 255);
        }
    }
    &_form {
        .save-btn-container {
            display: flex;
            align-items: flex-end;
            .save-btn {
                background: rgb(47, 204, 113);
                width: 100%;
                height: 40px;
                font-family: Lato Bold;
                border-radius: 4px;
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.13px;
                color: rgb(255, 255, 255)
            }
        }
        .form-group {
            margin-bottom: 29px;
        }
        label {
            padding-left: 15px;
            padding-bottom: 9px;
            font-family: Lato Regular;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 0;
            letter-spacing: 0.12px;
            color: rgb(255, 255, 255);
            white-space: nowrap;
            span {
                color: rgb(255, 59, 89)
            }
        }
        input {
            font-family: Lato Regular;
            font-size: 16px;
            line-height: 0px;
            color: rgb(255, 255, 255);
            background-color: rgb(72, 75, 80);
            border: 1px solid rgba(255, 255, 255, 0);
            height: 40px;
            border-radius: 4px;
        }
        .no_label {
            display: flex;
            align-items: flex-end;
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 550px) and (max-width: 768px) {}

@media only screen and (min-width: 0px) and (max-width: 550px) {
    .change_password {
        background-color: rgb(18, 28, 39) !important;
        padding: 0 !important;
        &_title {
            text-align: center;
        }
    }
    .form-group {
        margin-bottom: 0 !important;
    }
    .col-6 {
        flex: 0 0 100% !important;
        max-width: 100% !important;
        &:not(:last-child) {
            margin-bottom: 29px !important;
        }
    }
}