<div class="how_become" [style.minHeight]="howBecomeData.status=='cities' ? '680px' : '633px' " [style.backgroundColor]="howBecomeData.status=='cities' ? 'rgba(18,28,38)' : 'rgb(255,255,255)' ">
    <div class="how_become_container">
        <div class="how_become_title"><span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' ">{{howBecomeData.title | translate}}</span></div>
        <div class="how_become_subtitle">
            <span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' " *ngIf="howBecomeData.status=='drive'" [innerHtml]="'_how_become_partner_description' | translate">
              
            </span>
            <span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' " *ngIf="howBecomeData.status=='ride'" [innerHtml]="'_key_features_description' | translate">
                   
            </span>
            <span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' " *ngIf="howBecomeData.status=='partner'" [innerHtml]="'who_can_work_with_us_description' | translate">

            </span>
            <span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' " *ngIf="howBecomeData.status=='cities'" [innerHtml]="'_how_become_cities_description' | translate">

            </span>
        </div>
        <div class="how_become_conditions">
            <div class="how_become_condition" *ngFor="let condition of howBecomeData.items">
                <img class="how_become_condition_image" src="{{condition.image}}">
                <div class="how_become_condition_title">
                    <span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' ">{{condition.title | translate}}</span>
                </div>
                <div class="how_become_condition_subtitle">
                    <span [style.color]="howBecomeData.status=='cities' ? 'white' : 'rgb(18, 28, 39)' ">
                       {{condition.subtitle | translate}}
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>