<div class="key_feautures">
    <div class="key_feautures_container">
        <div class="key_feautures_title"><span>{{'_partner_key_feautures' | translate}}</span></div>
        <div class="key_feautures_subtitle"><span>{{'_partner_key_feautures_description' | translate}}</span></div>
        <div class="key_feautures_content">
            <div class="key_feautures_content_left">
                <div class="feautures">
                    <div class="futures_title"> <img src="assets/partner/check.png"> <span>{{'_partner_key_feauture_one_title' | translate}}</span> </div>
                    <div class="feautures_subtitle"> <span>{{'_partner_key_feauture_one_subtitle' | translate}}</span> </div>
                </div>
                <div class="feautures last of_first_child">
                    <div class="futures_title"> <img src="assets/partner/check.png"> <span>{{'_partner_key_feauture_two_title' | translate}}</span> </div>
                    <div class="feautures_subtitle"> <span>{{'_partner_key_feauture_two_subtitle' | translate}}</span> </div>
                </div>
            </div>
            <div class="key_feautures_content_right">
                <div class="feautures">
                    <div class="futures_title"> <img src="assets/partner/check.png"> <span>{{'_partner_key_feauture_three_title' | translate}}</span> </div>
                    <div class="feautures_subtitle"> <span>{{'_partner_key_feauture_three_subtitle' | translate}}</span> </div>
                </div>
                <div class="feautures last">
                    <div class="futures_title"><img src="assets/partner/check.png"> <span>{{'_partner_key_feauture_four_title' | translate}}</span> </div>
                    <div class="feautures_subtitle"> <span>{{'_partner_key_feauture_four_subtitle' | translate}}</span> </div>
                </div>
            </div>
        </div>
    </div>
</div>