    .key_feautures {
        margin-top: 150px;
        height: 690px;
        width: 100%;
        display: flex;
        background-color: rgb(18, 28, 39);
        .key_feautures_container {
            width: 75%;
            margin: auto;
            .key_feautures_title {
                text-align: center;
                span {
                    font-family: Lato Black;
                    font-size: 55px;
                    line-height: 75px;
                    letter-spacing: 0.45px;
                    color: rgb(255, 255, 255)
                }
            }
            .key_feautures_subtitle {
                width: 83%;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 50px;
                span {
                    font-family: Lato Light;
                    font-size: 24px;
                    line-height: 35px;
                    color: rgb(255, 255, 255)
                }
            }
            .key_feautures_content {
                width: 83%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .key_feautures_content_right,
                .key_feautures_content_left {
                    width: 38.8%;
                }
                .feautures {
                    margin-bottom: 50px;
                    &.last {
                        margin-bottom: 0;
                    }
                    .futures_title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 20px;
                        span {
                            display: block;
                            font-family: Lato Black;
                            font-size: 28px;
                            line-height: 38px;
                            letter-spacing: 0.23px;
                            color: rgb(255, 255, 255);
                            text-align: left;
                            margin-left: 15px;
                        }
                    }
                    .feautures_subtitle {
                        span {
                            font-family: Lato Light;
                            font-size: 20px;
                            line-height: 30px;
                            color: rgb(255, 255, 255);
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
    
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .key_feautures_container {
            width: 89.75% !important;
        }
        .key_feautures {
            height: 753px !important;
        }
    }
    
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .key_feautures_container {
            width: 90.13% !important;
        }
        .key_feautures {
            height: 557px !important;
            margin-top: 0 !important;
        }
        .key_feautures_content {
            width: 100% !important;
        }
        .key_feautures_content_right,
        .key_feautures_content_left {
            width: 42.3% !important;
        }
        .key_feautures_title {
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .key_feautures_subtitle {
            width: 100% !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .futures_title {
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
            }
        }
        .feautures_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
    
    @media only screen and (min-width: 655px) and (max-width: 768px) {
        .key_feautures_container {
            width: 88.02% !important;
        }
        .key_feautures {
            height: 604px !important;
            margin-top: 0 !important;
        }
        .key_feautures_content {
            width: 100% !important;
        }
        .key_feautures_content_right,
        .key_feautures_content_left {
            width: 39.3% !important;
        }
        .key_feautures_title {
            span {
                font-size: 36px !important;
                line-height: 46px !important;
                letter-spacing: 0.3px !important;
            }
        }
        .key_feautures_subtitle {
            width: 100% !important;
            span {
                font-size: 18px !important;
                line-height: 28px !important;
            }
        }
        .futures_title {
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
            }
        }
        .feautures_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
    
    @media only screen and (min-width: 350px) and (max-width: 655px) {
        .key_feautures {
            height: 787px !important;
            margin-top: 0 !important;
        }
    }
    
    @media only screen and (min-width: 0) and (max-width: 655px) {
        .key_feautures_container {
            width: 89.33% !important;
        }
        .of_first_child {
            margin-bottom: 40px !important;
        }
        .key_feautures_content {
            width: 100% !important;
            flex-direction: column !important;
        }
        .key_feautures_content_right,
        .key_feautures_content_left {
            width: 100% !important;
        }
        .key_feautures_title {
            margin-bottom: 10px !important;
            span {
                font-size: 28px !important;
                line-height: 36px !important;
                letter-spacing: 0.23px !important;
            }
        }
        .key_feautures_subtitle {
            margin-bottom: 40px !important;
            width: 100% !important;
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
        .futures_title {
            margin-bottom: 10px !important;
            span {
                font-size: 20px !important;
                line-height: 30px !important;
                letter-spacing: 0.17px !important;
            }
        }
        .feautures_subtitle {
            span {
                font-size: 16px !important;
                line-height: 26px !important;
            }
        }
    }
    
    @media only screen and (min-width: 0) and (max-width: 350px) {
        .key_feautures {
            height: 830px !important;
            margin-top: 0 !important;
        }
    }