/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ngx-toastr/toastr.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "src/app/com/annaniks/zont-client/styles/__variables.scss";
@font-face {
  font-display: swap;
  font-family: Lato Bold;
  src: url(assets/fonts/Lato-Bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: Lato Black;
  src: url(assets/fonts/Lato-Black.ttf);
}

@font-face {
  font-display: swap;
  font-family: Lato Light;
  src: url(assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-display: swap;
  font-family: Lato Regular;
  src: url(assets/fonts/Lato-Regular.ttf);
}
* {
  outline: none;
  &:focus {
    outline: none !important;
  }
}

input[type="checkbox" i] {
  -webkit-appearance: checkbox !important;
  -moz-appearance: checkbox !important;
  appearance: checkbox !important;
  box-sizing: border-box !important;
}

.form-control:focus {
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

body {
  margin: 0;
  padding: 0;
  min-width: 340px;
}

.mat-calendar-body-selected {
  background-color: rgb(47, 204, 113) !important;
  border-radius: 6px !important;
}

.mat-calendar-previous-button {
  order: 1 !important;
}

.mat-calendar-period-button {
  order: 2 !important;
}

.mat-calendar-next-button {
  order: 3 !important;
}

.mat-calendar-spacer {
  display: none !important;
}

.mat-calendar-controls {
  justify-content: space-between !important;
}

//Asyai koment erac styley
// .mat-calendar-table-header {
//     color: rgb( 18, 28, 39) !important;
// }
.mat-calendar-body,
.mat-calendar-table,
.mat-calendar-period-button {
  font-family: Lato Bold !important;
}

.sign_in_modal_partner .mat-dialog-container,
.sign_in_modal .mat-dialog-container,
.sign_up_modal .mat-dialog-container {
  padding: 0;
}

.sign_up_modal {
  width: 100vw;
  max-width: 100vw !important;
  height: 100vh;
}

.sign_up_modal .mat-dialog-container {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

@media only screen and (min-width: 0px) and (max-width: 635px) {
  .sign_in_modal_partner {
    max-width: 100vw !important;
    height: 100vh;
    min-width: 320px;
    width: 100%;
  }
  .sign_in_modal_partner .mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
  }
}

.mat-sidenav-container {
  overflow: visible !important;
}

.mat-sidenav-container {
  overflow: visible !important;
}

@media only screen and (min-width: 0px) and (max-width: 375px) {
  .sign_in_modal {
    max-width: 100vw !important;
    height: 100vh;
    min-width: 320px;
  }
  .sign_in_modal .mat-dialog-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
  }
}

.toast {
  width: 100% !important;
  text-align: center !important;
  font-family: Lato Light;
}

.toast-success {
  background-color: #2fcc71 !important;
}

.toast-error {
  background-color: #b00020 !important;
}

.timepicker__header {
  background-color: #2fcc71 !important;
}

.clock-face__number {
  span.active {
    background-color: #2fcc71 !important;
  }
}

.timepicker-button {
  color: #2fcc71 !important;
}

//stexic Asyai stylern en
.mat-calendar-content {
  padding: 12px 8px 8px 8px !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: rgb(47, 204, 113);
  background: #2fcc71;
  border-radius: 10px !important;
}

.mat-calendar-body {
  font-size: 16px;
}

.mat-calendar-body-selected {
  background-color: #2fcc71 !important;
  border-radius: 10px !important;
}

.mat-calendar-body-today.mat-calendar-body-selected {
  box-shadow: none;
}

.mat-calendar-body-today {
  border-color: rgb(47, 204, 113);
  background: #2fcc71;
  border-radius: 10px !important;
}

.cdk-keyboard-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.cdk-program-focused .mat-calendar-body-active > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: #2fcc71 !important;
  border-radius: 10px !important;
}

.mat-select-panel {
  background: #484b50 !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  color: #fff;
  font-size: 16px;
  font-family: Lato Regular;
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
  background: none;
  color: #ffffff75;
}

.spinner {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  z-index: 1;
  -webkit-animation: rotation 1s infinite linear;
  -moz-animation: rotation 1s infinite linear;
  -o-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
  border-left: 6px solid rgba(47, 204, 113, 0.15);
  border-right: 6px solid rgba(47, 204, 113, 0.15);
  border-bottom: 6px solid rgba(47, 204, 113, 0.15);
  border-top: 6px solid rgba(47, 204, 113, 0.8);
  border-radius: 100%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@-moz-keyframes rotation {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(359deg);
  }
}

@-o-keyframes rotation {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
