.payment {
    background-color: rgb(14, 24, 35);
    padding: 28px 20px;
    &_title {
        margin-bottom: 28px;
        span {
            font-family: Lato Bold;
            font-size: 24px;
            color: rgb(255, 255, 255);
        }
    }
    .add_bank_card {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background-color: rgba(72, 75, 80, 0.42);
        border: 1px solid rgba(255, 255, 255, 0.05);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            margin-right: 10px;
            height: 13.8px;
        }
        span {
            font-family: Lato Regular;
            font-size: 16px;
            line-height: 19px;
            color: rgb(255, 255, 255)
        }
    }
    .new_card_form {
        width: 100%;
        margin-top: 30px;
        .cancelAndDoneButtons {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            .buttonCancel {
                width: 48%;
                .start_button {
                    font-family: Lato Bold;
                    color: rgb(18, 28, 39);
                    background: rgb(255, 255, 255);
                    line-height: 19px;
                    font-size: 16px;
                    height: 40px;
                    letter-spacing: 0.13px;
                    width: 100%;
                }
            }
            .buttonDone {
                width: 48%;
                .start_button {
                    font-family: Lato Bold;
                    color: rgb(255, 255, 255);
                    background: rgb(47, 204, 113);
                    line-height: 19px;
                    font-size: 16px;
                    height: 40px;
                    letter-spacing: 0.13px;
                    width: 100%;
                }
            }
        }
        .privacy_policy {
            margin-bottom: 25px;
            label {
                display: block;
                font-family: Lato Regular;
                font-size: 14px;
                line-height: 20px;
                padding-left: 0px;
                color: #ffffff;
                white-space: nowrap;
            }
            input {
                width: 13px;
                height: 13px;
                padding: 0;
                margin: 0;
                vertical-align: middle;
                position: relative;
                top: -1px;
                *overflow: hidden;
            }
        }
        .cardNumberAndCardHolderName {
            width: 100%;
            display: block;
            .cardNumber {
                width: 100%
            }
            .cardHolderName {
                width: 100%;
            }
        }
        .expDateAndCvv {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .expDate {
                width: 48%
            }
            .cvv {
                width: 48%
            }
        }
        input {
            border: 1px solid rgba(0, 0, 0, 0.05);
            font-family: Lato Regular;
            height: 40px;
            color: rgba(255, 255, 255, 0.5);
            background: #484b50;
        }
        label {
            font-family: Lato Regular;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.12px;
            padding-left: 13px;
            color: #ffffff;
            .text-danger {
                font-size: 14px;
            }
        }
    }
}

.expDateAndCvv {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    .form-inline {
        display: flex;
        align-items: center;
        input {
            width: 40%;
        }
        span {
            font-size: 28px;
            font-family: Lato Bold;
            color: white;
            margin: 0 5px
        }
    }
    .expDate {
        width: 48%;
        display: flex;
        align-items: center;
    }
    .cvv {
        width: 48%
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 550px) and (max-width: 768px) {}

@media only screen and (min-width: 0px) and (max-width: 550px) {
    .payment {
        background-color: rgb(18, 28, 39) !important;
        padding: 0 !important;
        &_title {
            text-align: center;
        }
    }
}