<div class="payment">
    <div class="payment_title"><span>{{'_payment' | translate}}</span></div>
    <div *ngIf="!addNewCard">
        <bank-card (cardWasDeleted)="handleCardDeleteEvent()" *ngFor="let card of allCards;let ind=index" [setValue]="value" [card]="card" [value]="card.id" (getValue)="getValue($event)"></bank-card>
        <div (click)="toggleAddCardValue()" class="add_bank_card">
            <img src="assets/auction/add.png" alt="">
            <span>{{'_add_new_card' | translate}}</span>
        </div>
    </div>
    <div class="new_card_form" *ngIf="addNewCard">
        <form class="card_form" [formGroup]="paymentForm">
            <div class="destination_container">
                <div class="cardNumberAndCardHolderName">
                    <div class="form-group cardNumber">
                        <label for="cardNumber">{{'_card_number' | translate}}<span class="text-danger">*</span> </label>
                        <input formControlName="cardNumber" class="form-control" id="cardNumber" placeholder="+3545 4787 8787 8787 8787" />
                    </div>
                    <div class="form-group cardHolderName">
                        <label for="cardHolderName">{{'_card_holder_name' | translate}} <span class="text-danger" >*</span>     </label>
                        <input formControlName="cardHolderName" class="form-control" id="cardHolderName" placeholder="John Smith" />
                    </div>
                </div>
                <div class="expDateAndCvv">
                    <div class="form-group">
                        <label for="expDate">{{'_card_expiration_date' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                        <div class="form-inline">
                            <input digitOnly maxlength="2" #month formControlName="expDateMonth" class="form-control" id="expDate" placeholder="MM" /> <span> / </span><input digitOnly maxlength="2" #year type="text" placeholder="YY" class="form-control"
                                formControlName="expDateYear">

                        </div>
                    </div>
                    <div class="form-group cvv">
                        <label for="cvv">{{'_card_cvv' | translate}}
                                    <span class="text-danger">*</span>
                                </label>
                        <input type="password" formControlName="cvv" class="form-control" id="cvv" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="privacy_policy">
                <label><input class="" type="checkbox" /> {{'_make_default_payment' | translate}}</label>
            </div>
            <div class="cancelAndDoneButtons">
                <div class="buttonCancel">
                    <button (click)="toggleAddCardValue()" class="btn start_button">{{'_cancel' | translate}}</button>
                </div>
                <div class="buttonDone">
                    <button (click)="toggleAddCardValue(true)" class="btn start_button" [disabled]="paymentForm.invalid">{{'_done' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>