:host /deep/ {
    .sign_in {
        width: 100%;
        height: 629px;
        .sign_in_container {
            width: 50%;
            margin: auto;
            .sign_in_form {
                margin-top: 80px;
                .form-group {
                    margin-bottom: 60px;
                    &:not(:last-child) {
                        margin-bottom: 29px;
                    }
                }
                input {
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    font-family: Lato Regular;
                    height: 40px;
                    color: rgba(255, 255, 255, 0.5);
                    background: #484b50;
                }
                label {
                    font-family: Lato Regular;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.12px;
                    padding-left: 13px;
                    color: #ffffff;
                    .text-danger {
                        font-size: 14px;
                    }
                }
                .socialSignIn {
                    height: 130px;
                    display: flex;
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    .social_sign_in {
                        display: flex;
                        margin: auto;
                        align-items: center;
                        justify-content: center;
                        img {
                            width: 36px;
                            height: 36px;
                            cursor: pointer;
                            &:first-child {
                                margin-right: 40px;
                            }
                        }
                    }
                }
                .start_button {
                    font-family: Lato Bold;
                    color: rgb(255, 255, 255);
                    background: rgb(47, 204, 113);
                    line-height: 19px;
                    font-size: 16px;
                    height: 40px;
                    width: 100%;
                }
                .forgot_password {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 15px;
                    span {
                        font-family: Lato Bold;
                        font-size: 18px;
                        line-height: 30px;
                        color: #ffffff
                    }
                }
            }
        }
    }
    ::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
        font-family: Lato Regular
    }
    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        .sign_in {
            .sign_in_container {
                width: 48.9% !important;
                .sign_in_form {
                    margin-top: 99px !important;
                }
            }
        }
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        .sign_in {
            height: 589px !important;
            .sign_in_container {
                width: 65.9% !important;
                .sign_in_form {
                    margin-top: 79px !important;
                }
            }
        }
    }
    @media only screen and (min-width: 375px) and (max-width: 768px) {
        .sign_in {
            height: 559px !important;
            .sign_in_container {
                width: 82% !important;
                .sign_in_form {
                    margin-top: 49px !important;
                }
            }
        }
    }
    @media only screen and (min-width: 0px) and (max-width: 375px) {
        .sign_in {
            height: 487px !important;
            .sign_in_container {
                width: 100% !important;
                .sign_in_form {
                    margin-top: 49px !important;
                    .form-group {
                        margin-bottom: 50px !important;
                        &:not(:last-child) {
                            margin-bottom: 29px !important;
                        }
                    }
                    .socialSignIn {
                        height: 96px !important;
                    }
                    .forgot_password {
                        justify-content: none;
                        span {
                            margin: auto
                        }
                    }
                }
            }
        }
    }
}