<div class="sign_in">
    <div class="sign_in_container">
        <form class="sign_in_form" [formGroup]="loginForm">
            <div class="destination__container">
                <div class="form-group">
                    <label for="email">{{'_sign_in_email' | translate}}
                         <span class="text-danger">*</span>
                        </label>

                    <input formControlName="username" class="form-control" id="email" placeholder="{{'_sign_in_email' | translate}}" />

                </div>

                <div class="form-group">
                    <label for="password">{{'_sign_in_password' | translate}}</label>
                    <input type="password" formControlName="password" class="form-control" id="password" placeholder="{{'_sign_in_password' | translate}}" />
                </div>
            </div>

            <div class="socialSignIn">
                <div class="social_sign_in">
                    <img (click)="onClickSocialLogin('facebook')" src="assets/sign-in-up/fb.png">
                    <img (click)="onClickSocialLogin('google')" src="assets/sign-in-up/g+.png">
                </div>
            </div>
            <div>
                <button class="btn start_button" (click)="onClickLogin()" [disabled]="loginForm.invalid">{{'signIn' | translate}}</button>
            </div>
            <div class="forgot_password">
                <span>{{'forgot_password?' | translate}}</span>
            </div>
        </form>
    </div>
</div>
<div *ngIf="showOverlay" class="spinner"></div>