.search-rides {
    width: 100%;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    .search-table {
        width: 83%;
        display: block;
        margin: auto;
        .searchingTable {
            width: 100%;
            display: flex;
            .from {
                width: 29%;
                margin-right: 12px;
                display: block;
                .directionFrom {
                    width: 100%;
                    height: 30px;
                    padding-left: 15px;
                    span {
                        color: white;
                        font-size: 14px;
                        font-family: Lato Regular;
                    }
                }
                .dateInput {
                    border-radius: 4px;
                    background: #484B50;
                    width: 100%;
                    input {
                        width: 85%;
                        background: #484b50;
                        color: #ffffff;
                        font-family: Lato Regular;
                        font-size: 16px
                    }
                }
            }
            .to {
                width: 29%;
                margin-left: 12px;
                display: block;
                margin-right: 12px;
                .directionTo {
                    width: 100%;
                    height: 30px;
                    padding-left: 15px;
                    span {
                        color: white;
                        font-size: 14px;
                        font-family: Lato Regular;
                    }
                }
                .dateInput {
                    border-radius: 4px;
                    background: #484B50;
                    width: 100%;
                    input {
                        width: 85%;
                        background: #484b50;
                        color: #ffffff;
                        font-family: Lato Regular;
                        font-size: 16px
                    }
                }
            }
            .status {
                width: 18.5%;
                margin-left: 12px;
                margin-right: 12px;
                .stat {
                    width: 100%;
                    height: 30px;
                    padding-left: 15px;
                    span {
                        color: white;
                        font-size: 14px;
                        font-family: Lato Regular;
                    }
                }
                .select {
                    border-radius: 4px;
                    background: #484B50;
                    width: 100%;
                }
            }
            .buttonForSearch {
                width: 18.5%;
                height: 100%;
                margin-left: 12px;
                .empty {
                    width: 100%;
                    height: 30px;
                }
                .searchButton {
                    width: 100%;
                    .button {
                        width: 100%;
                        background: #2FCC71;
                        border-radius: 4px;
                        display: flex;
                        height: 40px;
                    }
                    .button:hover {
                        cursor: pointer
                    }
                    span {
                        font-size: 16px;
                        font-family: Lato Bold;
                        margin: auto;
                        color: #ffffff
                    }
                }
            }
        }
    }
    .search-button-for-768 {
        display: none
    }
}

.resultsView {
    width: 100%;
    .results {
        width: 83%;
        justify-content: space-between;
        display: flex;
        margin: auto;
        .result {
            width: fit-content;
            height: 27px;
            span {
                color: #ffffff7a;
                font-size: 20px;
                font-family: Lato Light;
            }
        }
        .sorting {
            width: fit-content;
            height: 24px;
            position: relative;
            i {
                color: #ffffff
            }
            .sort {
                position: absolute;
                height: 94px;
                width: 300px;
                background: #484b50;
                top: 30px;
                display: none;
                border: 1px solid #ffffff;
                border-radius: 4px;
                right: 0px;
                .oldToNew {
                    height: 50%;
                    display: flex;
                    width: 100%;
                    span {
                        color: white;
                        margin: auto;
                        font-size: 18px;
                        font-family: Lato Regular;
                    }
                }
                .newToOld {
                    height: 50%;
                    width: 100%;
                    display: flex;
                    span {
                        color: white;
                        margin: auto;
                        font-size: 18px;
                        font-family: Lato Regular;
                    }
                }
            }
        }
        .sorting:hover {
            cursor: pointer
        }
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .search-table {
        width: 82.9% !important;
    }
    .resultsView {
        .results {
            width: 82.9%;
        }
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .search-rides {
        .search-table {
            width: 100%;
            .from {
                width: 31% !important;
            }
            .to {
                width: 31% !important;
            }
            .status {
                width: 14.5% !important;
            }
            .buttonForSearch {
                width: 14.5% !important;
            }
        }
    }
    .resultsView {
        .results {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
    .search-rides {
        .search-table {
            width: 99.5%;
            .from {
                width: 31% !important;
            }
            .to {
                width: 31% !important;
            }
            .status {
                width: 31% !important;
                margin-right: 0px !important;
            }
            .buttonForSearch {
                display: none !important
            }
        }
        .search-button-for-768 {
            display: block;
            width: 100%;
            padding-top: 30px;
            .searchButton {
                width: 100%;
                height: 40px;
                .button {
                    height: 100%;
                    width: 100%;
                    background: #2FCC71;
                    border-radius: 4px;
                    display: flex
                }
                .button:hover {
                    cursor: pointer
                }
                span {
                    font-size: 16px;
                    font-family: Lato Bold;
                    margin: auto;
                    color: #ffffff
                }
            }
        }
    }
    .resultsView {
        .results {
            width: 99.5%;
        }
    }
}

@media only screen and (min-width: 0) and (max-width: 375px) {
    .search-rides {
        display: block;
        padding-top: 30px;
        padding-bottom: 30px;
        .search-table {
            width: 99.5%;
            .searchingTable {
                display: block;
                .from {
                    width: 100% !important;
                    padding-top: 22px !important;
                    margin-right: 0px !important;
                }
                .to {
                    width: 100% !important;
                    padding-top: 22px !important;
                    margin-right: 0px !important;
                    margin-left: 0px !important
                }
                .status {
                    width: 100% !important;
                    padding-top: 22px !important;
                    margin-right: 0px !important;
                    margin-left: 0px !important
                }
                .buttonForSearch {
                    width: 100% !important;
                    display: block !important;
                    margin-left: 0px !important
                }
            }
        }
        .search-button-for-768 {
            display: none !important;
        }
    }
    .resultsView {
        .results {
            width: 99.5%;
        }
    }
}

 :host ::ng-deep .mat-datepicker-content .mat-calendar-next-button,
.mat-datepicker-content .mat-calendar-previous-button,
.mat-datepicker-toggle {
    color: #ffffff81;
}

 :host ::ng-deep .mat-button-wrapper .mat-datepicker-toggle-default-icon {
    height: 16px !important;
    width: 16px !important;
    margin-bottom: 3px;
}

 :host ::ng-deep .mat-icon-button {
    width: 15% !important;
}

 :host ::ng-deep .mat-datepicker-content {
    background-color: #0e1823 !important;
}

 :host ::ng-deep .mat-calendar-table-header {
    color: #ffffff;
}

 :host ::ng-deep .mat-select-trigger {
    height: 40px
}

 :host ::ng-deep .mat-select-arrow {
    color: rgb(255, 255, 255);
}

 :host ::ng-deep .ng-trigger .ng-trigger-transformPanel .ng-tns-c8-0 .mat-select-panel .ng-star-inserted {
    min-width: 100px;
    pointer-events: auto;
    font-size: 16px;
    transform: translateX(0px) translateY(-8px);
    top: 263px;
    left: 550.859px;
    background: #484b50;
}

 :host ::ng-deep .mat-select-value {
    color: #ffffff;
    padding: 10px 0px 9px 15px;
}

 :host ::ng-deep .mat-select-value-text {
    font-size: 16px;
    font-family: Lato Regular
}

 :host ::ng-deep .mat-select-placeholder {
    color: #ffffff69;
}

 ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size: 16px;
    font-family: Lato Regular;
    color: #ffffff69;
}

 :host ::ng-deep .mat-select-arrow-wrapper {
    padding-right: 10px;
}