<form [formGroup]="searchForm">
    <div class="search-rides">
        <div class="search-table">
            <div class="searchingTable">
                <div class="from">
                    <div class="directionFrom">
                        <span> {{'_preorder_pickup_placeholder' | translate}}</span>
                    </div>
                    <div class="dateInput">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <input [matDatepicker]="picker" dateFormat="dd/MM/yyyy" locale="en-GB" style="border: none"
                            placeholder="{{'_pick_a_date_placeholder' | translate}}" (click)="picker.open()">
                    </div>
                </div>
                <div class="to">
                    <div class="directionTo">
                        <span>{{'_preorder_drop_placeholder' | translate}}</span>
                    </div>
                    <div class="dateInput">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <input [matDatepicker]="picker2" style="border: none"
                            placeholder="{{'_pick_a_date_placeholder' | translate}}" (click)="picker2.open()">
                    </div>
                </div>
                <div class="status">
                    <div class="stat">
                        <span>{{'_status' | translate}}</span>
                    </div>
                    <div class="select">
                        <mat-select style="height: 40px" formControlName="status" placeholder="Show all">
                            <mat-option *ngFor="let status of statuses" [value]="status.value">
                                {{status.name | translate}}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>
                <div class="buttonForSearch">
                    <div class="empty"> </div>
                    <div class="searchButton">
                        <div (click)="emitSearchEvent()" class="button">
                            <span>{{'_preorder_search' | translate}}</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="search-button-for-768">
                <div class="searchButton">
                    <div (click)="emitSearchEvent()" class="button">
                        <span>{{'_preorder_search' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="resultsView">
        <div class="results">
            <!-- <div class="result">
                <span>23 {{'_results_found' | translate}}</span>
            </div> -->
            <div class="sorting">
                <i class="material-icons" (click)="popUpForSortCards()">
                    sort
                </i>
                <div class="sort" [ngStyle]="{'display' : sortingCards ? 'block' : 'none'}">
                    <div class="oldToNew">
                        <span>{{'_sort_oldest_newest' | translate}}</span>
                    </div>
                    <div class="newToOld">
                        <span>{{'_sort_newest_oldest' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>